<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div layout="row">
                    <ng-md-icon icon="vpn_key" aria-label="s"></ng-md-icon>
                    <div layout="column" style="border-left: 1px solid rgb(189,189,189); margin-left: 2px; padding-left: 2px;">
                        <span class="md-subhead"><b>Cambiar contraseña</b></span>
                        <span class="md-caption">{{form.obj_.nombre_completo}}</span>
                    </div>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Contraseña actual</label>
                        <input md-autofocus type="password" ng-model="form.obj.password_actual" name="password_actual" required md-maxlength="60" minlength="6"/>
                        <div ng-messages="myform.password_actual.$error" role="alert" multiple >
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            <div ng-message="minlength" class="my-message">Mínimo de caracteres 6</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nueva contraseña</label>
                        <input type="password" ng-model="form.obj.password" name="password" required md-maxlength="60" minlength="6"/>
                        <div ng-messages="myform.password.$error" role="alert" multiple >
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            <div ng-message="minlength" class="my-message">Mínimo de caracteres 6</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Repita contraseña</label>
                        <input type="password" ng-model="form.obj.repit_password" name="repit_password" required md-maxlength="60" minlength="6"/>
                        <div ng-messages="myform.repit_password.$error" role="alert" multiple >
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            <div ng-message="minlength" class="my-message">Mínimo de caracteres 6</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Cambiando contraseña</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.changepassword()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                Cambiar contraseña
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>