<div flex="100" layout-gt-xs="row" class="md-padding perfil-head">

	<div flex style="align-items: flex-end;" layout-gt-xs="row">
	    <img class="logo btn_imagen" ng-click="ctrl.viewfoto($event, ctrl.obj)" ng-if="ctrl.obj.foto_logo_rec" ng-src="{{ctrl.obj.foto_logo_rec}}" alt="f"/>
	    <div layout="column" style="padding: 4px;">
	    	<span class="md-caption">{{ctrl.obj.tipo_persona.nombre}}</span>
	    	<span class="md-title"><b>{{ctrl.obj.nombre_completo}}</b></span>
	    	<span class="md-caption">{{ctrl.obj.oficios[0].profesion_oficio.nombre}} {{ctrl.obj.oficios[0].descripcion}}</span>
	    </div>
	</div>
	<div flex style="align-items: flex-end;" layout-gt-xs="row">
		<span flex></span>
		<md-button ng-click="ctrl.edit_datos($event)" 
		class="md-primary md-raised perfil_btn_edit">
			<ng-md-icon style="width: 20px;" icon="edit" aria-label="s"></ng-md-icon> Editar datos
		</md-button>
		<md-button ng-click="ctrl.changepass($event)" 
		class="md-primary md-raised perfil_btn_edit">
			<ng-md-icon style="width: 20px;" icon="vpn_key" aria-label="s"></ng-md-icon> Cambiar contraseña
		</md-button>
	</div>
</div>
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Información" style="line-height: 14px;">
        <md-content class="md-padding" style="background: white;">
          	
				<span class="md-subhead">Datos personales</span>
				<md-divider style="margin-bottom: 6px;"></md-divider>
				<div layout="column">
					<span class="md-caption">{{ctrl.obj.tipo_persona.nombre}}: {{ctrl.obj.nombre_completo}}</span>
					<span class="md-caption">Nombres: {{ctrl.obj.nombres}}</span>
					<span class="md-caption">Apellidos: {{ctrl.obj.papellido}} {{ctrl.obj.sapellido}}</span>
					<span class="md-caption">Sexo: {{ctrl.obj.sexo_nombre}}</span>
					<span class="md-caption">Nacionalidad: {{ctrl.obj.nacionalidad.nombre}}</span>
					<span class="md-caption" ng-if="ctrl.obj.tipo_fecha_id">{{ctrl.obj.tipo_fecha.nombre}}: {{ctrl.obj.dia}} {{ctrl.obj.mes.nombre}} {{ctrl.obj.anio}}</span>
					<span class="md-caption" ng-repeat="p in ctrl.obj.documentos">{{p.tipo_documento.nombre}}: {{p.numero}}</span>
				</div>
				<br>
				<span class="md-subhead">Direcciones</span>
				<md-divider style="margin-bottom: 6px;"></md-divider>
				<div layout="column">
					<span class="md-caption" ng-repeat="p in ctrl.obj.direcciones">{{p.tipo_direccion.nombre}}: {{p.direccion_detalle}}<span ng-if="p.ubigeo.id">, {{p.ubigeo.nombre}}</span><span ng-if="p.ubigeo.padre.id">, {{p.ubigeo.padre.nombre}}</span><span ng-if="p.ubigeo.padre.padre.id">, {{p.ubigeo.padre.padre.nombre}}</span> - {{p.pais.nombre}}</span>
				</div>
				<br>
				<span class="md-subhead">Contacto</span>
				<md-divider style="margin-bottom: 6px;"></md-divider>
				<div layout="column">
					<span class="md-caption" title="{{p.cuenta_contacto.nombre}}" ng-repeat="p in ctrl.obj.contactos">{{p.tipo_contacto.nombre}} {{p.etiqueta_contacto.nombre}}: {{p.pais.codigo_telefono}} <span ng-if="p.etiqueta_contacto.tiene_cod_ubigeo == 'SI'">{{p.ubigeo.codigo_telefono}} </span>{{p.valor_contacto}}</span>
				</div>
				<br>
				<span class="md-subhead">Profesión/oficios</span>
				<md-divider style="margin-bottom: 6px;"></md-divider>
				<div layout="column">
					<span class="md-caption" ng-repeat="p in ctrl.obj.oficios">{{p.profesion_oficio.nombre}} {{p.descripcion}}
					</span>
				</div>
				<br>
        </md-content>
      </md-tab>
      <md-tab label="Roles">
        <md-content class="md-padding" style="background: white;">
          <h1 class="md-display-1">Roles</h1>
          <p>Funciones que cumple en la organizaciones con fecha de caducidad</p>
        </md-content>
      </md-tab>
      <md-tab label="Sesiones">
        <md-content class="md-padding" style="background: white;">
          <h1 class="md-display-1">Historial</h1>
          <p>Últimos inicios de sesión al sistema, puede eliminar sesiones con tokens vigentes</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>