<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="layers" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span ng-if="form.obj_.id"><b>comprobante configurado</b></span>
                    <span ng-if="!form.obj_.id"><b>comprobante a configurar</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <span layout-gt-xs="row" class="error">{{form.errores.serie[0]}}</span>
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex
                        md-input-name="comprobante_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.comprobante"
                        md-search-text="searchTextComp"
                        md-items="item in form.BuscarComprobante(searchTextComp)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Comprobante"
                        required
                        md-autofocus
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextComp">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.comprobante_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-autocomplete>
                    <md-input-container class="md-block" layout-gt-xs flex>
                        <label>Serie</label>
                        <input name="serie" ng-model="form.obj.serie" required  md-maxlength="8"/>
                        <div ng-messages="myform.serie.$error" role="alert">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>N° Inicial</label>
                        <input ng-model="form.obj.nro_inicial" md-maxlength="11" name="nro_inicial" required />
                        <div ng-messages="myform.nro_inicial.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>N° Limite</label>
                        <input ng-model="form.obj.nro_limite" md-maxlength="11" name="nro_limite"/>
                        <div ng-messages="myform.nro_limite.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" layout-gt-xs flex>
                        <label>Correlativo</label>
                        <input name="correlativo" ng-model="form.obj.correlativo" md-maxlength="11" required />
                        <div ng-messages="myform.correlativo.$error" role="alert">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" layout-gt-xs flex>
                        <label>N° Autorización</label>
                        <input name="nro_autoriz" ng-model="form.obj.nro_autoriz" md-maxlength="40"/>
                        <div ng-messages="myform.nro_autoriz.$error" role="alert">
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" layout-gt-xs flex>
                        <label>Completa Ceros</label>
                        <input name="completa_ceros" ng-model="form.obj.completa_ceros" md-maxlength="10"/>
                        <div ng-messages="myform.completa_ceros.$error" role="alert">
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Orden</label>
                        <input type="number" ng-model="form.obj.orden" name="orden" min="1" required/>
                        <div ng-messages="myform.orden.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo 1</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>

                </div>
                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>