<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="layers" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span><b>menú</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-autocomplete 
                        flex
                        md-input-name="modulo_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.modulo"
                        md-search-text="searchTextModulo"
                        md-items="item in form.BuscarModulo(searchTextModulo)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Módulo"
                        required
                        md-autofocus
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextModulo">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.modulo_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                    <md-autocomplete 
                        flex
                        md-input-name="tipo_menu_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.tipo_menu"
                        md-search-text="searchTexTmenu"
                        md-items="item in form.BuscarTipoMenu(searchTexTmenu)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Tipo de menú"
                        required
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTexTmenu">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.tipo_menu_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Código</label>
                        <input ng-model="form.obj.codigo" md-maxlength="30" name="codigo" required />
                        <div ng-messages="myform.codigo.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nombre</label>
                        <input ng-model="form.obj.nombre" md-maxlength="60" name="nombre" required />
                        <div ng-messages="myform.nombre.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nombre plural</label>
                        <input ng-model="form.obj.nombre_plural" md-maxlength="70" name="nombre_plural" required />
                        <div ng-messages="myform.nombre_plural.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Estado router</label>
                        <input ng-model="form.obj.estado_router" md-maxlength="60" name="estado_router" required />
                        <div ng-messages="myform.estado_router.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Ícono</label>
                        <input ng-model="form.obj.icono" md-maxlength="20" name="icono"/>
                        <div ng-messages="myform.icono.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-autocomplete 
                        flex
                        md-input-name="padre_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.padre"
                        md-search-text="searchTexPadre"
                        md-items="item in form.BuscarPadre(searchTexPadre)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Padre menú"
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTexPadre">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.padre_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Orden</label>
                        <input type="number" ng-model="form.obj.orden" name="orden" min="1" required/>
                        <div ng-messages="myform.orden.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo 1</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-autocomplete 
                        flex
                        md-input-name="permiso_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.permiso"
                        md-search-text="searchTexPermiso"
                        md-items="item in form.BuscarPermiso(searchTexPermiso)"
                        md-item-text="item.codename"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Permiso asociado"
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTexPermiso">
                                {{item.codename}} ({{item.name}})
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.permiso_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
    <style type="text/css">
        .md-virtual-repeat-container.md-autocomplete-suggestions-container {
             width:300px !important;
        }
    </style>
</md-dialog>