<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic_media">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="calendar_today" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span>config <b>mes/recibo</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Mes</label>
                        <md-select name="mes_id" ng-model="form.obj.mes_id" aria-label="s" required md-autofocus>
                            <md-option></md-option>
                            <md-option ng-repeat="p in form.meses" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.mes_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Año</label>
                        <input type="number" ng-model="form.obj.anio" name="anio" min="2000" required/>
                        <div ng-messages="myform.anio.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo 2000</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Fecha de emisión</label>
                        <input type="date" ng-model="form.obj.fecha_emision_" name="fecha_emision" required/>
                        <div ng-messages="myform.fecha_emision.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo es requerido</div>
                            <div ng-message="date" class="my-message">No es un formato de fecha</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Fecha de vencimiento</label>
                        <input type="date" ng-model="form.obj.fecha_vencimiento_" name="fecha_vencimiento" required/>
                        <div ng-messages="myform.fecha_vencimiento.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo es requerido</div>
                            <div ng-message="date" class="my-message">No es un formato de fecha</div>
                        </div>
                    </md-input-container>                                    
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Fecha de corte</label>
                        <input type="date" ng-model="form.obj.fecha_corte_" name="fecha_corte" required/>
                        <div ng-messages="myform.fecha_corte.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo es requerido</div>
                            <div ng-message="date" class="my-message">No es un formato de fecha</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Estado</label>
                        <md-select name="estado" ng-model="form.obj.estado" aria-label="s" required>
                            <md-option></md-option>
                            <md-option ng-repeat="p in form.estados" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.estado.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
	                <span class="md-subhead">Recomendaciones y anuncios</span>
                    <span flex></span>
                    <md-button class="md-icon-button md-primary" ng-click="form.add_recomendacion()" ng-if="form.list_recomendaciones.length < 8">
                        <ng-md-icon icon="add" aria-label="Add"></ng-md-icon>
                    </md-button>
	            </div>
                <div layout-gt-xs="row" flex ng-repeat="p in form.list_recomendaciones">
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Recomendación/Anuncio</label>
                        <textarea ng-model="p.detalle" name="{{$index}}detalle" required rows="2"></textarea>
                        <div ng-messages="myform[$index+'detalle'].$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-input-container>
                    <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_recomendacion(form.list_recomendaciones, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon>
                        <md-tooltip>Quitar</md-tooltip>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>