<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <ng-md-icon icon="calendar_today" aria-label="s"></ng-md-icon>
                    <span>Configuración: <b>Mes recibo</b></span>
                </h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.new_edit($event, null)">
                    <ng-md-icon icon="add" aria-label="Close"></ng-md-icon>
                    <md-tooltip>Crear nuevo mes/recibo</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                    <md-tooltip>Cerrar ventana</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" flex="100">
                    <div layout="column" flex="100">
                            <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                                <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                                <input type="text" name="busqueda" ng-model="form.search" maxlength="70" placeholder="Búsqueda" ng-keyup="form.listar_por()" md-autofocus/>
                            </md-input-container>
                        </md-card-actions>
                        <div class="table-responsive">
                            <table align="center" class="basic table-bordered" width="100%">
                                <tr style="background: #eee">
                                	<th align="center">#</th> 
                                    <th align="left">Mes y año</th>
                                    <th align="center">Fecha de emisión</th>
                                    <th align="center">Fecha de vencimiento</th>
                                    <th align="center">Fecha de corte</th>
                                    <th>Estado</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                                <tr ng-repeat="p in form.listado" bgcolor="White" 
                                    onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                                    <td align="center" width="30" height="20">{{ $index +1 }}</td>
                                    <td align="left">{{ p.mes.nombre}} {{p.anio}}</td>
                                    <td align="center" width="120">{{p.fecha_emision| date:'dd/MM/yyyy'}}</td>
                                    <td align="center" width="130">{{p.fecha_vencimiento| date:'dd/MM/yyyy'}}</td>
                                    <td align="center" width="100">{{p.fecha_corte| date:'dd/MM/yyyy'}}</td>
                                    <td align="center" width="80">
                                    	{{p.estado_nombre}}
                                    </td>
                                    <td align="center" width="10">
                                        <a class="pqm-link" ng-click="form.new_edit($event, p)">Editar</a>
                                    </td>
                                    <td align="center" width="10">
                                        <a class="pqm-link" ng-click="form.delete($event, p)">Eliminar</a>
                                    </td>
                               </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
                    <div>
                    <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
                        <md-input-container>
                            <md-select name="form.nro_por_pagina" ng-model="form.paging.per_page"
                                       required ng-change="form.listar_por()" aria-label="s">
                                <md-option ng-repeat="p in form.list_per_pagina" ng-value="p">{{p}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{form.pagination.from}} al {{form.pagination.to}} de {{form.pagination.total}} registros</span>
                    <cl-paging 
                        cl-pages="form.paging.last_page"
                        cl-steps="5"
                        cl-page-changed="form.paging.onPageChanged()"
                        cl-align="start start"
                        cl-current-page="form.paging.current_page">
                    </cl-paging>
        </md-dialog-actions>
    </form>
</md-dialog>