 <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
        	<div layout='column' style="width: 50px;">
        		<ng-md-icon icon="print" style="margin: 0px;height: auto;" size="36" aria-label="s"></ng-md-icon> 
        	</div>
            <div layout='column'>
                <span class='md-caption'>REPORTE</span><span class="md-caption"><b>ESPECÍFICAS: CLASIFICADOR DE RECURSOS POR POI</b></span>
            	
            </div>
            <span flex></span>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions>
            	<div layout-gt-xs="row">
	                <div layout-gt-xs="row" flex flex-gt-xs="20">
	                    <md-autocomplete 
	                        flex
	                        flex-gt-xs
	                        md-input-name="periodo_id"
	                        md-no-cache="true"
	                        md-selected-item="ctrl.obj.periodo"
	                        md-search-text="searchTextPER"
	                        md-selected-item-change="ctrl.change_periodo()"
	                        md-items="item in ctrl.BuscarPeriodo(searchTextPER)"
	                        md-item-text="item.nombre"
	                        md-min-length="0"
	                        md-require-match
	                        md-autoselect="false"
	                        placeholder="Periodo"
	                        required
	                        md-autofocus
	                        >
	                        <md-item-template>
	                            <span md-highlight-text="searchTextPER">
	                                {{item.nombre}}
	                            </span>
	                        </md-item-template>
	                        <md-not-found>No encontrado</md-not-found>
	                    </md-autocomplete>
	                </div>
	                <div layout-gt-xs="row" flex flex-gt-xs="30">
	                    <md-autocomplete 
	                        flex
	                        flex-gt-xs
	                        md-input-name="entidad_id"
	                        md-no-cache="true"
	                        md-selected-item="ctrl.obj.entidad"
	                        md-search-text="searchTextENT"
	                        md-selected-item-change="ctrl.change_entidad()"
	                        md-items="item in ctrl.BuscarEntidad(searchTextENT, ctrl.obj.periodo.id)"
	                        md-item-text="item.persona.nombre_completo"
	                        md-min-length="0"
	                        md-require-match
	                        md-autoselect="false"
	                        placeholder="{{ctrl.obj.entidad.tipo_entidad.nombre||'Unidad orgánica'}}"
	                        required
	                        ng-disabled="!ctrl.obj.periodo"
	                        >
	                        <md-item-template>
	                            <span md-highlight-text="searchTextENT">
	                                {{item.tipo_entidad.nombre}}: {{item.persona.nombre_completo}}
	                            </span>
	                        </md-item-template>
	                        <md-not-found>No encontrado</md-not-found>
	                    </md-autocomplete>
	                </div>
	                <div layout-gt-xs="row" flex>
	                    <md-autocomplete 
	                        flex
	                        flex-gt-xs
	                        md-input-name="plan_operativo_id"
	                        md-no-cache="true"
	                        md-selected-item="ctrl.obj.plan_operativo"
	                        md-search-text="searchTextPoi"
	                        md-selected-item-change="ctrl.change_poi()"
	                        md-items="item in ctrl.BuscarPlanOperativo(searchTextPoi, ctrl.obj.periodo.id, ctrl.obj.entidad.id)"
	                        md-item-text="item.objetivo_general"
	                        md-min-length="0"
	                        md-require-match
	                        md-autoselect="false"
	                        placeholder="Plan operativo institucional"
	                        required
	                        ng-disabled="!ctrl.obj.entidad"
	                        >
	                        <md-item-template>
	                            <span md-highlight-text="searchTextPoi">
	                                {{item.objetivo_general}}
	                            </span>
	                        </md-item-template>
	                        <md-not-found>No encontrado</md-not-found>
	                    </md-autocomplete>
	                </div>
	            </div>
                
            </md-card-actions>
            <br>
            <iframe ng-if="ctrl.obj.plan_operativo.id" ng-src="{{'reportes.html#/app/clasificadoresrecursos/'+ctrl.obj.plan_operativo.id}}" style="width: 100%; height: 440px;" ng-cloak flex="100" layout="row" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<style type="text/css">
	body{
		background: silver;
	}
</style>