<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div>
                    <div layout="column">
                        <span class="md-subhead">Pedido: {{form.obj.codigo}}</span>
                        <span class="md-caption">Información completa</span>
                    </div>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="background: #FAFAFA;">
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <!-- <div class="md-dialog-content" ng-if="form.cargado"> -->
                <div layout="row" flex="100">
                    <div layout="column" flex="100" class="md-padding">
                        <iframe ng-src="{{'reportes.html#/app/pedidos/'+form.obj.id}}" style="width: 100%; height: 490px;" ng-cloak flex="100" layout="row"></iframe>
                        <br>
                    </div>
                </div>
            <!-- </div> -->
        </md-dialog-content>
</md-dialog>