
  <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'><b>Mis operaciones</b></span>
                <span class="md-caption">Listado de mis movimientos en caja y bancos</span>
            </div>
            <span flex></span>
            <div layout-gt-xs="row" style="font-size: 14px;">
                <md-switch ng-model="ctrl.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary" ng-change="ctrl.listar()">
                    <span class="label label-success" ng-if="ctrl.estado === '1'">Activos</span>
                    <span class="label label-default" ng-if="ctrl.estado === '0'">Anulados</span>
                </md-switch>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout-gt-xs="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <md-menu md-position-mode="target-right target" md-offset="200 50">
                    <md-button class="md-icon-button md-primary md-raised" ng-click="$mdMenu.open($event)" aria-label="d">
                    <ng-md-icon icon="print" aria-label="close"></ng-md-icon>
                    <md-tooltip>Descargar reporte</md-tooltip>
                </md-button>
                    <md-menu-content width="4">
                        <md-menu-item style="min-height: 36px; height: 36px;">
                            <md-button ng-click="ctrl.opcion_pdf('ver')" class="md-primary">
                                <ng-md-icon icon="open_in_new"></ng-md-icon> Ver reporte PDF</md-button>
                        </md-menu-item>
                        <md-menu-item style="min-height: 36px; height: 36px;">
                            <md-button ng-click="ctrl.opcion_pdf('print')" class="md-primary">
                                <ng-md-icon icon="print"></ng-md-icon> Imprimir reporte PDF</md-button>
                        </md-menu-item>
                        <md-menu-item style="min-height: 36px; height: 36px;">
                            <md-button ng-click="ctrl.opcion_pdf('descargar')" class="md-primary">
                                <ng-md-icon icon="cloud_download"></ng-md-icon> Descargar reporte PDF</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span flex></span>
                <md-content class="md-block" style="background: white; margin: 0px;margin-top: 10px;width: 140px;">
                    <div flex-gt-xs>
                        <label class="fechas">Fecha incial</label>
                        <md-datepicker name="fecha_inicial" ng-model="ctrl.fecha_inicial" ng-change="ctrl.listar()" md-placeholder="Fecha inicial" md-hide-icons="calendar"></md-datepicker>
                    </div>
                </md-content>
                <md-content class="md-block" style="background: white; margin: 0px;margin-top: 10px;width: 140px;">
                    <div flex-gt-xs>
                        <label class="fechas">Fecha final</label>
                        <md-datepicker name="fecha_final" ng-model="ctrl.fecha_final" ng-change="ctrl.listar()" md-placeholder="Fecha final" md-hide-icons="calendar"></md-datepicker>
                    </div>
                </md-content>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input type="text" name="busqueda" ng-model="ctrl.search" maxlength="60" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()" autocomplete="off" />
                </md-input-container>
                <md-menu md-position-mode="target-right target" style="padding: 0px;
                        margin-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 15px;">
                    <md-button aria-label="Open demo menu" class="md-icon-button"
                               ng-click="$mdMenu.open($event)" style="margin: 0px; margin-left: 8px;">
                        <ng-md-icon icon="filter_list"></ng-md-icon>
                        <md-tooltip md-auto-hide md-direction="bottom">Ordenar</md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item style="min-height: 28px; height: 28px;">
                            <b>Ordenar por:</b>
                        </md-menu-item>
                        <md-menu-item ng-repeat="p in ctrl.list_ordenar" style="min-height: 28px; height: 28px;">
                            <md-button ng-click="ctrl.ordenar(p.id)">
                                <ng-md-icon icon="check" ng-if="ctrl.ordering === p.id"></ng-md-icon> {{p.titulo}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>              
            </md-card-actions>
            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #eee">
                        <th align="center" width="20">N°</th>
                        <th align="center" width="40">Tipo</th> 
                        <th align="center" width="60">Número</th> 
                        <th align="center" width="150">Cuenta motivo</th> 
                        <th align="center">Nombre de persona</th> 
                        <th align="center">Detalle</th> 
                        <th align="center" width="60">Importe</th>
                        <th align="center" width="60">Moneda</th>
                        <th align="left" width="90">Medio de pago</th>
                        <th align="center" width="60">Fecha</th>
                        <th align="center" width="60">Hora</th>
                        <th align="center">Opción</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;" ng-class="{pag_anulado: p.estado == '0'}">
                        <td align="center">{{ $index+1 }}</td>
                        <td align="left">{{ p.motivo_mov_cuenta_tipo_nombre }}</td>
                        <td align="center"><a class="pqm-link" ng-click="ctrl.verinfo($event, p)">{{p.numero}}</a></td>
                        <td align="left">{{p.motivo_mov_cuenta_nombre}}</td>
                        <td align="left">{{p.persona_nombre_completo}}</td>
                        <td align="left">{{p.detalle}}</td>
                        <td align="right" nowrap="">{{p.importe | currency: p.moneda_simbolo+" "}}</td>
                        <td align="center">{{p.moneda_nombre}}</td>
                        <td align="left">{{p.tipo_medio_pago_nombre}}</td>
                        <td align="center">{{p.fecha | date:'dd/MM/yyyy'}}</td>
                        <td align="center">{{p.hora}}</td>
                        <td align="center" width="50">
                            <md-menu md-position-mode="target-right target" style="padding: 0px;
                                margin:0px;">
                                <md-button aria-label="Open demo menu" class="md-icon-button md-primary"
                                           ng-click="$mdMenu.open($event)" style="padding: 0px; margin: 0px;line-height: 14px; min-height: 14px;height: 14px;" title="Opciones">
                                    <ng-md-icon icon="more_horiz" style="line-height: 8px; margin-top: -4px;"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item style="min-height: 32px; height: 32px;">
                                        <md-button ng-click="ctrl.verinfo($event, p)" class="md-primary">
                                            <ng-md-icon icon="visibility"></ng-md-icon> Información</md-button>
                                    </md-menu-item>
                                    <md-menu-item style="min-height: 32px; height: 32px;" ng-if="p.estado === '1' && p.fecha === ctrl.fecha_actual">
                                        <md-button ng-click="ctrl.anular($event, p)" class="md-primary">
                                            <ng-md-icon icon="close"></ng-md-icon> Anular pago</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                   </tr>
                </table>
            </div>
        </div>
    </div>

    <section  class="md-padding" layout-gt-xs="row" layout-align="center center">
        <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
            <md-input-container>
                <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
                           required ng-change="ctrl.listar_por()" aria-label="s">
                    <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
        <cl-paging 
            cl-pages="ctrl.paging.last_page"
            cl-steps="5"
            cl-page-changed="ctrl.paging.onPageChanged()"
            cl-align="start start"
            cl-current-page="ctrl.paging.current_page">
        </cl-paging>
    </section>

    <div layout-gt-xs="row" class="md-padding" flex="100">
         <div layout-gt-xs="column" flex>
            <span class="md-caption">Más información</span>
            <md-divider></md-divider>
        </div>
    </div>
    <div layout-gt-xs="row" class="md-padding" flex="100" ng-if="ctrl.CargandoMas">
        <md-progress-circular class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
    </div>

    <div layout-gt-xs="row" class="md-padding" flex ng-if="!ctrl.CargandoMas">
        <div layout-gt-xs="column" flex="33" style="padding: 6px; border: 1px dashed silver;">
            <span class="md-subhead">REPORTE POR ESTADOS</span>
            <table align="center" class="basic table-bordered" width="100%" style="font-size: 13px;">
                <tr style="background: #eee">
                    <th width="120">Detalle</th>
                    <th width="80">Ingresos</th>
                    <th width="80">Egresos</th>
                </tr>
                <tr ng-repeat="p in ctrl.info.estados" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <td height="25">{{p.nombre}}</td>
                    <td align="right">{{p.ingresos|currency: "S/. "}}</td>
                    <td align="right">{{p.egresos|currency: "S/. "}}</td>
                </tr>
            </table>
        </div>
        <div layout-gt-xs="column" flex="33" style="padding: 6px; border: 1px dashed silver; margin-left: 2px;">
            <span class="md-subhead">REPORTE POR CUENTAS</span>
            <table align="center" class="basic table-bordered" width="100%" style="font-size: 13px;">
                <tr style="background: #eee">
                    <th width="60">Tipo</th>
                    <th width="210">Nombre/Número</th>
                    <th width="90">Ingresos</th>
                    <th width="90">Egresos</th>
                    <th width="90">Saldo actual</th>
                </tr>
                <tr ng-repeat="p in ctrl.info.caja_bancos" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <td height="25">{{p.tipo}}</td>
                    <td height="25">{{p.nombre}} {{p.numero}}</td>
                    <td align="right">{{p.ingresos|currency: "S/. "}}</td>
                    <td align="right">{{p.egresos|currency: "S/. "}}</td>
                    <td align="right"><b>{{p.saldo|currency: "S/. "}}</b></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <br>

    <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
<style type="text/css">
    .fechas{
        font-size: 15px;
        color: #9f9f9f;
    }
</style>
