
.btn {
    margin-right: 8px;
}

.md-drag-grop-quiroz {
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-height: 40px;
    min-height: 30px;
    padding: 0 1px;
    margin: 0;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #6E6E6E;
    padding: 1px 10px;
    font-size: 14px;
    line-height: 12px;
}

.tree-sview {
    background:  #FAFAFA;
    border: 1px solid #DCDCDC;
    color: #6E6E6E;
    padding: 1px 10px;
    font-size: 14px;
    line-height: 12px;
}
.tree-sview:hover {
    /*color: white;*/
    background: #F2F2F2;
    border-color: #DCDCDC;
}

.angular-ui-tree-handle:hover {
    color: #0174DF;
    background: white;
    border-color: #0174DF;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}


.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #F2F2F2;
    border: 2px dashed #A9BCF5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#dragdrop-ops1 {
    display: none;
}

#dragdrop-ops2 {
   display: block;
}

@media screen and (max-width:700px) {

  #dragdrop-ops2 {
    display: none;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  #dragdrop-ops1 {
    display: block;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
 }

 .angular-ui-tree-handle {
    padding: 1px 5px;
    font-size: 13px;
 }
 .tree-sview {
    padding: 1px 5px;
    font-size: 13px;
 }
}

@media screen and (max-width:150px) {
    .angular-ui-tree-handle {
        padding: 0px 1px;
        font-size: 11px;
        line-height: 9px;
    }
}