
 <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding" style="text-align: center;">
            <div layout='column' flex="100">
                <span class='md-title' style="text-shadow: silver 2px 1px 5px;">Registro de operaciones</span>
                <span class="md-caption">Registros de ingreso y egresos de Caja o bancos</span>
            </div>
            <span flex></span>
        </div>
    </div>
    <md-divider></md-divider>
    <form name='myform' autocomplete="off" ng-cloak>
    	<div layout="row" layout-align="center center" flex="100">
		    <div layout="column" layout-wrap layout-align="center center"
		         flex-xs="100" flex-sm="80" flex-md="60" flex-lg="40" flex-xl="33" flex>
		        <md-card class="md-padding" style="margin: 0px; margin-top: 4px; box-shadow: none; border: 0px solid #2196f3; width: 100%; border-top: 3px solid #2196f3;">
		        	
			            
		                <div layout="row" flex>
		                    <md-input-container class="md-block" flex-gt-xs="30" flex>
		                        <label>Tipo cuenta</label>
		                        <md-select name="tipo_cuenta_id" ng-model="form.obj.tipo_cuenta_id" aria-label="s" required ng-change="form.change_tipo_cuenta(form.obj)">
		                            <md-option ng-repeat="p in form.tiposcuenta" ng-value="p.id">{{p.nombre}}</md-option>
		                        </md-select>
		                        <div ng-messages="myform.tipo_cuenta_id.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Este campo es requirido</div>
		                        </div>
		                    </md-input-container>
		                    <md-input-container class="md-block" flex-gt-xs flex>
		                        <label>Cuenta</label>
		                        <md-select name="cuenta_entidad_id" ng-model="form.obj.cuenta_entidad_id" aria-label="s" required ng-change="form.change_cuenta_entidad(form.obj.cuenta_entidad_id)">
		                            <md-option ng-repeat="p in form.cuentasentidad" ng-value="p.id">{{p.nombre}}{{p.persona_cuenta.entidad_financiera.tipo_ent_finan.concatenar}} {{p.persona_cuenta.entidad_financiera.nombre}} {{p.persona_cuenta.numero}}</md-option>
		                        </md-select>
		                        <div ng-messages="myform.cuenta_entidad_id.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Este campo es requirido</div>
		                        </div>
		                    </md-input-container>
		                </div>
		                <div layout="row" flex>
		                	<md-input-container class="md-block" flex-gt-xs flex>
		                        <label>Medio de pago</label>
		                        <md-select name="tipo_medio_pago_id" ng-model="form.obj.tipo_medio_pago_id" aria-label="s" required ng-change="form.change_tipo_medio_pago(form.obj)">
		                            <md-option ng-repeat="p in form.tiposmediopago" ng-value="p.id">{{p.nombre}}</md-option>
		                        </md-select>
		                        <div ng-messages="myform.tipo_medio_pago_id.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Este campo es requirido</div>
		                        </div>
		                    </md-input-container>
			            	<md-input-container class="md-block" layout-gt-xs flex-gt-xs flex>
	                            <label>Tipo de movimiento</label>
	                            <md-select name="tipo_movimiento_cuenta_id" ng-model="form.obj.tipo_movimiento_cuenta_id" aria-label="s" required ng-change="form.change_tipo_movim(form.obj.tipo_movimiento_cuenta_id)">
	                                <md-option ng-repeat="p in form.tiposmovimientocuenta" ng-value="p.id">{{p.nombre}}</md-option>
	                            </md-select>
	                            <div ng-messages="myform.tipo_movimiento_cuenta_id.$error" role="alert" multiple>
	                                <div ng-message="required" class="my-message">Este campo es requirido</div>
	                            </div>
	                        </md-input-container>
		                </div>
		                <div layout-gt-xs="row" flex>
		                    <md-autocomplete 
		                        flex
		                        md-input-name="motivo_mov_cuenta_id"
		                        md-no-cache="true"
		                        md-selected-item="form.obj.motivo_mov_cuenta"
		                        md-search-text="searchMotivo"
		                        md-items="item in form.BuscarMotivo(searchMotivo, form.obj.tipo_movimiento_cuenta_id)"
		                        md-item-text="item.nombre"
		                        md-min-length="0"
		                        md-require-match
		                        md-autoselect="false"
		                        md-floating-label="Motivo de movimiento"
		                        required
		                        ng-disabled="!form.obj.tipo_movimiento_cuenta_id"
		                        md-autofocus
		                        >
		                        <md-item-template>
		                            <span md-highlight-text="searchMotivo">
		                                {{item.codigo}} - {{item.nombre}}
		                            </span>
		                        </md-item-template>
		                        <md-not-found>No encontrado</md-not-found>
		                        <div ng-messages="myform.motivo_mov_cuenta_id.$error">
		                            <div ng-message="required" class="my-message">Campo requerido</div>
		                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
		                        </div>
		                    </md-autocomplete>
		                </div>
		                <div layout="row" flex ng-if="form.obj.motivo_mov_cuenta.codigo ==='EGTRAN'">
		                    <md-input-container class="md-block" flex-gt-xs="30" flex>
		                        <label>TC. Destino</label>
		                        <md-select name="des_tipo_cuenta_id" ng-model="form.obj.des_tipo_cuenta_id" aria-label="s" required ng-change="form.change_tipo_cuenta_des(form.obj)">
		                            <md-option ng-repeat="p in form.tiposcuenta" ng-value="p.id">{{p.nombre}}</md-option>
		                        </md-select>
		                        <div ng-messages="myform.des_tipo_cuenta_id.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Este campo es requirido</div>
		                        </div>
		                    </md-input-container>
		                    <md-input-container class="md-block" flex-gt-xs flex>
		                        <label>Cuenta destino</label>
		                        <md-select name="des_cuenta_entidad_id" ng-model="form.obj.des_cuenta_entidad_id" aria-label="s" required>
		                            <md-option ng-repeat="p in form.cuentasentidad_des" ng-value="p.id">{{p.nombre}}{{p.persona_cuenta.entidad_financiera.tipo_ent_finan.concatenar}} {{p.persona_cuenta.entidad_financiera.nombre}} {{p.persona_cuenta.numero}}</md-option>
		                        </md-select>
		                        <div ng-messages="myform.des_cuenta_entidad_id.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Este campo es requirido</div>
		                        </div>
		                    </md-input-container>
		                </div>
		                <div layout="row" flex>
		                    <md-input-container class="md-block" flex-gt-xs flex>
		                        <label>Detalle</label>
		                        <input name="detalle" ng-model="form.obj.detalle" md-maxlength="120" md-autofocus/>
		                        <div ng-messages="myform.detalle.$error" role="alert" multiple>
		                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
		                        </div>
		                    </md-input-container>
		                </div>
		                <div layout="row" flex>
                            <md-autocomplete 
                                flex
                                md-input-name="persona_id"
                                md-no-cache="true"
                                md-selected-item="form.obj.persona"
                                md-search-text="searchTexPER"
                                md-items="item in form.BuscarPersona(searchTexPER)"
                                md-item-text="item.nombre_completo"
                                md-min-length="0"
                                md-require-match
                                md-autoselect="false"
                                md-floating-label="Nombre de la persona"
                                required  
                                md-autofocus
                                md-menu-class="persona_auto_compl"
                                spellcheck="false"
                                >
                                <md-item-template>
                                    <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                                      <span class="item-title">
                                        {{item.nombre_completo}}
                                      </span>
                                      <span class="item-metadata">
                                        <span ng-repeat="p in item.persona_persona_documentos">
                                          {{p.tipo_documento.nombre}}: {{p.numero}}
                                        </span>
                                      </span>
                                </md-item-template>
                                <md-not-found>No encontrado</md-not-found>
                                <span ng-if="form.obj.persona.persona_persona_documentos" class="form_padres_ubigeo">
                                    <span ng-repeat="p in form.obj.persona.persona_persona_documentos">
                                          {{p.tipo_documento.nombre}}: {{p.numero}}
                                    </span>
                                </span>
                                <div ng-messages="myform.persona_id.$error">
                                    <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                    <div ng-message="required">El dueño es requerido</div>
                                </div>
                            </md-autocomplete>
                            <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                                <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                                    <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item class="min_md_menu_item30">
                                        <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
                                    </md-menu-item>
                                    <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                                        <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
		                <div layout-gt-xs="row" flex>
		                	<md-input-container class="md-block" flex-gt-xs="30" flex ng-if="form.obj.tipo_movimiento_cuenta_id !== 2">
		                        <label>Importe</label>
		                        <input type="number" ng-model="form.obj.importe" name="importe" required ng-change="form.change_importe(form.obj)"/>
		                        <div ng-messages="myform.importe.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Campo requerido</div>
		                        </div>
		                    </md-input-container>
		                	<md-input-container class="md-block" flex-gt-xs="30" flex ng-if="form.obj.tipo_movimiento_cuenta_id === 2">
		                        <label>Importe</label>
		                        <input type="number" ng-model="form.obj.importe" name="importe" required ng-change="form.change_importe(form.obj)" min="0" max="{{form.max_importe}}"/>
		                        <div ng-messages="myform.importe.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Campo requerido</div>
		                            <div ng-message="max" class="my-message">Máximo {{form.max_importe|currency:""}}</div>
		                        </div>
		                    </md-input-container>
		                    <md-input-container class="md-block" flex>
		                        <label>Tipo moneda</label>
		                        <md-select name="moneda_id" ng-model="form.obj.moneda_id" aria-label="s" required ng-change="form.change_moneda(form.obj)">
		                            <md-option ng-repeat="p in form.monedas" ng-value="p.id">{{p.nombre_plural}}</md-option>
		                        </md-select>
		                        <div ng-messages="myform.moneda_id.$error" role="alert" multiple>
		                            <div ng-message="required" class="my-message">Este campo es requirido</div>
		                        </div>
		                    </md-input-container>
		                    <md-input-container ng-if="form.entidad.id && form.obj.moneda_id && form.obj.moneda_id !== form.entidad.moneda_id" class="md-block" flex-gt-xs="30" flex>
		                        <label>Tipo cambio</label>
		                        <input type="number" ng-model="form.obj.tipo_cambio" name="tipo_cambio" required ng-change="form.change_importe(form.obj)"/>
		                        <div ng-messages="myform.tipo_cambio.$error" role="alert" multiple >
		                            <div ng-message="required" class="my-message">Campo requerido</div>
		                        </div>
		                        <span class="form_padres_ubigeo">
		                            {{form.entidad.moneda__nombre_plural}} ({{form.entidad.moneda__simbolo}})
		                        </span>
		                    </md-input-container>
		                </div>
		                <div layout="row" flex>
		                    <md-input-container class="md-block" flex-gt-xs="40" flex>
		                        <label>Recibido/Entregado</label>
		                        <input type="number" ng-model="form.obj.recibido" name="recibido" ng-change="form.change_recibido(form.obj)"/>
		                    </md-input-container>
		                    <md-input-container class="md-block" flex-gt-xs="30" flex>
		                        <label>Vuelto</label>
		                        <input type="number" disabled ng-model="form.obj.vuelto" name="vuelto"/>
		                    </md-input-container>
		                    <md-input-container class="md-block" flex-gt-xs="30" flex>
		                        <label>Comisiones</label>
		                        <input type="number" ng-model="form.obj.comisiones" name="comisiones"/>
		                    </md-input-container>
		                </div>
		                <md-card-actions layout="row" layout-align="start center">
			                <md-button type="submit" ng-click="form.registraroperacion(form.obj)" class="md-raised md-primary" ng-disabled="!myform.$valid || form.guardando"
			                           flex="100">
			                           <ng-md-icon icon="navigate_next" aria-label="s"></ng-md-icon> 
			                    <span ng-if="!form.guardando">REGISTRAR PAGO</span>
			                    <span ng-if="form.guardando">REGISTRANDO...</span>
			                </md-button>
			            </md-card-actions>
		        </md-card>
		    </div>
		</div>
	</form>
    <pqm-loading indeterminado="form.guardando"></pqm-loading>
</div>

<style type="text/css">
	body{
		background: silver;
	}
</style>