<!-- <nav> -->
    <!-- <ul class="nav">
        <div ng-repeat="p in menu">
            <li class="nav-header">
                <div style="font-size: 13px; color: #666666;">
                    {{p.title}}
                </div>
            </li>
            <ul class="nav">
                <li ng-repeat="q in p.menu" ui-sref-active="active">
                    <a md-ink-ripple ng-click="close_sidenav('aside');" style="cursor: pointer; text-decoration: none; color: #666666;" ui-sref="{{q.state}}">
                        <ng-md-icon icon="{{q.icon}}"></ng-md-icon> <span class="font-normal">{{q.title}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </ul> -->
<!-- </nav> -->
<div ng-if="!cargo_menu">
    <br><br>
    <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
</div>
<ss-sidenav ng-if="cargo_menu" menu="menu"></ss-sidenav>

