<div class="box bg-white" md-theme="{{dynamicTheme}}">
    <div class="navbar no-radius">

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <div layout="column">
                    <img class="avatar-foto" style="height: 50px; width: 50px;" ng-src="recursos/imag/gota.gif" 
                         style="width: 65px; padding-right: 5px;" 
                         alt="Logo">
                </div>
                <div layout='column' style="padding-left: 4px;">
                    <span class="md-caption eslogan_ani">Sistema</span>
                    <span class='md-subhead'><b><span class="ani_titulo1">SISTEMA</span> <span class="ani_titulo2">LIMÓN</span></b></span>
                </div>
                <span flex></span>
            </div>
        </md-toolbar>

    </div>
    <div ng-if="!cargo_entidad">
        <br><br>
        <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="20"></md-progress-circular></p></center>
    </div>
    <md-toolbar  ng-if="cargo_entidad && ent.id" style="min-height: 140px; text-align: center;">
        <div class="md-toolbar-tools" style="min-height: 140px; text-align: center;">
            <div layout='column' layout-align="center center" style="padding-left: 10px;">
                
                    <img ng-src="{{ent.foto_logo}}" class="avatar-foto" 
                         style="width: 80px; height: 80px; padding-right: 5px;" 
                         alt="Logo">

                <!-- <div layout="column">
                    <img ng-if="ent.logo" ng-src="{{url_api_storage+ent.logo}}" style="width: 60px; padding-right: 5px; height: 55px;" 
                         alt="Logo">
                </div> -->
                <div layout='row'>
                    <div layout='column'>
                        <span class="md-subhead"><b>{{ent.nombre_comercial}}</b></span>
                        <span class="md-caption" style="font-size: 10px;">{{ent.direcciones[0]['direccion_detalle']}}</span>
                        <span class="md-caption">{{ent.direcciones[0]['ubigeo']['nombre']}} - {{ent.direcciones[0]['ubigeo']['padre']['nombre']}} - {{ent.direcciones[0]['ubigeo']['padre']['padre']['nombre']}}</span>
                        <!-- <span class="md-caption">{{ent.tipo_entidad_nombre}} {{ent.tipo_entidad_conector}}</span>
                        <span class="md-caption"><b>{{ent.razon_social}}</b></span> -->
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>
    <div class="box-row" style="background: #fafafa;">
        <div class="box-cell scrollable hover">
            <div class="box-inner ">
                <div id="nav" ng-include="'views/aside_nav.html'"></div>
            </div>
        </div>
    </div>
    <!-- <div class="md-padding" style="background: #fafafa; text-align: center;">
        <span class="md-caption" style="font-size: 10px;">{{ent.nombre_comercial}}</span>
    </div> -->
</div>