<div class="box" md-theme="{{dynamicTheme}}">
    <!-- Content Navbar -->
    <md-toolbar class="navbar no-radius md-hue-2">
        <div class="md-toolbar-tools">
            <!-- <div hide-xs hide-sm ng-if="app.setting.asideFolded">
                <img ng-src="media/img/google.png" style="
              width: 49px; height: 44px;" alt="Logo">
            </div> -->
            <md-button class="md-icon-button" ng-click="aside_folder();" hide-sm hide-xs aria-label="Toggle Menu">
                <ng-md-icon icon="menu" aria-label="close"></ng-md-icon>
            </md-button>

            <md-button class="md-icon-button" hide-gt-sm aria-label="Toggle Menu" ng-click="openAside()">
                <ng-md-icon icon="menu" aria-label="close"></ng-md-icon>
            </md-button>
            
            <div layout="row" flex class="fill-height">
                <span class="md-toolbar-item md-breadcrumb md-headline md-subhead">
                    <span hide-xs><b>{{state.current.data.page|uppercase}}</b></span>
                </span>

                <span flex></span>
                <!-- use up the empty space -->
                <div class="md-toolbar-item " layout="row">
                    <md-fab-actions class="md-toolbar-tools">
                        <!-- <md-switch md-no-ink aria-label="Switch No Ink" ng-model="app.setting.asideFolded" hide-xs class="md-primary">
                        </md-switch> -->
                        <!-- <md-button aria-label="apps" class="md-icon-button" ui-sref="app">
                            <ng-md-icon icon="apps"></ng-md-icon>
                        </md-button> -->
                        <md-menu md-position-mode="target-right target" md-offset="0 58">
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <!-- <ng-md-icon icon="more_vert"></ng-md-icon> -->
                                <img ng-src="{{user.foto_logo_rec||url_api_storage+'storage/comun/personas/fotos/sinfoto.png'}}" class="avatar-icon" alt="f"/>
                                <md-tooltip>{{user.nombres||'Usuario'}}</md-tooltip>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item class="min_md_menu_item30">
                                    <md-button ui-sref="app.perfil" style="padding-top: 0px;" class="md-primary md-hue-2">
                                        <ng-md-icon icon="sentiment_very_satisfied"></ng-md-icon> Mi perfil
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="min_md_menu_item30">
                                    <md-button ng-click="AbrirToogle()" class="md-primary md-hue-2">
                                        <ng-md-icon icon="color_lens"></ng-md-icon> Cambiar color
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="min_md_menu_item30">
                                    <md-button ng-click="selentidad()" class="md-primary md-hue-2">
                                        <ng-md-icon icon="business"></ng-md-icon> Cambiar de entidad
                                    </md-button>
                                </md-menu-item>
                                <md-divider style="margin-top: 6px;"></md-divider>
                                <md-menu-item class="min_md_menu_item30">
                                    <md-button ng-click="CerrarSesion()" class="md-primary md-hue-2">
                                        <ng-md-icon icon="directions_run"></ng-md-icon> Cerrar Sesión
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <!-- <md-button class="md-icon-button" ng-click="AbrirToogle()" aria-label="settings">
                            <ng-md-icon icon="settings" aria-label="settings"></ng-md-icon>
                        </md-button> -->
                        
                    </md-fab-actions>
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-right" md-component-id="sid_config_app">
        <md-toolbar class="navbar no-radius md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="close_sidenav('sid_config_app')" aria-label="close">
                    <ng-md-icon icon="arrow_back" aria-label="close"></ng-md-icon>
                </md-button>
                <h2>
                    <span class="md-subhead">
                        Cambiar color
                    </span>
                </h2>
                <span flex></span>
                
            </div>
        </md-toolbar>
        <md-content ng-controller="SettingsCtrl" layout-padding>
        
            <div layout="row" flex layout-align="center end">
                <span class="md-subhead"><b>Sistema Web</b></span> 
            </div>
            <div layout="row" flex layout-align="center end" style="margin-top: -20px;">
                <span class="md-caption">LIMÓN LIVE</span>
            </div>

            <md-divider role="separator"></md-divider>
            <div layout="row" style="margin-bottom: -30px;padding-left: 16px; margin-top: -40px;">
                <h2>
                    <ng-md-icon icon="color_lens"></ng-md-icon> <span class="md-subhead">Colores</span>
                </h2>

            </div>            
            <md-list layout="row" layout-wrap flex="100">
                <md-list-item ng-repeat="p in Palettes" flex-xs="33" flex-sm="33" flex-md="33" flex="33" layout-align="start">
                    <md-button md-prevent-menu-close ng-style="{ 'background': p.color }" 
                               aria-label="mem" ng-click="setTheme(p.theme)">
                        <ng-md-icon icon="done" style="color: white;" ng-if="dynamicTheme === p.theme"></ng-md-icon>
                        <md-tooltip md-autohide>{{p.name}}</md-tooltip>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-divider role="separator"></md-divider>
            <div layout="column" layout-align="center center" style="margin-top: -15px;">
                <span class="md-caption">Versión 1.0</span>
            </div>
        </md-content>

    </md-sidenav>
    <div class="box-row">
        <div class="box-cell">
            <div class="box-inner md-scroll-y flex" ui-view>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>
