<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                	<div layout="row">
	                    <ng-md-icon icon="arrow_forward" aria-label="s"></ng-md-icon>
	                    <div layout="column">
	                    	<span class="md-caption">Primero es lo primero</span>
	                    	<span class="md-title">Seleccione su entidad</span>
	                    </div>
	                </div>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div ng-if="form.cargado">
                <br>
                <br>
                <!-- <div layout="row" flex> -->
                  <md-list-item ng-click="form.selentidad(p.id)" ng-repeat="p in form.entidades" style="border: 1px solid rgb(189,189,189); margin-bottom: 2px;">
                    <div layout="column">
                        <ng-md-icon ng-if="form.entidad_id === p.id" icon="radio_button_checked" aria-label="r"></ng-md-icon>
                        <ng-md-icon ng-if="form.entidad_id !== p.id" icon="radio_button_unchecked" aria-label="r"></ng-md-icon>
                    </div>
                    <div layout="column" flex style="padding-left: 6px;">
                        <span>{{p.persona.nombre_completo}} <span ng-repeat="q in p.persona.persona_persona_documentos" style="font-size: 12px;"> - {{q.tipo_documento.nombre}}: <b>{{q.numero}}</b> </span></span>
                        <!-- <span class="md-caption">RUC: 20481606221 - Bagua Grande</span> -->
                    </div>
                  </md-list-item>
                  <br>
                  <br>
                <!-- </div> -->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cerrar sesión</md-button>
            <md-button type="submit" ng-click="form.guardar()" class="md-raised md-primary" ng-disabled="!form.entidad_id">
                Continuar <ng-md-icon icon="arrow_forward" aria-label="s"></ng-md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
    <style type="text/css">
        .md-button {
            line-height: 16px !important;
        }
    </style>
</md-dialog>