<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" style="width: 900px;">
    <form name='myform' autocomplete="off" ng-cloak flex>
        <md-toolbar>
            <div class="md-toolbar-tools" style="min-height: 82px;">
                <span class="md-subhead">
                    <ng-md-icon icon="description" aria-label="s"></ng-md-icon>
                </span>
                <div layout="column" style="padding-left: 4px;">
                    <span class="md-subhead"><b>GENERAR RECIBO:</b> {{form.mes_recibo.mes.abreviatura|uppercase}}-{{form.mes_recibo.anio}}</span>
                    <span class="md-caption"><b>{{form.obj.persona.nombre_completo|uppercase}}</b> | CONTRATO: {{form.obj.numero}}</span>
                    <span class="md-caption">PREDIO: {{form.obj.predio.predio_direcciones[0]['direccion_detalle']}} - {{form.obj.predio.zona.nombre}}</span>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content  style="height: 500px;">
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado && form.recibo.id">
                <div layout-gt-xs="row" flex layout-align="center center">
                    <div class="alert alert-success" flex style="text-align: center;">
                        <ng-md-icon icon="check" aria-label="Close"></ng-md-icon> Recibo ha sido creado correctamente
                    </div>
                </div>
                <div layout-gt-xs="row" flex layout-align="center center">
                    <span class="md-subhead">NÚMERO DE RECIBO: {{form.recibo.numero}}</span>
                </div>
                <br>
                <div layout-gt-xs="row" flex layout-align="center center">
                    <span class="md-caption">Puedes acceder al recibo:</span>
                </div>
                <div layout-gt-xs="row" flex layout-align="center center">
                    <md-button ng-click="form.opcion_pdf('ver')" class="md-primary">
                        <ng-md-icon icon="open_in_browser"></ng-md-icon> Ver recibo PDF
                    </md-button>
                    <md-button ng-click="form.opcion_pdf('print')" class="md-primary">
                        <ng-md-icon icon="print"></ng-md-icon> Imprimir recibo PDF
                    </md-button>
                    <md-button ng-click="form.opcion_pdf('descargar')" class="md-primary">
                        <ng-md-icon icon="cloud_download"></ng-md-icon> Descargar recibo PDF
                    </md-button>
                </div>

            </div>
            <div class="md-dialog-content" ng-if="form.cargado && !form.recibo.id">
                <div layout-gt-xs="row">
                    <div layout-gt-xs="column" flex>
                        <div layout-gt-xs="row" flex ng-if="form.obj.nro_dias < 31">
                            <span class="md-caption" >Hace <span class="label label-success"><b>{{form.obj.nro_dias}} días</b></span> que inició el contrato</span>
                        </div>
                        <div layout-gt-xs="row" flex>
                            <span class="md-subhead"><b>DETALLE DE LA COBRANZA</b></span>
                        </div>
                    </div>
                    <div layout-gt-xs="column">
                        <md-button type="button" ng-click="form.generar_recibo()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.creando">
                            Generar recibo
                        </md-button>
                    </div>
                </div>
                <br>
            	<div layout-gt-xs="row" flex>
                    <div class="table-responsive" ng-if="form.obj.id">
                        <table align="center" class="basic table-bordered" width="100%">
                            <tr style="background: #eee;">
                                <th align="left" height="25">SERVICIO</th>
                                <th align="center">CANTIDAD <span ng-if="form.obj.forma_cobranza ==='CME'">M³</span></th>
                                <th align="center">PRECIO</th>
                                <th align="center">TOTAL</th>
                            </tr>
                            <tr ng-repeat="p in form.new_listado" bgcolor="White" 
                                onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                                <td align="left" height="30" colspan="{{p.servicio__codigo==='ServAguaPo'?0:3}}">{{p.servicio__nombre}}</td>
                                <td align="center" width="100" ng-if="p.servicio__codigo==='ServAguaPo'">
                                	<md-input-container flex-gt-xs flex style="padding: 0px; margin: 0;margin-bottom: -30px;">
				                        <input type="number" ng-model="p.cantidad" name="orden" min="0" required ng-change="form.change_precios()"/>
				                    </md-input-container>
                                </td>
                                <td align="center" width="100" ng-if="p.servicio__codigo==='ServAguaPo'">
                                	<md-input-container flex-gt-xs flex style="padding: 0px; margin: 0;margin-bottom: -30px;">
				                        <input type="number" ng-model="p.precio" name="orden" min="0" required ng-change="form.change_precios()"/>
				                    </md-input-container>
                                </td>
                                <td align="center" width="100">{{p.cantidad*p.precio|currency:""}}</td>
                           </tr>
                           <tr>
                           		<td colspan="3" align="right"  height="30">Total cobranza:</td>
                           		<td align="center"><span class="md-subhead"><b>{{form.obj.monto_cobranza|currency:""}}</b></span></td>
                           </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
    <pqm-loading-general-modal indeterminado="form.creando" mensaje="form.creando_mensaje|uppercase"></pqm-loading-general-modal>
</md-dialog>