<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" style="width: 950px;">
    <form name='myform' autocomplete="off" ng-cloak flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="description" aria-label="s"></ng-md-icon>
                    <span>Generar recibos</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="height: 600px !important;">
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="20" flex>
                        <label>Mes y año</label>
                        <md-select name="mes_recibo_id" ng-model="form.obj.mes_recibo_id" aria-label="s" required md-autofocus  ng-change="form.listar_por();">
                            <md-option ng-repeat="p in form.mesrecibos" ng-value="p.id">{{p.mes.nombre}} {{p.anio}}</md-option>
                        </md-select>
                        <div ng-messages="myform.mes_recibo_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <div flex-gt-xs style="padding-left: 10px; padding-top: 25px;">
                        <md-radio-group ng-model="form.obj.forma_cobranza"
                         ng-disabled="form.forma_cobranza_.codigo" ng-change="form.listar_por();">
                            <md-radio-button ng-repeat="p in form.formascobranza" class="md-primary form_radios_tipo_pers" ng-value="p.id" aria-label="s">{{p.nombre}}</md-radio-button>
                        </md-radio-group>
                    </div>
                    <md-button ng-if="form.obj.forma_cobranza === 'SME'" type="button" ng-click="form.generar_recibos(form.listado)" class="md-raised md-primary" ng-disabled="!form.existe_alguno(form.listado)" style="box-shadow: none;text-transform: none;margin: 0px 0px;min-width: 70px;height: 40px;
                                        min-height: 40px;
                                        line-height: 40px;">
                            Generar recibos ({{form.cantidad_existe(form.listado)}})
                        </md-button>
                    </md-dialog-actions>
                </div>
                <div layout-gt-xs="row" flex>
                    <div class="table-responsive" ng-if="form.obj.mes_recibo_id">
                        <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                            <tr style="background: #eee;">
                                <td ng-if="form.obj.forma_cobranza === 'SME'" align="center" width="30">
                                    <label class="container">
                                      <input type="checkbox" ng-model="form.obj.all" ng-change="form.change_all(form.obj);">
                                      <span class="checkmark"></span>
                                    </label>
                                </td>
                                <th align="center" height="25">#</th> 
                                <th align="left">Contrato</th>
                                <th align="left">Persona/Usuario</th>
                                <th align="left">Predio (Dirección)</th>
                                <th align="center">Monto</th>
                                <th align="center" width="100">Generar recibo</th>
                            </tr>
                            <tr ng-repeat="p in form.listado" bgcolor="White" 
                                onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                                <td ng-if="form.obj.forma_cobranza === 'SME'" align="center" width="30">
                                    <label class="container">
                                      <input type="checkbox" ng-model="p.select">
                                      <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td align="center" width="30" height="20">{{ $index +1 }}</td>
                                <td align="left">{{ p.numero}}</td>
                                <td align="left">{{p.persona.nombre_completo}} <span class="label label-success" ng-if="p.nro_dias < 31">Nuevo</span></td>
                                <td align="left">{{p.predio.predio_direcciones[0].direccion_detalle}}</td>
                                <td align="right">{{p.monto_cobranza|currency:""}}</td>
                                <!-- <td align="center" width="100">
                                    <a class="pqm-link" ng-click="form.new_edit($event, p)">Editar y Generar</a>
                                </td> -->
                                <td align="center" width="100">
                                    <md-button type="button" ng-click="form.generar_recibo($event, p)" class="md-raised md-primary" style="box-shadow: none;text-transform: none;margin: 0px 0px;min-width: 70px;height: 26px;
                                        min-height: 26px;
                                        line-height: 26px;">
                                        Generar recibo
                                    </md-button>
                                </td>
                           </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <!-- <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Generando recibos...</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.generar_recibos()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                Generar recibos
            </md-button>
        </md-dialog-actions> -->
        <md-dialog-actions layout="row" class="dialog-actions" ng-if="form.obj.mes_recibo_id">
            <div>
            <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
                <md-input-container>
                    <md-select name="form.nro_por_pagina" ng-model="form.paging.per_page"
                               required ng-change="form.listar_por()" aria-label="s">
                        <md-option ng-repeat="p in form.list_per_pagina" ng-value="p">{{p}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{form.pagination.from}} al {{form.pagination.to}} de {{form.pagination.total}} registros</span>
            <md-progress-circular ng-if="form.Indeterminado" class="md-primary" md-mode="indeterminate"  md-diameter="34px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.Indeterminado">Cargando lista...</span>
            
            <cl-paging 
                cl-pages="form.paging.last_page"
                cl-steps="5"
                cl-page-changed="form.paging.onPageChanged()"
                cl-align="start start"
                cl-current-page="form.paging.current_page">
            </cl-paging>
        </md-dialog-actions>
    </form>
    <pqm-loading-general-modal indeterminado="form.creando" mensaje="'Generando los recibos de cobranza del servicio'"></pqm-loading-general-modal>
</md-dialog>