 <div flex="100">
    <div style="background: rgb(117,117,117);
    color: yellow;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'>CONSULTA Y GENERA RECIBOS</span>
                <span class="md-caption">Módulo para la generación de recibos de servicio de agua</span>
            </div>
            <span flex></span>
            <md-button aria-label="config" class="md-fab md-raised md-primary"
                 ng-click="ctrl.generar($event)">
                <md-tooltip md-direction="bottom" md-autohide="false">Generar recibos</md-tooltip>
                <ng-md-icon icon="description" aria-label="c"></ng-md-icon>
            </md-button>
            <md-button aria-label="config" class="md-fab md-raised md-primary"
                 ng-click="ctrl.mes_recibo($event)">
                <md-tooltip md-direction="bottom" md-autohide="false">Configuración</md-tooltip>
                <ng-md-icon icon="calendar_today" aria-label="c"></ng-md-icon>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" flex="100">
    	<div layout="column" flex class="md-padding">
    		<div layout="row">
    			<md-input-container class="md-block" flex-gt-xs="20" flex>
                    <label>Mes y año</label>
                    <md-select name="mes_recibo_id" ng-model="ctrl.obj.mes_recibo_id" aria-label="s" md-autofocus  ng-change="ctrl.listar_por();">
                        <md-option ng-value="'T'">Todos</md-option>
                        <md-option ng-repeat="p in ctrl.mesrecibos" ng-value="p.id">{{p.mes.nombre}} {{p.anio}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Zona</label>
                    <md-select name="zona_id" ng-model="ctrl.zona_id" 
                    ng-change="ctrl.listar()">
                        <md-option ng-value="'T'">Todas</md-option>
                        <md-option ng-repeat="p in ctrl.zonas" ng-value="p.id">{{p.nombre}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs flex>
                    <label>Buscar</label>
                    <input name="search" ng-model="ctrl.search" autocomplete="off" placeholder="Buscar por numero, nombres" ng-keyup="ctrl.listar_por();"/>
                </md-input-container>
                <md-menu md-position-mode="target-right target" style="padding: 0px;
                        margin-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 15px;">
                    <md-button aria-label="Open demo menu" class="md-icon-button"
                               ng-click="$mdMenu.open($event)" style="margin: 0px; margin-left: 8px;">
                        <ng-md-icon icon="filter_list"></ng-md-icon>
                        <md-tooltip md-auto-hide md-direction="bottom">Ordenar</md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item style="min-height: 28px; height: 28px;">
                            <b>Ordenar por:</b>
                        </md-menu-item>
                        <md-menu-item ng-repeat="p in ctrl.list_ordenar" style="min-height: 28px; height: 28px;">
                            <md-button ng-click="ctrl.ordenar(p.id)">
                                <ng-md-icon icon="check" ng-if="ctrl.ordering === p.id"></ng-md-icon> {{p.titulo}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu md-position-mode="target-right target" style="padding: 0px;
                        margin-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 15px;" md-offset="0 50">
                    <md-button aria-label="Open demo menu" class="md-icon-button md-primary" 
                               ng-click="$mdMenu.open($event)" style="margin: 0px; margin-left: 8px;" 
                               ng-disabled="!ctrl.existe_alguno(ctrl.listado)">
                        <ng-md-icon icon="print"></ng-md-icon>
                        <md-tooltip md-auto-hide md-direction="bottom">Opciones PDF</md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item style="min-height: 36px; height: 36px;">
                            <md-button ng-click="ctrl.opcion_pdf('ver')" class="md-primary">
                                <ng-md-icon icon="open_in_browser"></ng-md-icon> Ver recibos PDF</md-button>
                        </md-menu-item>
                        <md-menu-item style="min-height: 36px; height: 36px;">
                            <md-button ng-click="ctrl.opcion_pdf('print')" class="md-primary">
                                <ng-md-icon icon="print"></ng-md-icon> Imprimir recibos PDF</md-button>
                        </md-menu-item>
                        <md-menu-item style="min-height: 36px; height: 36px;">
                            <md-button ng-click="ctrl.opcion_pdf('descargar')" class="md-primary">
                                <ng-md-icon icon="cloud_download"></ng-md-icon> Descargar recibos PDF</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
	        </div>

            <div class="table-responsive" ng-if="ctrl.obj.mes_recibo_id">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #eee;">
                        <td align="center" width="30">
                            <label class="container">
                              <input type="checkbox" ng-model="ctrl.obj.all" ng-change="ctrl.change_all(ctrl.obj);">
                              <span class="checkmark"></span>
                            </label>
                        </td>
                        <th align="center">#</th> 
                        <th align="center">Mes/Año</th>
                        <th align="left">Recibo</th> 
                        <th align="center">Persona/usuario</th>
                        <th align="center">Contrato</th>
                        <th align="center">Zona</th>
                        <th align="center">Predio</th>
                        <th align="center">Monto consumo</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = 'yellow   ';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <td align="center" width="30">
                            <label class="container">
                              <input type="checkbox" ng-model="p.select">
                              <span class="checkmark"></span>
                            </label>
                        </td>
                        <td align="center" width="15">{{ $index + 1}}</td>
                        <td align="center" width="70">{{p.mes_recibo.mes.abreviatura|uppercase}}-{{p.mes_recibo.anio}}</td>
                        <td align="center" width="40">{{ p.numero}}</td>
                        <td align="left">{{p.contrato.persona.nombre_completo}}</td>
                        <td align="center" width="40">{{ p.contrato.numero}}</td>
                        <td align="left">{{p.contrato.predio.zona.nombre}}</td>
                        <td align="left">{{p.contrato.predio.predio_direcciones[0]['direccion_detalle']}}</td>
                        <td align="right" width="20">{{p.monto_total}}</td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.new_edit($event, p)">Editar</a>
                        </td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.delete($event, p)">Eliminar</a>
                        </td>
                   </tr>
                </table>
            </div>

            <section  class="md-padding" layout-gt-xs="row" layout-align="center center"  ng-if="ctrl.obj.mes_recibo_id">
                <div>
                <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
                    <md-input-container>
                        <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
                                   required ng-change="ctrl.listar_por()" aria-label="s">
                            <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
                <cl-paging 
                    cl-pages="ctrl.paging.last_page"
                    cl-steps="5"
                    cl-page-changed="ctrl.paging.onPageChanged()"
                    cl-align="start start"
                    cl-current-page="ctrl.paging.current_page">
                </cl-paging>
            </section>

            <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>

        </div>
        <!-- <div layout="column" class="md-padding" flex="30" style="border-left: 1px solid rgb(189,189,189);">
        	<span class="md-subhead">Calendario de generación</span>
        	<span class="md-caption">&bull; 30 de julio 2018 (Faltan 4 días)</span>
        	<span class="md-caption">&bull; 31 de agosto 2018 (Faltan 35 días)</span>
        	<br>
        	<span class="md-subhead">Historial de generación de recibos</span>
        	<span class="md-caption">&bull; 30 de junio de 2018</span>
        	<span class="md-caption">&bull; 31 de mayo de 2018</span>
        </div> -->
    </div>
<!--     <md-fab-speed-dial md-direction="left" md-open="demo.isOpen"
                       class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': demo.hover }"
                       ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-tooltip md-direction="bottom">OPCIONES</md-tooltip>
      <ng-md-icon icon="menu" aria-label="close"></ng-md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <div>
      <md-button aria-label="config" class="md-fab md-raised md-primary"
                 ng-click="ctrl.mes_recibo($event)">
        <md-tooltip md-direction="bottom" md-autohide="false">Configuración</md-tooltip>
        <ng-md-icon icon="calendar_today" aria-label="c"></ng-md-icon>
      </md-button>
    </div>
    <div>
      <md-button aria-label="config" class="md-fab md-raised md-primary"
                 ng-click="ctrl.generar($event)">
        <md-tooltip md-direction="bottom" md-autohide="false">Generar recibos</md-tooltip>
        <ng-md-icon icon="description" aria-label="c"></ng-md-icon>
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial> -->
</div>


