  <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'><b>Mis recibos</b></span>
                <span class="md-caption">Listado de recibos generados</span>
            </div>
            <span flex></span>
            <md-button aria-label="Open demo menu" class="md-icon-button md-primary" 
                       ng-click="ctrl.listar()" style="margin: 0px; margin-left: 8px;">
                <ng-md-icon icon="refresh"></ng-md-icon>
                <md-tooltip md-auto-hide md-direction="bottom">Actualizar</md-tooltip>
            </md-button>
            
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" flex="100">
    	<div layout="column" flex class="md-padding">

            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%">
                    <tr style="background: #eee;">
                        <th align="center">#</th> 
                        <th colspan="3">Opciones</th>
                        <th align="center">Mes/Año</th>
                        <th align="left">Recibo</th> 
                        <th align="center">Persona/usuario</th>
                        <th align="center">Contrato</th>
                        <th align="center">Predio</th>
                        <th align="center">Zona</th>
                        <th align="center">Monto</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = 'yellow   ';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <td align="center" width="15">{{ $index + 1}}</td>
                        <td align="center" width="10">
                            <md-button title="Descargar PDF" aria-label="o" class="md-icon-button md-primary" 
				                       ng-click="ctrl.opcion_pdf('descargar',p.id)" style="margin: 0px; margin-left: 0px;">
				                <ng-md-icon icon="cloud_download"></ng-md-icon>
				            </md-button>
                        </td>
						<td align="center" width="10">
                            <md-button title="Abrir ventana" aria-label="o" class="md-icon-button md-primary" 
				                       ng-click="ctrl.opcion_pdf('ver',p.id)" style="margin: 0px; margin-left: 0px;">
				                <ng-md-icon icon="open_in_new"></ng-md-icon>
				            </md-button>
                        </td>
                        <td align="center" width="10">
                            <md-button title="Abrir ventana e imprimir" aria-label="o" class="md-icon-button md-primary" 
				                       ng-click="ctrl.opcion_pdf('print',p.id)" style="margin: 0px; margin-left: 0px;">
				                <ng-md-icon icon="print"></ng-md-icon>
				            </md-button>
                        </td>
                        <td align="center" width="70">{{p.mes_recibo.mes.abreviatura|uppercase}}-{{p.mes_recibo.anio}}</td>
                        <td align="center" width="40">{{ p.numero}}</td>
                        <td align="left">{{p.contrato.persona.nombre_completo}}</td>
                        <td align="center" width="40">{{ p.contrato.numero}}</td>
                        <td align="left">{{p.contrato.predio.predio_direcciones[0]['direccion_detalle']}}</td>
                        <td align="left">{{p.contrato.predio.zona.nombre}}</td>
                        <td align="right" width="20">{{p.monto_total}}</td>
                   </tr>
                </table>
            </div>

            <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>

        </div>
    </div>

</div>


