<br>
<br>
<div layout="row" layout-align="center center" flex >
    <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
            <!--<ng-md-icon icon="account_box" aria-label="close" size="{{(8 * 5)}}" style="color: #0097A7;"></ng-md-icon>-->
            <img ng-src="recursos/imag/limon_live.png" 
                 style="width: 180px; padding: 5px;" 
                 alt="Logo">
        </div>
        <div layout="row" layout-align="center center" flex class="tooltip_login" style="width: 350px;">
            <div layout="column" layout-align="center center" flex>
                <span class="md-title" style="color: white;"><strong>JASS SANTA LUCÍA</strong></span>
                <span class="md-caption estilizado" style="color: white;">Ingrese su usuario y contraseña</span>
            </div>
        </div>
    </div>
</div>
<form name='myform' autocomplete="off">
    <div layout="row" layout-align="center center">
        <md-card style="width: 350px;" layout="column" class="md-whiteframe-16dp md-padding">
            <br>
            <div layout="row" flex="100">
                <md-input-container class="md-block" flex>
                    <label>Nombre de usuario</label>
                    <input type="text" maxlength="40" name="username" ng-model="ctrl.obj.username" 
                           minlength="2" required md-autofocus/>
                </md-input-container>
            </div>
            <div layout="row" flex="100">
                <md-input-container class="md-block" flex>
                    <label>Contraseña</label>
                    <input type="password" maxlength="40" name="password" ng-model="ctrl.obj.password" 
                           minlength="2" required/>
                </md-input-container>
            </div>
            <md-card-actions layout="row" layout-align="start center">
                <md-button type="submit" ng-click="ctrl.login(ctrl.obj)" class="md-raised md-primary" ng-disabled="!myform.$valid || ctrl.cargando"
                           flex="100">
                    <span ng-if="!ctrl.cargando">INICIAR SESIÓN</span>
                    <span ng-if="ctrl.cargando">VALIDANDO...</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <br>
    <div layout="row" layout-align="center center">
        <div layout="column" flex-xs="90" flex-sm="70" flex-md="40" flex-lg="33" flex-xl="30">
            <div layout="column"  flex="100" layout-align="end center" style="color: white;">
                <md-card style="width: 350px; text-align: center; background: rgb(33, 150, 243);" class="md-padding">
                    <span class="md-body-1" style="color: white;"><b>MisionLive Corporation</b></span>
                    <span class="md-caption" style="color: white;">© Todos los derechos reservados</span>
                    <span class="md-caption" style="color: white;"><a class="pqm-link" href="http://www.misionlive.com/" target="_blank" style="color: white;">www.misionlive.com</a></span>
                </md-card>
            </div>

        </div>
    </div>
</form>
<style type="text/css">
    body{
       background: url("recursos/imag/fagua1.jpg");
    /*background-color: #ccc; Puedes combinarlo con colores de fondo también*/
    background-size: cover;
    background-blend-mode: lighten, normal /*Puedes agregar mas de 1*/;
    }
</style>
<br>