<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular_cropper">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="add_a_photo" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Subir</span>
                    <span><b>foto o logo</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex ng-if="form.obj_.foto_logo_rec">
                    <md-radio-group ng-model="form.obj.hacer">
                        <md-radio-button ng-repeat="p in ['Agregar','Eliminar']" class="md-primary form_radios_tipo_pers" ng-value="p" aria-label="s">{{p}}</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row" flex>
                    <span class="md-caption">{{form.obj_.tipo_persona.nombre}}: <b>{{form.obj_.nombre_completo}}</b></span>
                </div>
                <div layout="row" flex ng-if="form.obj.hacer ==='Eliminar'" style="text-overflow: ellipsis;">
                    <span class="md-caption error" style="text-overflow: ellipsis;">Se eliminará de la ruta: {{form.obj_.foto_logo_rec| limitTo:60}}</span>
                </div>
                <br>
                <!-- <div layout-gt-xs flex style="font-size: 12px;" ng-if="form.obj.hacer ==='Agregar'">
                    <div layout="column">
                        <span class="md-caption">Foto o logo<br><br></span>
                        <input type="file" name="file" uploader-model="form.obj.logo_new"/>
                    </div>
                </div>
                <br> -->
                <div layout-gt-xs="row" flex="100" ng-if="form.obj.hacer ==='Agregar'">
                    <div layout="column" flex-gt-xs="50">
                        <input style="font-size: 12px;" type="file" img-cropper-fileread image="form.cropper.sourceImage"/>
                        <div flex>
                          <canvas width="430" height="385" id="canvas" image-cropper image="form.cropper.sourceImage" cropped-image="form.cropper.croppedImage" crop-width="300"

                           crop-height="300" min-width="80" min-height="80" keep-aspect="true" crop-area-bounds="form.bounds"></canvas>
                        </div>
                    </div>
                    <!-- div>Cropped Image (Left: {{form.bounds.left}} Right: {{form.bounds.right}} Top: {{form.bounds.top}} Bottom: {{form.bounds.bottom}})</div> -->
                    <div layout-gt-xs="column" class="md-padding" flex-gt-xs="50">
                        <div ng-show="form.cropper.croppedImage!=null">
                            <img ng-src="{{form.cropper.croppedImage}}" width="100%" max-width="500"/>
                        </div>
                    </div>
                  </div>



            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                {{form.obj.hacer}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>