<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="people" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nueva</span>
                    <span><b>persona</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-radio-group ng-model="form.obj.tipo_persona_id" ng-change="form.change_tipo_per(form.obj.tipo_persona_id)" ng-disabled="form.obj_.id">
                        <md-radio-button ng-repeat="p in form.tipospersona" class="md-primary form_radios_tipo_pers" ng-value="p.codigo" aria-label="s">{{p.nombre}}</md-radio-button>
                    </md-radio-group>
                    <span flex></span>
                    <md-progress-circular ng-if="form.cargando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
                </div>

                <fieldset ng-if="form.obj.tipo_persona_id" class="field_set_form">
                    <legend class="size15">Documentos de identidad:</legend>
                    <div layout-gt-xs="row" flex ng-repeat="p in form.list_documentos">
                        <md-input-container class="md-block" layout-gt-xs flex-gt-xs="33" flex>
                            <label>Tipo de documento</label>
                            <md-select name="tipo_documento{{$index}}" ng-model="p.tipo_documento_id" aria-label="s" required ng-change="form.change_tipo_doc(p,form.obj.id)" md-autofocus>
                                <md-option></md-option>
                                <md-option ng-repeat="q in form.new_tiposdocumento(p)" ng-value="q.id">{{q.nombre}}</md-option>
                            </md-select>
                            <div ng-messages="myform['tipo_documento'+$index].$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Este campo es requirido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Número</label>
                            <input name="numero_documento{{$index}}" ng-model="p.numero" required pattern="{{p['patron_angular']}}" ng-change="form.verificar_nro(p,form.obj.id)"/>
                            <div ng-messages="myform['numero_documento'+$index].$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Este campo es requirido</div>
                                <div ng-message="pattern" class="my-message">El número de documento no válido</div>
                            </div>
                            <span ng-if="p.numero && p.existe" class="form_padres_ubigeo error">
                                Existe persona con este número de documento
                            </span>
                        </md-input-container>
                        <md-button ng-if="p.codigo ==='RUC' && p.numero" class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.verif_RUC($event, p)" style="margin: 0px;"><ng-md-icon icon="visibility" aria-label="del"></ng-md-icon><md-tooltip>Verificar RUC</md-tooltip></md-button>

                        <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_documento(form.list_documentos, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon><md-tooltip>Quitar</md-tooltip></md-button>
                    </div>
                    <div layout-gt-xs="row" ng-if="form.list_documentos.length < form.tiposdocumento.length">
                            <md-button class="md-primary md-hue-2" aria-label="View" ng-click="form.add_documento()" style="line-height: 27px !important; min-height: 27px;">Agregar</md-button>
                    </div>
                </fieldset>
                <br>
                <fieldset ng-if="form.obj.tipo_persona_id === '01'" class="field_set_form">
                    <legend class="size15">Datos Personales:</legend>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Nombres</label>
                            <input ng-model="form.obj.nombres" md-maxlength="90" name="nombres" required/>
                            <div ng-messages="myform.nombres.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Campo requerido</div>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Primer apellido</label>
                            <input ng-model="form.obj.papellido" md-maxlength="70" name="papellido" required/>
                            <div ng-messages="myform.papellido.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Campo requerido</div>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Segundo apellido</label>
                            <input ng-model="form.obj.sapellido" md-maxlength="70" name="sapellido"/>
                            <div ng-messages="myform.sapellido.$error" role="alert" multiple>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" layout-gt-xs flex>
                            <label>Sexo</label>
                            <md-select name="sexo" ng-model="form.obj.sexo" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.sexos" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-autocomplete
                            flex
                            md-input-name="nacionalidad_id"
                            md-no-cache="true"
                            md-selected-item="form.obj.nacionalidad"
                            md-search-text="searchText"
                            md-items="item in form.BuscarPais(searchText)"
                            md-item-text="item.nombre"
                            md-min-length="0"
                            md-require-match
                            md-autoselect="false"
                            md-floating-label="Nacionalidad/País"
                            >
                            <md-item-template>
                                <span md-highlight-text="searchText">
                                    {{item.nombre}}
                                </span>
                            </md-item-template>
                            <md-not-found>No encontrado</md-not-found>
                            <div ng-messages="myform.nacionalidad_id.$error">
                                <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            </div>
                        </md-autocomplete>
                        <md-input-container class="md-block" layout-gt-xs flex>
                            <label>Tipo de contribuyente</label>
                            <md-select name="tipo_contribuyente_id" ng-model="form.obj.tipo_contribuyente_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.tiposcontribuyente" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" layout-gt-xs flex-gt-xs="25" flex>
                            <label>Tipo de fecha</label>
                            <md-select name="tipo_fecha_id" ng-model="form.obj.tipo_fecha_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.tiposfecha" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="form.obj.tipo_fecha_id" class="md-block" flex-gt-xs flex>
                            <label>Año</label>
                            <input type="number" ng-model="form.obj.anio" min="1800" name="anio"/>
                            <div ng-messages="myform.anio.$error" role="alert" multiple>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                                <div ng-message="min" class="my-message">No menor a 1800</div>
                            </div>
                        </md-input-container>
                        <md-input-container ng-if="form.obj.tipo_fecha_id" class="md-block" layout-gt-xs flex>
                            <label>Mes</label>
                            <md-select name="mes" ng-model="form.obj.mes_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.meses" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="form.obj.tipo_fecha_id" class="md-block" layout-gt-xs flex>
                            <label>Día</label>
                            <md-select name="dia" ng-model="form.obj.dia" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.dias" ng-value="p.id">{{p.id}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </fieldset>
                <fieldset ng-if="form.obj.tipo_persona_id === '02'" class="field_set_form">
                    <legend class="size15">Datos Personales:</legend>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Razón social</label>
                            <input ng-model="form.obj.razon_social" md-maxlength="90" name="razon_social" required md-autofocus/>
                            <div ng-messages="myform.razon_social.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Campo requerido</div>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Nombre comercial</label>
                            <input ng-model="form.obj.nombre_comercial" md-maxlength="90" name="nombre_comercial"/>
                            <div ng-messages="myform.nombre_comercial.$error" role="alert" multiple>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Nro. Resolución</label>
                            <input ng-model="form.obj.nro_resolucion" md-maxlength="60" name="nro_resolucion"/>
                            <div ng-messages="myform.nro_resolucion.$error" role="alert" multiple>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" layout-gt-xs flex>
                            <label>Tipo de ámbito</label>
                            <md-select name="tipo_ambito_id" ng-model="form.obj.tipo_ambito_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.tiposambito" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <div layout-gt-xs flex-gt-xs="50" flex>
                            <div layout-gt-xs="column" flex>
                                <div layout-gt-xs="row" flex>
                                    <md-input-container class="md-block md-input-has-value">
                                        <md-checkbox title="Buscar representante" class="md-primary" ng-model="form.obj.tiene_res_legal" aria-label="Checkbox">
                                        </md-checkbox>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex ng-if="!form.obj.tiene_res_legal">
                                        <label>Representante legal</label>
                                        <input ng-model="form.obj.nombre_repres_legal" md-maxlength="120" name="nombre_repres_legal"/>
                                        <div ng-messages="myform.nombre_repres_legal.$error" role="alert" multiple>
                                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                                        </div>
                                    </md-input-container>
                                    <md-autocomplete
                                        ng-if="form.obj.tiene_res_legal"
                                        flex
                                        flex-gt-xs
                                        md-input-name="repres_legal_id"
                                        md-no-cache="true"
                                        md-selected-item="form.obj.repres_legal"
                                        md-search-text="searchTextRL"
                                        md-items="item in form.BuscarPersonaDocumento(searchTextRL)"
                                        md-item-text="item.nombre_completo"
                                        md-min-length="0"
                                        md-require-match
                                        md-autoselect="false"
                                        md-floating-label="Representante legal"
                                        md-menu-class="autocomplete-persona-template">
                                        <md-item-template>
                                          <span class="item-title">
                                            <strong> {{item.nombre_completo}} </strong>
                                          </span>
                                          <span class="item-metadata" ng-if="item.persona_persona_documentos.length>0">
                                            <span ng-repeat="q in item.persona_persona_documentos">
                                              {{q.tipo_documento.nombre}}: {{q.numero}}
                                            </span>
                                          </span>
                                        </md-item-template>
                                        <md-not-found>No encontrado</md-not-found>
                                        <span ng-if="form.obj.repres_legal" class="form_padres_ubigeo">
                                            <span ng-repeat="q in form.obj.repres_legal.persona_persona_documentos">
                                              {{q.tipo_documento.nombre}}: {{q.numero}}
                                            </span>
                                        </span>
                                        <div ng-messages="myform.repres_legal_id.$error">
                                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                        </div>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout-gt-xs="row" flex>
                        <md-autocomplete
                            flex
                            flex-gt-xs="33"
                            md-input-name="nacionalidad_id"
                            md-no-cache="true"
                            md-selected-item="form.obj.nacionalidad"
                            md-search-text="searchText"
                            md-items="item in form.BuscarPais(searchText)"
                            md-item-text="item.nombre"
                            md-min-length="0"
                            md-require-match
                            md-autoselect="false"
                            md-floating-label="Nacionalidad/País"
                            >
                            <md-item-template>
                                <span md-highlight-text="searchText">
                                    {{item.nombre}}
                                </span>
                            </md-item-template>
                            <md-not-found>No encontrado</md-not-found>
                            <div ng-messages="myform.nacionalidad_id.$error">
                                <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            </div>
                        </md-autocomplete>
                        <md-input-container class="md-block" layout-gt-xs flex>
                            <label>Tipo de contribuyente</label>
                            <md-select name="tipo_contribuyente_id" ng-model="form.obj.tipo_contribuyente_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.tiposcontribuyente" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" layout-gt-xs flex-gt-xs="25" flex>
                            <label>Tipo de fecha</label>
                            <md-select name="tipo_fecha_id" ng-model="form.obj.tipo_fecha_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.tiposfecha" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="form.obj.tipo_fecha_id" class="md-block" flex-gt-xs flex>
                            <label>Año</label>
                            <input type="number" ng-model="form.obj.anio" min="1800" name="anio"/>
                            <div ng-messages="myform.anio.$error" role="alert" multiple>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                                <div ng-message="min" class="my-message">No menor a 1800</div>
                            </div>
                        </md-input-container>
                        <md-input-container ng-if="form.obj.tipo_fecha_id" class="md-block" layout-gt-xs flex>
                            <label>Mes</label>
                            <md-select name="mes" ng-model="form.obj.mes_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.meses" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="form.obj.tipo_fecha_id" class="md-block" layout-gt-xs flex>
                            <label>Día</label>
                            <md-select name="dia" ng-model="form.obj.dia" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.dias" ng-value="p.id">{{p.id}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </fieldset>
                <br>
                <fieldset ng-if="form.obj.tipo_persona_id" class="field_set_form">
                    <legend class="size15">Direcciones:</legend>
                    <div layout-gt-xs="row" flex ng-repeat="p in form.list_direcciones">
                        <md-input-container class="md-block" layout-gt-xs flex-gt-xs="20" flex>
                            <label>Tipo de dirección</label>
                            <md-select name="tipo_direccion{{$index}}" ng-model="p.tipo_direccion_id" aria-label="s" required ng-change="form.change_tipo_dir(p)">
                                <md-option></md-option>
                                <md-option ng-repeat="q in form.new_tiposdireccion(p)" ng-value="q.id">{{q.nombre}}</md-option>
                            </md-select>
                            <div ng-messages="myform['tipo_direccion'+$index].$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Este campo es requirido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block md-input-has-value">
                            <md-checkbox title="Dirección específica" class="md-primary" ng-model="p.completa" aria-label="Checkbox">
                            </md-checkbox>
                        </md-input-container>
                        <div layout-gt-xs flex-gt-xs flex>
                            <div layout-gt-xs="column" flex>
                                <div layout-gt-xs="row" flex ng-if="p.completa">
                                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="25" flex>
                                        <label>Tipo vía</label>
                                        <md-select name="tipo_via{{$index}}" ng-model="p.tipo_via_id" aria-label="s" required>
                                            <md-option></md-option>
                                            <md-option ng-repeat="q in form.tiposvia" ng-value="q.id">{{q.nombre}}</md-option>
                                        </md-select>
                                        <div ng-messages="myform['tipo_via'+$index].$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs="45" flex>
                                        <label>Nombre vía</label>
                                        <input name="nombre_via{{$index}}" ng-model="p.nombre_via" md-maxlength="90" required/>
                                        <div ng-messages="myform['nombre_via'+$index].$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Campo requerido</div>
                                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="{{(p.tipo_numero_via_id === 3)? 30:15}}" flex>
                                        <label>Tipo Nro.</label>
                                        <md-select name="tipo_numero_via{{$index}}" ng-model="p.tipo_numero_via_id" aria-label="s">
                                            <md-option></md-option>
                                            <md-option ng-repeat="q in form.tiposnumerovia" ng-value="q.id">{{q.abreviatura}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container ng-if="p.tipo_numero_via_id !== 3" class="md-block" flex-gt-xs="15" flex>
                                        <label>Número</label>
                                        <input ng-model="p.numero_via" md-maxlength="20" name="numero_via{{$index}}"/>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="p.completa">
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Manzana</label>
                                        <input ng-model="p.manzana" md-maxlength="40" name="manzana{{$index}}"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Lote</label>
                                        <input ng-model="p.lote" md-maxlength="20" name="lote{{$index}}"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Piso</label>
                                        <input ng-model="p.piso" md-maxlength="12" name="piso{{$index}}"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Dpto/Interior</label>
                                        <input ng-model="p.dpto_interior" md-maxlength="30" name="dpto_interior{{$index}}"/>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="p.completa">
                                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="33" flex>
                                        <label>Tipo zona</label>
                                        <md-select name="tipo_zona{{$index}}" ng-model="p.tipo_zona_id" aria-label="s">
                                            <md-option></md-option>
                                            <md-option ng-repeat="q in form.tiposzona" ng-value="q.id">{{q.nombre}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs="66" flex>
                                        <label>Nombre zona</label>
                                        <input name="nombre_zona{{$index}}" ng-model="p.nombre_zona" md-maxlength="60"/>
                                    </md-input-container>
                                    <!-- <md-input-container class="md-block" flex-gt-xs="33" flex>
                                        <label>Referencia</label>
                                        <input ng-model="p.referencia1" name="referencia1{{$index}}" md-maxlength="150"/>
                                    </md-input-container> -->
                                </div>
                                <div layout-gt-xs="row" flex ng-if="p.completa">
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Referencia 1</label>
                                        <input ng-model="p.referencia1" name="referencia1{{$index}}" md-maxlength="150"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Referencia 2</label>
                                        <input ng-model="p.referencia2" name="referencia2{{$index}}" md-maxlength="150"/>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="!p.completa">
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Dirección</label>
                                        <input ng-model="p.direccion_detalle" name="direccion_detalle{{$index}}" md-maxlength="180" required/>
                                        <div ng-messages="myform['direccion_detalle'+$index].$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Campo requerido</div>
                                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="!p.completa">
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Referencia 1</label>
                                        <input ng-model="p.referencia1" name="referencia1{{$index}}" md-maxlength="150"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Referencia 2</label>
                                        <input ng-model="p.referencia2" name="referencia2{{$index}}" md-maxlength="150"/>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex>
                                    <md-autocomplete
                                        flex-gt-xs="33"
                                        flex
                                        md-input-name="{{'pais_id'+$index}}"
                                        md-no-cache="true"
                                        md-selected-item="p.pais"
                                        md-search-text="searchTextPA"
                                        md-items="item in form.BuscarPais(searchTextPA)"
                                        md-item-text="item.nombre"
                                        md-min-length="0"
                                        md-require-match
                                        md-autoselect="false"
                                        md-floating-label="País"
                                        required
                                        >
                                        <md-item-template>
                                            <span md-highlight-text="searchTextPA">
                                                {{item.nombre}}
                                            </span>
                                        </md-item-template>
                                        <md-not-found>No encontrado</md-not-found>
                                        <div ng-messages="myform['pais_id'+$index].$error">
                                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                            <div ng-message="required">País obligatorio</div>
                                        </div>
                                    </md-autocomplete>
                                    <md-autocomplete
                                        flex
                                        md-input-name="{{'ubigeo_id'+$index}}"
                                        md-no-cache="true"
                                        md-selected-item="p.ubigeo"
                                        md-search-text="searchTextUB"
                                        md-items="item in form.BuscarUbigeo(searchTextUB, p.pais.id)"
                                        md-item-text="item.nombre"
                                        md-min-length="0"
                                        md-require-match
                                        md-autoselect="false"
                                        md-floating-label="Distrito/Estado"
                                        md-menu-class="autocomplete-ubigeo"
                                        ng-disabled="!p.pais"
                                        >
                                        <md-item-template>
                                          <span class="item-title">
                                            <ng-md-icon icon="place" aria-label="ico"></ng-md-icon>
                                            <span> {{item.nombre}} <span ng-if="item.padre">- {{item.padre.nombre}}</span> <span ng-if="item.padre.padre">- {{item.padre.padre.nombre}}</span></span>
                                          </span>
                                        </md-item-template>
                                        <md-not-found>No encontrado</md-not-found>
                                        <div ng-messages="myform['ubigeo_id'+$index].$error">
                                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                        </div>
                                        <span ng-if="p.ubigeo.padre" class="form_padres_ubigeo">
                                            {{p.ubigeo.padre.nombre}} <span ng-if="p.ubigeo.padre.padre">- {{p.ubigeo.padre.padre.nombre}}</span>
                                        </span>
                                    </md-autocomplete>
                                    <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.add_punto($event, p)" title="Agregar puntos de referencia"><ng-md-icon icon="place" aria-label="Close"></ng-md-icon></md-button>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="p.punto_lat" style="padding-top: 2px;color: #9E9E9E;max-height: 23px;">
                                    <span class="md-caption">[{{p.punto_lat}},{{p.punto_long}}]</span>
                                </div>
                            </div>
                        </div>
                        <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_direccion(form.list_direcciones, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon><md-tooltip>Quitar</md-tooltip></md-button>
                    </div>
                    <div layout-gt-xs="row" ng-if="form.list_direcciones.length < form.tiposdireccion.length">
                            <md-button class="md-primary md-hue-2" aria-label="View" ng-click="form.add_direccion()" style="line-height: 27px !important; min-height: 27px;">Agregar</md-button>
                    </div>
                </fieldset>
                <br>
                <fieldset ng-if="form.obj.tipo_persona_id" class="field_set_form">
                    <legend class="size15">Contacto:</legend>
                    <div layout-gt-xs="row" flex ng-repeat="p in form.list_contactos">
                        <md-input-container class="md-block" layout-gt-xs flex-gt-xs="15" flex>
                            <label>Tipo contacto</label>
                            <md-select name="tipo_contacto{{$index}}" ng-model="p.tipo_contacto_id" aria-label="s" required ng-change="form.change_tipo_contacto(p)">
                                <md-option></md-option>
                                <md-option ng-repeat="q in form.tiposcontacto" ng-value="q.id">{{q.nombre}}</md-option>
                            </md-select>
                            <div ng-messages="myform['tipo_contacto'+$index].$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Este campo es requirido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" layout-gt-xs flex-gt-xs="15" flex>
                            <label>Cuenta</label>
                            <md-select name="cuenta_contacto{{$index}}" ng-model="p.cuenta_contacto_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="q in p.cuentascontacto" ng-value="q.id">{{q.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" layout-gt-xs flex-gt-xs="15" flex>
                            <label>Etiqueta</label>
                            <md-select name="etiqueta_contacto{{$index}}" ng-model="p.etiqueta_contacto_id" aria-label="s" ng-change="form.change_etiqueta(p)">
                                <md-option></md-option>
                                <md-option ng-repeat="q in p.etiquetascontacto" ng-value="q.id">{{q.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <div layout-gt-xs flex-gt-xs flex>
                            <div layout-gt-xs="column" flex>
                                <div layout-gt-xs="row" flex>
                                    <md-autocomplete
                                        ng-if="p.tipo_contacto_codigo === 'TEL' || p.tipo_contacto_codigo === 'FAX'"
                                        flex-gt-xs="35"
                                        flex
                                        md-no-cache="true"
                                        md-selected-item="p.pais"
                                        md-search-text="searchTextPAi"
                                        md-selected-item-change="form.change_pais_cont(p)"
                                        md-items="item in form.BuscarPais(searchTextPAi)"
                                        md-item-text="item.nombre"
                                        md-min-length="0"
                                        md-require-match
                                        md-autoselect="false"
                                        md-floating-label="País {{p.pais.codigo_telefono}}"
                                        >
                                        <md-item-template>
                                            <span md-highlight-text="searchTextPAi">
                                                {{item.nombre}}
                                            </span>
                                        </md-item-template>
                                        <md-not-found>No encontrado</md-not-found>
                                    </md-autocomplete>
                                    <md-input-container ng-if="p.tiene_cod_ubigeo === 'SI'" class="md-block" layout-gt-xs flex-gt-xs="35" flex>
                                        <label>Dep/estado <span ng-if="p.codigo_telefono">({{p.codigo_telefono}})</span></label>
                                        <md-select name="ubigeo_id_{{$index}}" ng-model="p.ubigeo_id" aria-label="s" ng-change="form.change_ubigeo_cont(p)">
                                            <md-option></md-option>
                                            <md-option ng-repeat="q in p.ubigeos" ng-value="q.id">{{q.nombre}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>{{p.denom_valor||'Valor'}}</label>
                                        <input ng-model="p.valor_contacto" name="valor_contacto_{{$index}}" md-maxlength="90" required/>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="p.tipo_contacto_codigo === 'TEL'">
                                    <md-input-container ng-if="p.tiene_anexo === 'SI'" class="md-block" flex-gt-xs="25" flex>
                                        <label>Anexo</label>
                                        <input ng-model="p.anexo" name="anexo_{{$index}}" md-maxlength="10"/>
                                    </md-input-container>
                                    <md-input-container ng-if="p.tiene_anexo === 'SI'" class="md-block" flex>
                                        <label>Área/oficina</label>
                                        <input ng-model="p.area_oficina" name="area_oficina_{{$index}}" md-maxlength="60"/>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_contacto(form.list_contactos, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon><md-tooltip>Quitar</md-tooltip></md-button>
                    </div>
                    <div layout-gt-xs="row">
                            <md-button class="md-primary md-hue-2" aria-label="View" ng-click="form.add_contacto()" style="line-height: 27px !important; min-height: 27px;">Agregar</md-button>
                    </div>
                </fieldset>
                <br>
                <fieldset ng-if="form.obj.tipo_persona_id === '01'" class="field_set_form">
                    <legend class="size15">Profesiones u oficios:</legend>
                    <div layout-gt-xs="row" flex ng-repeat="p in form.list_profesionesoficio">
                        <md-autocomplete
                            flex-gt-xs="50"
                            flex
                            md-input-name="profesion_oficio_id{{$index}}"
                            md-no-cache="true"
                            md-selected-item="p.profesion_oficio"
                            md-search-text="searchTextPO"
                            md-items="item in form.BuscarProfesionOficio(searchTextPO)"
                            md-item-text="item.nombre"
                            md-min-length="0"
                            md-require-match
                            md-autoselect="false"
                            md-floating-label="Profesión / oficio"
                            required
                            >
                            <md-item-template>
                                <span md-highlight-text="searchTextPO">
                                    {{item.nombre}}
                                </span>
                            </md-item-template>
                            <md-not-found>No encontrado</md-not-found>
                            <div ng-messages="myform['profesion_oficio_id0'].$error">
                                <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                <div ng-message="required">Profesión obligatorio</div>
                            </div>
                            <span ng-if="p.profesion_oficio" class="form_padres_ubigeo">
                                {{p.profesion_oficio.nombre}} {{p.descripcion}}
                            </span>
                        </md-autocomplete>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Descripción</label>
                            <input ng-model="p.descripcion" name="descripcion{{$index}}" md-maxlength="60"/>
                            <div ng-messages="myform['descripcion'+$index].$error">
                                <div ng-message="md-maxlength">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                        <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_profesionoficio(form.list_profesionesoficio, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon><md-tooltip>Quitar</md-tooltip></md-button>
                    </div>
                    <div layout-gt-xs="row">
                            <md-button ng-if="form.list_profesionesoficio.length < 5" class="md-primary md-hue-2" aria-label="View" ng-click="form.add_profesionoficio()" style="line-height: 27px !important; min-height: 27px;">Agregar</md-button>
                    </div>
                </fieldset>

                <fieldset ng-if="form.obj.tipo_persona_id === '02'" class="field_set_form">
                    <legend class="size15">Actividades económicas:</legend>
                    <div layout-gt-xs="row" flex ng-repeat="p in form.list_actividades">
                        <md-autocomplete
                            flex-gt-xs
                            flex
                            md-input-name="{{'clasificacion_iiu'+$index}}"
                            md-no-cache="true"
                            md-selected-item="p.clasificacion_iiu"
                            md-search-text="searchTextCLA"
                            md-items="item in form.BuscarClasificacionIiu(searchTextCLA)"
                            md-item-text="item.nombre"
                            md-min-length="0"
                            md-require-match
                            md-autoselect="false"
                            md-floating-label="Actividad económica"
                            required
                            >
                            <md-item-template>
                                <span md-highlight-text="searchTextCLA">
                                    {{item.nombre}}
                                </span>
                            </md-item-template>
                            <md-not-found>No encontrado</md-not-found>
                            <div ng-messages="myform['clasificacion_iiu'+$index].$error" role="alert" multiple>
                                <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                <div ng-message="required">Actividad obligatorio</div>
                            </div>
                        </md-autocomplete>
                        <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_actividad(form.list_actividades, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon><md-tooltip>Quitar</md-tooltip></md-button>
                    </div>
                    <div layout-gt-xs="row">
                            <md-button ng-if="form.list_actividades.length < 4" class="md-primary md-hue-2" aria-label="View" ng-click="form.add_actividad()" style="line-height: 27px !important; min-height: 27px;">Agregar</md-button>
                    </div>
                </fieldset>
                <br>
                <fieldset class="field_set_form">
                    <legend class="size15">Números de cuenta:</legend>
                    <div layout-gt-xs="row" flex ng-repeat="p in form.list_cuentas">
                        <md-input-container class="md-block" flex-gt-xs="25" flex>
                            <label>Entidad financiera</label>
                            <md-select name="entidad_financiera{{$index}}" ng-model="p.entidad_financiera_id" aria-label="s" required>
                                <md-option></md-option>
                                <md-option ng-repeat="q in form.entidadfinancieras" ng-value="q.id">{{q.tipo_ent_finan.concatenar?q.tipo_ent_finan.concatenar+' '+q.nombre:q.nombre}}</md-option>
                            </md-select>
                            <div ng-messages="myform['entidad_financiera'+$index].$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Este campo es requirido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="25" flex>
                            <label>Número de cuenta</label>
                            <input name="numero_cuenta{{$index}}" ng-model="p.numero" md-maxlength="60" required/>
                            <div ng-messages="myform['numero_cuenta'+$index].$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">Campo requerido</div>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="25" flex>
                            <label>Número CCI</label>
                            <input name="numero_cci_cuenta{{$index}}" ng-model="p.numero_cci" md-maxlength="70"/>
                            <div ng-messages="myform['numero_cci_cuenta'+$index].$error" role="alert" multiple>
                                <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Tipo de cuenta</label>
                            <md-select name="tipo_cuenta_finan{{$index}}" ng-model="p.tipo_cuenta_finan_id" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="q in form.tiposcuentafinan" ng-value="q.id">{{q.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_cuenta(form.list_cuentas, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon><md-tooltip>Quitar</md-tooltip></md-button>
                    </div>
                    <div layout-gt-xs="row">
                            <md-button ng-if="form.list_cuentas.length < 5" class="md-primary md-hue-2" aria-label="View" ng-click="form.add_cuenta()" style="line-height: 27px !important; min-height: 27px;">Agregar</md-button>
                    </div>
                </fieldset>

                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions" ng-if="form.cargado">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>