
  <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'>Personas</span>
                <span class="md-caption">Listado de personas registradas</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-hue-2" ng-click="ctrl.listar()" aria-label="close">
                <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                <md-tooltip>Actualizar lista</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.new_edit($event, null)" aria-label="close">
                    <ng-md-icon icon="add" aria-label="close"></ng-md-icon>
                    <md-tooltip>Añadir persona</md-tooltip>
                </md-button>
                <span flex></span>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input type="text" autocomplete="off" name="busqueda" ng-model="ctrl.search" maxlength="70" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()"/>
                </md-input-container>
                <md-menu md-position-mode="target-right target" style="padding: 0px;
                        margin-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 15px;">
                    <md-button aria-label="Open demo menu" class="md-icon-button"
                               ng-click="$mdMenu.open($event)" style="margin: 0px; margin-left: 8px;">
                        <ng-md-icon icon="filter_list"></ng-md-icon>
                        <md-tooltip md-auto-hide md-direction="bottom">Ordenar</md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item style="min-height: 28px; height: 28px;">
                            <b>Ordenar por:</b>
                        </md-menu-item>
                        <md-menu-item ng-repeat="p in ctrl.list_ordenar" style="min-height: 28px; height: 28px;">
                            <md-button ng-click="ctrl.ordenar(p.id)">
                                <ng-md-icon icon="check" ng-if="ctrl.ordering === p.id"></ng-md-icon> {{p.titulo}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-actions>
            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #eee">
                        <th width="15" align="left">N°</th>
                        <th align="center">Logo</th>
                        <th align="center" width="70" ng-click="ctrl.ordenar(ctrl.list_ordenar[0]['id'])">Código</th>
                        <th align="left" ng-click="ctrl.ordenar(ctrl.list_ordenar[1]['id'])">Nombre completo</th>
                        <th align="left">Documentos</th>
                        <th align="left">Nacionalidad</th>
                        <th align="left">Tipo persona</th>
                        <th>Estado</th>
                        <th colspan="3">Opciones</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White"
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <td align="center" style="height: 25px;">{{ $index+1}}</td>
                        <td align="center">
                            <img ng-if="p.foto_logo_rec" ng-click="ctrl.viewfoto($event, p)" ng-src="{{p.foto_logo_rec}}" class="avatar-foto" alt="Logo">
                        </td>
                        <td align="center">{{ p.codigo}}</td>
                        <td align="left">{{ p.nombre_completo}}</td>
                        <td>
                            <span ng-repeat="q in p.persona_persona_documentos">{{q.tipo_documento.nombre}}: {{q.numero}}<span ng-if="p.persona_persona_documentos.length>1 && !$last">, </span></span>
                        </td>
                        <td align="left">{{ p.nacionalidad.nombre}}</td>
                        <td align="left">{{ p.tipo_persona.nombre}}</td>
                        <td align="center">
                            <span class="label label-success" ng-if="p.estado === '1'">Activo</span>
                            <span class="label label-default" ng-if="p.estado === '0'">Desactivo</span>
                        </td>
                        <td align="center" width="60" nowrap="">
                            <a class="pqm-link" ng-click="ctrl.form_foto($event, p)">
                                <span ng-if="p.foto_logo_rec">Camb foto</span>
                                <span ng-if="!p.foto_logo_rec">Subir foto</span>
                            </a>
                        </td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.new_edit($event, p)">Editar</a>
                        </td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.delete($event, p)">Eliminar</a>
                        </td>
                   </tr>
                </table>
            </div>
        </div>
    </div>
    <section  class="md-padding" layout-gt-xs="row" layout-align="center center">
        <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
            <md-input-container>
                <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
                           required ng-change="ctrl.listar_por()" aria-label="s">
                    <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
        <cl-paging
            cl-pages="ctrl.paging.last_page"
            cl-steps="5"
            cl-page-changed="ctrl.paging.onPageChanged()"
            cl-align="start start"
            cl-current-page="ctrl.paging.current_page">
        </cl-paging>
    </section>

    <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
