<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" flex="100">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="place" aria-label="s"></ng-md-icon>
                    <span>Ubicación</span>
                    <span class="md-caption" ng-repeat="p in form.ubicaciones">
                    ({{p.punto_lat}}, {{p.punto_long}})
                  </span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button md-raised md-primary" ng-click="form.aceptar()">
                    <ng-md-icon icon="check" aria-label="c"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button md-raised md-primary" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado" style="padding: 0px;">
                <div layout-gt-xs="column" flex-gt-xs='100'>
                    <gm-map style="display: block; width: 100%; height: 600px;"
                        gm-map-id="'dragMarkerMap'" 
                        gm-center="center"
                        gm-zoom="zoom" 
                        gm-map-options="form.options.map"
                        gm-on-click="form.clickSelect(event.latLng);"
                        >
			            <gm-markers gm-objects="form.ubicaciones"
			                      gm-id="object.id"
			                      gm-position="{lat: object.punto_lat, lng: object.punto_long}"
			                      gm-marker-options="form.options.marker(object)"
                                  >
			            </gm-markers>
                    </gm-map>
                </div>
            </div>
        </md-dialog-content>
    </form>
    <style type="text/css">
    	.map {
	  height: 400px;
	  width: 100%;
	}
	.map img { 
	  max-width: none;
	}
    </style>
</md-dialog>