<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Verificar RUC</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" flex>
                    <span class="md-subhead">RUC: <b>{{form.obj.numero}}</b></span>
                </div>
                <div layout="row" flex>
                    <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.change_imagen()" style="margin: 0px;"><ng-md-icon icon="refresh" aria-label="del"></ng-md-icon><md-tooltip>Actualizar</md-tooltip></md-button>
                    <img ng-if="form.ver_imagen" ng-src="{{form.url_imagen}}" width="120" border="1px solid silver;" height="50">
                     <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Ingrese valor de la imagen</label>
                        <input md-autofocus ng-model="form.imagen" maxlength="4" minlength="4" required/>
                    </md-input-container>
                </div>
                <!-- <div layout-gt-xs="row" flex>
                   
                </div> -->
                <div layout-gt-xs="row" flex ng-if="form.imagen">
                    <iframe id="video" class="embed-responsive-item" width="100%" 
                            ng-src="{{form.sunat_url_datos(form.imagen)}}" frameborder="0" 
                            allowfullscreen height="350"></iframe>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cerrar</md-button>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>