<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="layers" aria-label="s"></ng-md-icon>
                    <span>Permisos por rol</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <span class="md-subhead">Rol: <b>{{form.obj_.name}}</b></span>
                </div>
                <br>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex>
                        <label>Permisos</label>
                        <md-chips ng-model="form.obj.permisos" md-autofocus  md-require-match="true">
                          <md-autocomplete
                              md-autofocus
                              md-search-text="searchPermi"
                              md-items="item in form.BuscarPermisos(searchPermi, form.obj.permisos)"
                              md-item-text="item.name"
                              md-min-length="0"
                              md-no-cache="true"
                              placeholder="Buscar permisos">
                            <span md-highlight-text="searchPermi">{{item.codename}} ({{item.name}})</span>
                          </md-autocomplete>
                          <md-chip-template>
                            <span>
                                <strong>{{$chip.codename}}</strong>
                                <em>({{$chip.name}})</em>
                            </span>
                          </md-chip-template>
                        </md-chips>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(form.obj)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> Guardar
            </md-button>
        </md-dialog-actions>
    </form>
    <style type="text/css">
        .md-virtual-repeat-container.md-autocomplete-suggestions-container {
             width:400px !important;
        }
    </style>
</md-dialog>