 <div flex="100">
  <form name='myform' autocomplete="off" ng-cloak>
    <div style="background: rgb(117,117,117); color: rgba(237, 249, 76, 0.94);">
      <div class="md-toolbar-tools md-padding" layout='column' layout-align="center center">
        <div  layout='column'>
          <span class='md-title'>CONTRATO DE PRESTACIÓN DE SERVICIOS DE AGUA POTABLE
          </span>
          <span class="md-caption" style="text-align: center;">JUNTA ADMINISTRADORA DE SERVICIOS DE SANEAMIENTOS SANTA LUCIA - MORALES</span>
          <span flex></span>
        </div>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" flex="100">
      <div layout="column" flex="60" class="md-padding">
        <div layout="row">
          <img style="width: 65px; height: 65px; background: #fafafa;" ng-src="{{form.storage+form.person.foto_logo_rec||''}}" alt=""/>
          <md-autocomplete
            flex
            md-input-name="persona_id"
            md-no-cache="true"
            md-selected-item="form.person"
            md-selected-item-change="form.change_persona(form.person.id)"
            md-search-text="searchTextPE"
            md-items="item in form.BuscarPersona(searchTextPE)"
            md-item-text="item.nombre_completo"
            md-min-length="0"
            md-require-match
            md-autoselect="false"
            md-floating-label="NOMBRE DEL USUARIO"
            required
            md-autofocus
            md-menu-class="persona_auto_compl"
            >
            <md-item-template>
              <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
              <span class="item-title">
                {{item.nombre_completo}}
              </span>
              <span class="item-metadata">
                <span ng-repeat="p in item.persona_persona_documentos">
                  {{p.tipo_documento.nombre}}: {{p.numero}}
                </span>
              </span>
            </md-item-template>
            <md-not-found>No encontrado</md-not-found>
            <span ng-if="form.person.persona_persona_documentos" class="form_padres_ubigeo">
              <span ng-repeat="p in form.person.persona_persona_documentos">
                {{p.tipo_documento.nombre}}: {{p.numero}}
              </span>
            </span>
            <div ng-messages="myform.persona_id.$error">
              <div ng-message="md-require-match">No ha seleccionada alguna</div>
              <div ng-message="required">La persona es requerida</div>
            </div>
          </md-autocomplete>
          <md-menu md-position-mode="target-right target" md-offset="0 44">
            <md-button style="padding: 0px; margin: 0px; width: 25px;" class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
              <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item class="min_md_menu_item30">
                <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
              </md-menu-item>
              <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      <br>
      <div layout="row" ng-if="form.persona">
        <md-input-container class="md-block" flex>
          <label>Predio(s) donde usuario esta registrado</label>
          <md-select name="predio" ng-model="form.contrato.predio_id" ng-change="form.change_predios(form.contrato.predio.id)" aria-label="s" required>
            <md-option></md-option>
            <md-option ng-repeat="p in form.predios" ng-disabled="p.disable" ng-value="p.id">{{p.predio_direcciones[0].direccion_detalle}}</md-option>
          </md-select>
        </md-input-container>
        <md-menu md-position-mode="target-right target" md-offset="0 44">
          <md-button style="padding: 0px; margin: 0px; width: 25px;" class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
            <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item class="min_md_menu_item30">
              <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
            </md-menu-item>
            <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
              <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <!-- <div layout="row"> -->
        <fieldset class="field_set_form" ng-if="form.predio">
          <legend class="size15">Detalle de los servicios:</legend>
          <div layout-gt-xs="row" flex>
            <div layout-gt-xs="column" flex>
              <div layout="row" flex flex-gt-xs>
                <md-input-container class="md-block" flex>
                  <label>Tipo de uso del Servicio</label>
                  <md-select name="tipo_uso_servicio_id" ng-model="form.contrato.tipo_uso_servicio_id" aria-label="s" required>
                    <md-option></md-option>
                    <md-option ng-repeat="p in form.tipo_uso_servicio" ng-value="p.id">{{p.nombre}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <div flex>
              <div layout-gt-xs="row" flex>
                <div layout-gt-sm="row" style="padding-left: 10px">
                  <label>Control: </label>
                </div>
                <div layout-gt-sm="row" style="padding-left: 10px">
                  <md-radio-group ng-model="form.contrato.forma_cobranza" ng-change="form.change_forma_cobranza(form.contrato.forma_cobranza)" ng-disabled="form.forma_cobranza_.codigo">
                    <md-radio-button ng-repeat="p in form.forma_cobranza" class="md-primary form_radios_tipo_pers" ng-value="p.id" aria-label="s">{{p.nombre}}</md-radio-button>
                  </md-radio-group>
                </div>
              </div>
              <div layout-gt-xs="row" flex ng-if="form.contrato.forma_cobranza === 'CME'">
                <div layout-gt-sm="row" style="margin-left: 20px;">
                  <md-input-container class="md-block" flex-gt-xs >
                    <label style="margin-left: 3%;">Precio x M3: </label>
                    <input ng-model="form.agua_potable.precio" md-maxlength="12" name="agua_potable_precio" required md-autofocus style="margin-left: 3%;"/>
                    <div ng-messages="myform.agua_potable_precio.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Campo requerido</div>
                      <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>
          <!-- <div layout-gt-xs="row" flex -->
            <div class="table-responsive" flex style="margin-right: auto; margin-left: auto;">
              <table align="center" class="basic table-bordered table" width="100%">
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                  <th>DETALLE</th>
                  <th colspan="2">COSTOS POR SERVICIO MENSUALES</th>
                </tr>
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;" flex>
                  <th layout-gt-xs="row">
                    <div layout-gt-xs="row">
                      <md-checkbox
                      ng-model="form.agua_potable.check"
                      aria-label="Agregados"
                      class="md-primary md-align-top-left" flex>
                      {{form.agua_potable.nombre}}<br/>
                      <br/>
                      </md-checkbox>
                    </div>
                  </th>
                  <td align="center">
                    <input  ng-if="form.agua_potable.check" ng-model="form.agua_potable.precio" type="text" style="width: 25%; height: 100%; border: none; background-color: inherit;" />
                    <span style="width: 75%; height: 100%; border: none; background-color: inherit;"></span> (Cálculado automáticamante).</span>
                  </td>
                </tr>
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;" flex>
                  <th layout-gt-xs="row">
                    <div layout-gt-xs="row">
                      <md-checkbox
                      ng-model="form.electrobomba.check"
                      aria-label="Agregados"
                      class="md-primary md-align-top-left" flex>
                      {{form.electrobomba.nombre}}<br/>
                      <br/>
                      </md-checkbox>
                   </div>
                  </th>
                  <td align="center">
                    <input ng-model="form.electrobomba.precio" ng-if="form.electrobomba.check" type="text" style="width: 25%; height: 100%; border: none; background-color: inherit;" />
                    <span ng-if="form.electrobomba.check" style="width: 75%; height: 100%; border: none; background-color: inherit;"> (Cálculado automáticamante).</span>
                  </td>
                </tr>
              </table>
             </div>
          <!-- </div> -->
      </fieldset>
      <!-- </div> -->
      <!-- <div layout="row"> -->
        <fieldset class="field_set_form" ng-if="form.predio">
          <legend class="size15">INSCRIPCIÓN:</legend>
          <div layout-gt-xs="row" flex>
            <md-input-container class="md-block" flex-gt-xs flex>
              <label>Monto a pagar:</label>
              <input type="text" ng-model="form.inscripcion.precio" name="nombres" required md-autofocus/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs flex>
              <label>N° de cuotas:</label>
              <input type="number" ng-model="form.contrato.nro_cuotas" ng-change="form.change_nro_cuotas()" name="nro_cuotas" min="1" max="3" required/>
              <div ng-messages="myform.nro_cuotas.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Campo requerido</div>
                <div ng-message="min" class="my-message">Mínimo 1</div>
              </div>
            </md-input-container>
          </div>
          <!-- <div layout-gt-xs="row" flex -->
            <div class="table-responsive" flex style="margin-right: auto; margin-left: auto;">
              <table align="center" class="basic table-bordered table" width="100%">
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                  <th>Monto</th>
                  <th>Fecha</th>
                </tr>
                <tbody ng-repeat="p in form.crono_pago">
                  <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;" flex>
                    <td align="center">
                      <md-input-container class="md-block" flex-gt-xs flex>
                        <label>monto:</label>
                        <input type="number" ng-model="p.monto" name="cronograma_pago_monto" min="1" required/>
                        <div ng-messages="myform.cronograma_pago_monto.$error" role="alert" multiple>
                          <div ng-message="required" class="my-message">Campo requerido</div>
                          <div ng-message="min" class="my-message">Mínimo 1</div>
                        </div>
                      </md-input-container>
                    </td>
                    <!-- <td align="center">
                      <input ng-model="form.electrobomba.precio" ng-if="form.electrobomba.check" type="text" style="width: 25%; height: 100%; border: none; background-color: inherit;" />
                    </td> -->
                    <th layout-gt-xs="row">
                      <div layout-gt-xs="row">
                        <md-content flex md-no-float class="md-block">
                          <div flex-gt-xs>
                            <input type="date" name="cronograma_pago_fecha_cobranza" ng-model="p.fecha_cobranza" md-placeholder="Enter date" style="border: none; background-color: inherit;" />
                          </div>
                        </md-content>
                      </div>
                    </th>
                  </tr>
                </tbody>

              </table>
             </div>
          <!-- </div> -->
        </fieldset>
        <!-- </div> -->
      </div>

      <div layout="column" flex="40" style="border-left: 1px solid rgb(189,189,189);">
        <!-- <span class="md-subhead md-padding">Datos del usuario:</span> -->
        <fieldset class="field_set_form" ng-if="form.persona">
          <legend class="size15">Datos del usuario:</legend>
          <!-- <div layout="row" ng-if="form.persona"> -->
            <div class="table-responsive" flex style="margin-right: auto; margin-left: auto;">
              <table align="center" class="basic table-bordered" width="100%">
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                  <th align="left" width="35%">Nombres/Razón social:</th>
                  <td width="65%">{{form.persona.nombre_completo}}</td>
                </tr>
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                  <th align="left" width="35%">DNI/RUC:</th>
                  <td width="65%">
                    <div ng-repeat="p in form.persona.documentos">
                      <span>{{p.numero}}</span>
                    </div>
                  </td>
                </tr>
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                  <th align="left">Teléfono(s):</th>
                  <td width="65%">
                    <div ng-repeat="p in form.persona.contactos">
                      <div ng-if="p.tipo_contacto.codigo === 'TEL'">
                        <span>{{p.pais.codigo_telefono}} - {{p.valor_contacto}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                  <th align="left" width="35%">E-mail(s):</th>
                  <td width="65%">
                    <div ng-repeat="p in form.persona.contactos">
                      <div ng-if="p.tipo_contacto.codigo === 'COR'">
                        <span>{{p.valor_contacto}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                  <th align="left">Dirección:</th>
                  <td width="65%">{{form.persona.direcciones[0].direccion_detalle}}</td>
                </tr>
              </table>
            </div>
            <!-- </div> -->
          </fieldset>
          <!-- <div layout="row"> -->
            <fieldset class="field_set_form" ng-if="form.predio">
              <legend class="size15">Datos del Predio:</legend>
              <div class="table-responsive" flex>
                <table align="center" class="basic table-bordered" style="width:100%; margin-right: auto; margin-left: auto;">
                  <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <th align="left" width="35%">Dueño/Represntante:</th>
                    <td width="65%">{{form.predio.duenio.nombre_completo}} / {{form.predio.representante.nombre_completo}}</td>
                  </tr>
                  <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <th align="left" width="35%">Partida Registral:</th>
                    <td width="65%">
                      <span>{{form.predio.partida_registral}}</span>
                    </td>
                  </tr>
                  <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <th align="left">Dirección:</th>
                    <td width="65%">
                      <div>
                        <span>{{form.predio.predio_direcciones[0].direccion_detalle}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <th align="left" width="35%">Distrito/Zona:</th>
                    <td width="65%">
                      <div>
                        <span>{{form.predio.zona.ubigeo.nombre}} / {{form.predio.zona.nombre}} </span>
                      </div>
                    </td>
                  </tr>
                  <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <th align="left">Estado del Predio:</th>
                    <td width="65%">{{form.predio.estado_predio.nombre}}</td>
                  </tr>
                </table>
              </div>
            </fieldset>
            <!-- </div> -->
            <!-- <div layout="row"> -->
              <fieldset class="field_set_form" ng-if="form.predio">
                <legend class="size15">Comentario:</legend>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Escriba un comentario</label>
                  <textarea ng-model="form.contrato.comentario" md-maxlength="150" md-select-on-focus></textarea>
                </md-input-container>
              </fieldset>
              <div flex>
                <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
                <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
                <span flex></span>
                <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
                <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando" ng-if="form.predio">
                  <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.contrato.id">Crear contrato</span><span ng-if="form.obj.id">Actualizar contrato</span>
                </md-button>
              </div>

            </div>
          </div>
        </form>
      </div>