<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="layers" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span><b>contrato</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" layout-gt-xs flex>
                        <label>Numero de Contrato</label>
                        <input md-autofocus name="numero" ng-model="form.obj.numero" md-maxlength="10"/>
                        <div ng-messages="myform.numero.$error" role="alert">
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <div layout-gt-xs="column" flex flex-gt-xs="66">
                        <div layout="row">
                            <md-autocomplete
                            flex
                            md-input-name="persona_id"
                            md-no-cache="true"
                            md-selected-item="form.obj.persona"
                            md-search-text="searchTextPE"
                            md-items="item in form.BuscarPersona(searchTextPE)"
                            md-item-text="item.nombre_completo"
                            md-min-length="0"
                            md-require-match
                            md-autoselect="false"
                            md-floating-label="Persona"
                            required
                            md-menu-class="autocomplete-persona-template">
                            <md-item-template>
                              <span class="item-title">
                                <strong> {{item.nombre_completo}} </strong>
                            </span>
                            <span class="item-metadata" ng-if="item.persona_persona_documentos.length > 0">
                                <span>
                                  {{item.persona_persona_documentos[0].tipo_documento.nombre}} : {{item.persona_persona_documentos[0].numero}}
                              </span>
                          </span>
                      </md-item-template>
                      <md-not-found>No encontrado</md-not-found>
                      <span ng-if="form.obj.persona.numero" class="form_padres_ubigeo">
                        {{form.obj.persona.tipo_documento_nombre}}:  {{form.obj.persona.numero}}
                    </span>
                    <div ng-messages="myform.persona_id.$error">
                        <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        <div ng-message="required">La persona es requerida</div>
                    </div>
                </md-autocomplete>
                <md-menu md-position-mode="target-right target" md-offset="0 44">
                    <md-button style="padding: 0px; margin: 0px; width: 25px;" class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                        <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item class="min_md_menu_item30">
                            <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
                        </md-menu-item>
                        <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                            <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
    <div layout-gt-xs="row" flex>
        <md-autocomplete
        flex
        md-input-name="predio_id"
        md-no-cache="true"
        md-selected-item="form.obj.predio"
        md-search-text="searchTextPr"
        md-items="item in form.BuscarPredio(searchTextPr)"
        md-item-text="item.predio_direcciones"
        md-min-length="0"
        md-require-match
        md-autoselect="false"
        md-floating-label="Predio"
        >
        <md-item-template>
            <span md-highlight-text="searchTextPr">
                {{item.nombre_completo}}(
                {{item.persona_persona_documentos[0]['numero']}})
            </span>
        </md-item-template>
        <md-not-found>No encontrado</md-not-found>
        <div ng-messages="myform.representante_id.$error">
            <div ng-message="md-require-match">No ha seleccionada alguna</div>
            <div ng-message="required" class="my-message">Campo requerido</div>
        </div>
    </md-autocomplete>
</div>
<div layout-gt-xs="row" flex>
    <md-autocomplete
    flex-gt-xs="33"
    flex
    md-input-name="pais_id"
    md-no-cache="true"
    md-selected-item = "form.obj.pais"
    md-selected-item-change="form.change_pais()"
    md-search-text="searchTextPA"
    md-items="item in form.BuscarPais(searchTextPA)"
    md-item-text="item.nombre"
    md-min-length="0"
    md-require-match
    md-autoselect="false"
    md-floating-label="País"
    required
    >
    <md-item-template>
        <span md-highlight-text="searchTextPA">
            {{item.nombre}}
        </span>
    </md-item-template>
    <md-not-found>No encontrado</md-not-found>
    <div ng-messages="myform['pais_id'].$error">
        <div ng-message="md-require-match">No ha seleccionada alguna</div>
        <div ng-message="required">País obligatorio</div>
    </div>
</md-autocomplete>
<md-autocomplete ng-if="form.obj.pais"
flex-gt-xs="34"
flex
md-input-name="ubigeo_id"
md-no-cache="true"
md-selected-item="form.obj.ubigeo"
md-selected-item-change="form.change_ubigeo()"
md-search-text="searchTextUB"
md-items="item in form.BuscarUbigeo(searchTextUB, form.obj.pais.id)"
md-item-text="item.nombre"
md-min-length="0"
md-require-match
md-autoselect="false"
md-floating-label="Distrito/Estado"
md-menu-class="autocomplete-ubigeo"
>
<md-item-template>
  <span class="item-title">
    <ng-md-icon icon="place" aria-label="ico"></ng-md-icon>
    <span> {{item.nombre}} <span ng-if="item.padre">- {{item.padre.nombre}}</span> <span ng-if="item.padre.padre">- {{item.padre.padre.nombre}}</span></span>
</span>
</md-item-template>
<md-not-found>No encontrado</md-not-found>
<div ng-messages="myform['ubigeo_id'].$error">
    <div ng-message="md-require-match">No ha seleccionada alguna</div>
</div>
<span ng-if="form.obj.ubigeo.padre" class="form_padres_ubigeo">
    {{form.obj.ubigeo.padre.nombre}} <span ng-if="form.obj.ubigeo.padre.padre">- {{form.obj.ubigeo.padre.padre.nombre}}</span>
</span>
</md-autocomplete>
<md-autocomplete  ng-if="form.obj.ubigeo"
flex-gt-xs="33"
flex
md-input-name="zona_id"
md-no-cache="true"
md-selected-item="form.obj.zona"
md-selected-item-change="form.change_zona(form.obj.zona)"
md-search-text="searchTextZ"
md-items="item in form.BuscarZona(searchTextZ, form.obj.ubigeo.id)"
md-item-text="item.nombre"
md-min-length="0"
md-require-match
md-autoselect="false"
md-floating-label="Zona"
required
>
<md-item-template>
    <span md-highlight-text="searchTextZ">
        {{item.nombre}}
    </span>
</md-item-template>
<md-not-found>No encontrado</md-not-found>
<div ng-messages="myform.zona_id.$error">
    <div ng-message="md-require-match">No ha seleccionada alguna</div>
    <div ng-message="required" class="my-message">Campo requerido</div>
</div>
</md-autocomplete>
</div>
<div layout-gt-xs="row" flex>
    <md-autocomplete
    flex-gt-xs="33"
    flex
    md-input-name="estado_predio_id"
    md-no-cache="true"
    md-selected-item = "form.obj.estado_predio"
    md-search-text="searchTextEP"
    md-items="item in form.BuscarEstadoPredio(searchTextEP)"
    md-item-text="item.nombre"
    md-min-length="0"
    md-require-match
    md-autoselect="false"
    md-floating-label="Estado Predio"
    required
    >
    <md-item-template>
        <span md-highlight-text="searchTextEP">
            {{item.nombre}}
        </span>
    </md-item-template>
    <md-not-found>No encontrado</md-not-found>
    <div ng-messages="myform['estado_predio_id'].$error">
        <div ng-message="md-require-match">No ha seleccionada alguna</div>
        <div ng-message="required">Estado Predio obligatorio</div>
    </div>
</md-autocomplete>
<md-input-container class="md-block" flex-gt-xs flex ng-if="form.obj.estado_predio.codigo === 'Otros'">
    <label>Especificar Estado Predio</label>
    <input ng-model="form.obj.estado_descripcion" md-maxlength="50" name="estado_descripcion"/>
    <div ng-messages="myform.estado_descripcion.$error" role="alert" multiple>
        <div ng-message="required" class="my-message">Campo requerido</div>
        <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
    </div>
</md-input-container>
</div>

<fieldset class="field_set_form">
    <legend class="size15">Dirección:</legend>
    <div layout-gt-xs="row" flex>
        <md-input-container class="md-block md-input-has-value">
            <md-checkbox title="Dirección específica" class="md-primary" ng-model="form.dir.completa" aria-label="Checkbox">
            </md-checkbox>
        </md-input-container>
        <div layout-gt-xs flex-gt-xs flex>
            <div layout-gt-xs="column" flex>
                <div layout-gt-xs="row" flex ng-if="form.dir.completa">
                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="25" flex>
                        <label>Tipo vía</label>
                        <md-select name="tipo_via" ng-model="form.dir.tipo_via_id" aria-label="s" required>
                            <md-option></md-option>
                            <md-option ng-repeat="dir in form.tiposvia" ng-value="dir.id">{{dir.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform['tipo_via'].$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="45" flex>
                        <label>Nombre vía</label>
                        <input name="nombre_via" ng-model="form.dir.nombre_via" md-maxlength="90" required/>
                        <div ng-messages="myform['nombre_via'].$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="{{(p.tipo_numero_via_id === 3)? 30:15}}" flex>
                        <label>Tipo Nro.</label>
                        <md-select name="tipo_numero_via" ng-model="form.dir.tipo_numero_via_id" ng-change="form.change_tipo_numero_via()" aria-label="s">
                            <md-option></md-option>
                            <md-option ng-repeat="q in form.tiposnumerovia" ng-value="q.id">{{q.abreviatura}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-if="form.dir.tipo_numero_via_id !== 3" class="md-block" flex-gt-xs="15" flex>
                        <label>Número</label>
                        <input ng-model="form.dir.numero_via" md-maxlength="20" name="numero_via"/>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex ng-if="form.dir.completa">
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Manzana</label>
                        <input ng-model="form.dir.manzana" md-maxlength="40" name="manzana"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Lote</label>
                        <input ng-model="form.dir.lote" md-maxlength="20" name="lote"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Piso</label>
                        <input ng-model="form.dir.piso" md-maxlength="12" name="piso"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Dpto/Interior</label>
                        <input ng-model="form.dir.dpto_interior" md-maxlength="30" name="dpto_interior"/>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex ng-if="form.dir.completa">
                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="33" flex>
                        <label>Tipo zona</label>
                        <md-select name="tipo_zona" ng-model="form.dir.tipo_zona_id" aria-label="s">
                            <md-option></md-option>
                            <md-option ng-repeat="dir in form.tiposzona" ng-value="dir.id">{{dir.nombre}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Nombre zona</label>
                        <input name="nombre_zona" ng-model="form.dir.nombre_zona" md-maxlength="60"/>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex ng-if="form.dir.completa">
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Referencia 1</label>
                        <input ng-model="form.dir.referencia1" name="referencia1" md-maxlength="150"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Referencia 2</label>
                        <input ng-model="form.dir.referencia2" name="referencia2" md-maxlength="150"/>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex ng-if="!form.dir.completa">
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Dirección</label>
                        <input ng-model="form.dir.direccion_detalle" name="direccion_detalle" md-maxlength="180" required/>
                        <div ng-messages="myform['direccion_detalle'].$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex ng-if="!form.dir.completa">
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Referencia 1</label>
                        <input ng-model="form.dir.referencia1" name="referencia1" md-maxlength="150"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Referencia 2</label>
                        <input ng-model="form.dir.referencia2" name="referencia2" md-maxlength="150"/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div layout-gt-xs="row">
        <md-button class="md-primary md-hue-2" aria-label="View" ng-click="form.add_mapa()" style="line-height: 27px !important; min-height: 27px;">Agregar coordenadas</md-button>
    </div>
</fieldset>

<div layout-gt-xs="row" flex>
    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
    </md-switch>
</div>
</div>
</md-dialog-content>
<md-dialog-actions layout="row" class="dialog-actions">
    <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
    <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
    <span flex></span>
    <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
    <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
        <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
    </md-button>
</md-dialog-actions>
</form>
</md-dialog>