
<div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'>Contratos</span>
                <span class="md-caption">Listado de Contratos</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-hue-2" ng-click="ctrl.listar()" aria-label="close">
                <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                <md-tooltip>Actualizar lista</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.new_contrato(null)" aria-label="close">
                    <ng-md-icon icon="add" aria-label="close"></ng-md-icon>
                    <md-tooltip>Nuevo Contrato</md-tooltip>
                </md-button>
                <span flex></span>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input type="text" name="busqueda" ng-model="ctrl.search" maxlength="70" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()" autocomplete="off" />
                </md-input-container>
            </md-card-actions>
            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #eee">
                        <th align="center" width="20">#</th>
                        <th align="center">Numero</th>
                        <th align="left">Persona</th>
                        <th align="left">Dirección predio</th>
                        <th align="left">Uso servicio</th>
                        <th align="center">Control</th>
                        <th align="center">F. Contrato</th>
                        <th align="center">Mensual</th>
                        <th>Estado</th>
                        <th align="center">Opciones</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White"
                    onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <td align="center">{{ $index+1}}</td>
                    <td align="center">{{ p.numero}}</td>
                    <td align="left">{{ p.persona.nombre_completo}}</td>
                    <td align="left">{{ p.predio.predio_direcciones[0].direccion_detalle}}</td>
                    <td align="left">{{ p.tipo_uso_servicio.nombre}}</td>
                    <td align="left">{{ p.forma_cobranza_nombre}}</td>
                    <td align="center">{{ p.fecha_contrato| date:'dd/MM/yyyy'}}</td>
                    <td align="right">{{p.monto_cobranza|currency:"S/. "}}</td>
                    <td align="center">
                        <span class="label label-success" ng-if="p.estado === '2'">Activo</span>
                        <span class="label label-success" ng-if="p.estado === '1'">{{p.estado_nombre}}</span>
                        <span class="label label-default" ng-if="p.estado === '0'">{{p.estado_nombre}}</span>
                    </td>
                    <td align="center" width="50">
                        <md-menu md-position-mode="target-right target" style="padding: 0px;
                            margin:0px;">
                        <md-button aria-label="Open demo menu" class="md-icon-button md-primary"
                                   ng-click="$mdMenu.open($event)" style="padding: 0px; margin: 0px;line-height: 16px; min-height: 20px;height: 20px;" title="Opciones">
                            <ng-md-icon icon="more_horiz" style="line-height: 16px; "></ng-md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item style="min-height: 32px; height: 32px;">
                                <md-button ng-click="ctrl.pdfcontrato(p)" class="md-primary">
                                    <ng-md-icon icon="open_in_new"></ng-md-icon> Ver contrato PDF</md-button>
                            </md-menu-item>
                            <md-menu-item style="min-height: 32px; height: 32px;">
                                <md-button ng-click="ctrl.ordenar(p.id)" class="md-primary">
                                    <ng-md-icon icon="info"></ng-md-icon> Información</md-button>
                            </md-menu-item>
                            <md-menu-item style="min-height: 32px; height: 32px;">
                                <md-button ng-click="ctrl.delete($event, p)" class="md-primary">
                                    <ng-md-icon icon="delete"></ng-md-icon> Eliminar</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                        <!-- <a class="pqm-link" ng-click="ctrl.ver_contrato(p)">Contrato</a> -->
                    </td>
                    <!-- <td align="center" width="10">
                        <a class="pqm-link" ng-click="ctrl.delete($event, p)">Eliminar</a>
                    </td> -->
                </tr>
            </table>
        </div>
    </div>
</div>
<section  class="md-padding" layout-gt-xs="row" layout-align="center center">
    <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
        <md-input-container>
            <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
            required ng-change="ctrl.listar_por()" aria-label="s">
            <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
        </md-select>
    </md-input-container>
</div>
<span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
<cl-paging
cl-pages="ctrl.paging.last_page"
cl-steps="5"
cl-page-changed="ctrl.paging.onPageChanged()"
cl-align="start start"
cl-current-page="ctrl.paging.current_page">
</cl-paging>
</section>

<pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
