<div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'><b>Listado de contratos</b></span>
                <span class="md-caption">Listado contratos por zonas</span>
            </div>
            <span flex></span>
            
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout-gt-xs="column" flex="100">
            <md-card-actions layout-gt-xs="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.descargar('TablaDatos')" aria-label="d">
                    <ng-md-icon icon="cloud_download" aria-label="close"></ng-md-icon>
                    <md-tooltip>Descargar en excel</md-tooltip>
                </md-button>
                <span flex></span>
                <md-input-container>
                    <label>Zona</label>
                    <md-select name="zona_id" ng-model="ctrl.zona_id" 
                    ng-change="ctrl.listar()">
                        <md-option ng-value="'T'">Todas</md-option>
                        <md-option ng-repeat="p in ctrl.zonas" ng-value="p.id">{{p.nombre}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Afiliación</label>
                    <md-select name="tipo_afiliacion_id" ng-model="ctrl.tipo_afiliacion_id" 
                    ng-change="ctrl.listar()">
                        <md-option ng-value="'T'">Todos</md-option>
                        <md-option ng-repeat="p in ctrl.tiposafiliacion" ng-value="p.id">{{p.nombre}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input type="text" name="busqueda" ng-model="ctrl.search" maxlength="70" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()" autocomplete="off" />
                </md-input-container>
                <md-menu md-position-mode="target-right target" style="padding: 0px;
                        margin-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 15px;">
                    <md-button aria-label="Open demo menu" class="md-icon-button"
                               ng-click="$mdMenu.open($event)" style="margin: 0px; margin-left: 8px;">
                        <ng-md-icon icon="filter_list"></ng-md-icon>
                        <md-tooltip md-auto-hide md-direction="bottom">Ordenar</md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item style="min-height: 28px; height: 28px;">
                            <b>Ordenar por:</b>
                        </md-menu-item>
                        <md-menu-item ng-repeat="p in ctrl.list_ordenar" style="min-height: 28px; height: 28px;">
                            <md-button ng-click="ctrl.ordenar(p.id)">
                                <ng-md-icon icon="check" ng-if="ctrl.ordering === p.id"></ng-md-icon> {{p.titulo}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-actions>
            <div class="table-responsive" id="TablaDatos">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;" border="1">
                    <tr style="background: #eee">
                        <th align="center" width="20">#</th>
                        <th align="center">Contrato</th>
                        <th align="left">Nombre persona</th>
                        <th align="left">Afiliado</th>
                        <th align="left">Zona</th>
                        <th align="left">Dirección predio</th>
                        <th align="center">Mensual</th>
                        <th align="center">Deuda</th>
                        <th align="left">Uso servicio</th>
                        <th align="center">Control</th>
                        <th align="center">Fecha</th>
                        <th align="center">Estado</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White"
                    onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <td align="center">{{ $index+1}}</td>
                    <td align="center" style="mso-number-format:'@';">{{ p.numero}}</td>
                    <td align="left">{{ p.persona_nombre_completo}}</td>
                    <td align="left">{{p.afiliado_nombre}}</td>
                    <td align="left">{{p.predio_zona_nombre}}</td>
                    <td align="left">{{ p.predio_direccion}}</td>
                    <td align="right">{{p.monto_cobranza|currency:""}}</td>
                    <td align="right">{{p.contrato_deuda|currency:""}}</td>
                    <td align="left">{{ p.tipo_uso_servicio}}</td>
                    <td align="left">{{ p.forma_cobranza_nombre}}</td>
                    <td align="center">{{ p.fecha_contrato| date:'dd/MM/yy'}}</td>
                    <td align="left">{{p.estado_nombre}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<section  class="md-padding" layout-gt-xs="row" layout-align="center center">
    <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
        <md-input-container>
            <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
            required ng-change="ctrl.listar_por()" aria-label="s">
            <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
        </md-select>
    </md-input-container>
</div>
<span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de <b>{{ctrl.pagination.total}}</b> registros</span>
<cl-paging
cl-pages="ctrl.paging.last_page"
cl-steps="5"
cl-page-changed="ctrl.paging.onPageChanged()"
cl-align="start start"
cl-current-page="ctrl.paging.current_page">
</cl-paging>
</section>

<pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
