<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" style="width: 950px; min-height: 95%;">
    <form name='myform' autocomplete="off" ng-cloak flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="description" aria-label="s"></ng-md-icon>
                    <span>Movimientos | Estado de cuenta</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                	<img style="width: 60px; height: 60px; padding-bottom: 8px; padding-right: 4px;" ng-if="form.persona.foto_logo_rec" ng-src="{{form.persona.foto_logo_rec}}" alt="Logo">
                	<div layout-gt-xs="column" style="width: 350px;">
                		<span class="md-subhead"><b>{{form.persona.nombre_completo}}</b></span>
                		<span class="md-caption" ng-repeat="p in form.persona.persona_persona_documentos">
                			{{p.tipo_documento.nombre}}: {{p.numero}}
                		</span>
                	</div>
                	<div layout-gt-xs="column">
                		<span class="md-subhead">Deuda: <b>{{form.estcue.deuda|currency:""}}</b></span>
                        <span class="md-subhead">Saldo: <b>{{form.estcue.saldo|currency:""}}</b></span>
                        
                	</div>
                	<span flex></span>
                    <!-- <md-input-container>
                    	<label>Fecha inicial</label>
                        <input type="date" ng-model="form.obj.fecha_inicial"/>
                    </md-input-container>
                    <md-input-container>
                    	<label>Fecha final</label>
                        <input type="date" ng-model="form.obj.fecha_final"/>
                    </md-input-container> -->
                  <!--   <md-button type="button" ng-click="form.descargar(form.obj)" class="md-raised md-primary" style="box-shadow: none;text-transform: none; min-width: 70px; height: 40px; min-height: 40px; line-height: 40px; margin: 9px 0px;">
                            <ng-md-icon icon="open_in_new"></ng-md-icon> ESTADO DE CUENTA PDF
                    </md-button> -->
                </div>
                <div layout-gt-xs="row" flex>
                    <div class="table-responsive">
                        <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                            <tr style="background: #656362; color: white;">
                                <th align="center" height="20">#</th> 
                                <th align="center" width="70">FECHA</th>
                                <th align="center" width="80">HORA</th>
                                <th align="center">MOTIVO</th>
                                <th align="center">DESCRIPCIÓN</th>
                                <th align="center">NRO PAGO</th>
                                <th align="center">MONTO</th>
                                <th align="center">IMPORTE</th>
                            </tr>
                            <tr ng-repeat="p in form.listado|orderBy:'fecha_hora_'" bgcolor="White" 
                                onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                                <td align="center" width="20">{{ $index +1 }}</td>
                                <td align="center">{{ p.fecha}}</td>
                                <td align="center">{{ p.hora}}</td>
                                <td align="left">{{p.motivo}}</td>
                                <td align="left">{{p.descripcion}}</td>
                                <td align="center">{{p.numero}}</td>
                                <td align="right">{{p.monto|currency:""}}</td>
                                <td align="right">{{p.importe|currency:""}}</td>
                           </tr>
                           <tr onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                                <td align="right" colspan="6" style="background: #fafafa;" height="20"><b>TOTALES: </b></td>
                                <td align="right" style="font-size: 14px;"><b>{{form.total_cronog|currency:""}}</b></td>
                                <td align="right" style="font-size: 14px;"><b>{{form.total_pago|currency:""}}</b></td>
                           </tr>
                        </table>
                    </div>
                </div>
                <br>
            </div>
        </md-dialog-content>
    </form>
    <pqm-loading-general-modal indeterminado="form.creando" mensaje="'Generando Estado de cuenta en PDF'"></pqm-loading-general-modal>
</md-dialog>