
<div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'>Cargos</span>
                <span class="md-caption">Listado de cargos por periodo</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-hue-2" ng-click="ctrl.listar()" aria-label="close">
                <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                <md-tooltip>Actualizar lista</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.new_edit($event, null)" aria-label="close">
                    <ng-md-icon icon="add" aria-label="close"></ng-md-icon>
                    <md-tooltip>Nuevo Cargo en la Entidad</md-tooltip>
                </md-button>
                <span flex></span>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input type="text" name="busqueda" ng-model="ctrl.search" maxlength="70" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()"/>
                </md-input-container>
            </md-card-actions>
            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%">
                    <tr style="background: #eee">
                        <th align="center" width="20" height="20">#</th>
                        <th align="center">Periodo</th>
                        <th align="left">Cargo</th>
                        <th align="left">Responsable</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White"
                    onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <td align="center" width="20" height="20">{{$index+1}}</td>
                    <td align="center" width="60">{{ p.periodo.nombre}}</td>
                    <td align="left" width="70">{{p.cargo.nombre}}</td>
                    <td align="left">{{ p.persona.nombre_completo}}</td>
                    <td align="center">
                        <span class="label label-success" ng-if="p.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="p.estado === '0'">Desactivo</span>
                    </td>
                    <td align="center" width="10">
                        <a class="pqm-link" ng-click="ctrl.new_edit($event, p)">Editar</a>
                    </td>
                    <td align="center" width="10">
                        <a class="pqm-link" ng-click="ctrl.delete($event, p)">Eliminar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<section  class="md-padding" layout-gt-xs="row" layout-align="center center">
    <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
        <md-input-container>
            <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
            required ng-change="ctrl.listar_por()" aria-label="s">
            <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
        </md-select>
    </md-input-container>
</div>
<span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
<cl-paging
cl-pages="ctrl.paging.last_page"
cl-steps="5"
cl-page-changed="ctrl.paging.onPageChanged()"
cl-align="start start"
cl-current-page="ctrl.paging.current_page">
</cl-paging>
</section>

<pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
