<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" style="width: 900px; max-height: 95%;">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="pin_drop" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span>predio</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content  style="height: 600px !important;">
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <div layout-gt-xs="column" flex>
                        <div layout="row" flex>
                            <md-autocomplete
                                flex
                                md-input-name="duenio_id"
                                md-no-cache="true"
                                md-selected-item="form.obj.duenio"
                                md-search-text="searchTextDU"
                                md-items="item in form.BuscarPersona(searchTextDU)"
                                md-item-text="item.nombre_completo"
                                md-min-length="0"
                                md-require-match
                                md-autoselect="false"
                                md-floating-label="Nombre del dueño"
                                required
                                md-autofocus
                                md-menu-class="persona_auto_compl"
                                spellcheck="false"
                                >
                                <md-item-template>
                                    <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                                      <span class="item-title">
                                        {{item.nombre_completo}}
                                      </span>
                                      <span class="item-metadata">
                                        <span ng-repeat="p in item.persona_persona_documentos">
                                          {{p.tipo_documento.nombre}}: {{p.numero}}
                                        </span>
                                      </span>
                                </md-item-template>
                                <md-not-found>No encontrado</md-not-found>
                                <span ng-if="form.obj.duenio.persona_persona_documentos" class="form_padres_ubigeo">
                                    <span ng-repeat="p in form.obj.duenio.persona_persona_documentos">
                                          {{p.tipo_documento.nombre}}: {{p.numero}}
                                    </span>
                                </span>
                                <div ng-messages="myform.duenio_id.$error">
                                    <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                    <div ng-message="required">El dueño es requerido</div>
                                </div>
                            </md-autocomplete>
                            <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                                <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                                    <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item class="min_md_menu_item30">
                                        <md-button ng-click="form.form_duenio($event,null)">Registrar nuevo</md-button>
                                    </md-menu-item>
                                    <md-menu-item class="min_md_menu_item30" ng-if="form.obj.duenio">
                                        <md-button ng-click="form.form_duenio($event, form.obj.duenio)">Editar datos</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <div layout-gt-xs="column" flex>
                        <div layout="row" flex>
                            <md-autocomplete
                                flex
                                md-input-name="representante_id"
                                md-no-cache="true"
                                md-selected-item="form.obj.representante"
                                md-search-text="searchTextRE"
                                md-items="item in form.BuscarPersonaRepres(searchTextRE)"
                                md-item-text="item.nombre_completo"
                                md-min-length="0"
                                md-require-match
                                md-autoselect="false"
                                md-floating-label="Nombre del representante"
                                md-menu-class="persona_auto_compl"
                                spellcheck="false"
                                >
                                <md-item-template>
                                    <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                                      <span class="item-title">
                                        {{item.nombre_completo}}
                                      </span>
                                      <span class="item-metadata">
                                        <span ng-repeat="p in item.persona_persona_documentos">
                                          {{p.tipo_documento.nombre}}: {{p.numero}}
                                        </span>
                                      </span>
                                </md-item-template>
                                <md-not-found>No encontrado</md-not-found>
                                <span ng-if="form.obj.representante.persona_persona_documentos" class="form_padres_ubigeo">
                                    <span ng-repeat="p in form.obj.representante.persona_persona_documentos">
                                          {{p.tipo_documento.nombre}}: {{p.numero}}
                                    </span>
                                </span>
                                <div ng-messages="myform.representante_id.$error">
                                    <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                </div>
                            </md-autocomplete>
                            <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                                <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                                    <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item class="min_md_menu_item30">
                                        <md-button ng-click="form.form_repres($event,null)">Registrar nuevo</md-button>
                                    </md-menu-item>
                                    <md-menu-item class="min_md_menu_item30" ng-if="form.obj.representante">
                                        <md-button ng-click="form.form_repres($event, form.obj.representante)">Editar datos</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>

                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="30" flex>
                        <label>Zona ubicación</label>
                        <md-select name="zona_id" ng-model="form.obj.zona_id" aria-label="s" required>
                            <md-option ng-repeat="p in form.zonas" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.zona_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" layout-gt-xs flex flex-gt-xs="20">
                        <label>Partida Registral</label>
                        <input name="partida_registral" ng-model="form.obj.partida_registral" md-maxlength="20"/>
                        <div ng-messages="myform.partida_registral.$error" role="alert">
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Estado del predio</label>
                        <md-select name="estado_predio_id" ng-model="form.obj.estado_predio_id" aria-label="s" required ng-change="form.change_estado_predio(form.obj.estado_predio_id)">
                            <md-option ng-repeat="p in form.estadospredio" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.estado_predio_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex ng-if="form.obj.estado_predio_codigo === 'Otros'">
                        <label>Especificar estado</label>
                        <input ng-model="form.obj.estado_descripcion" md-maxlength="50" name="estado_descripcion" required/>
                        <div ng-messages="myform.estado_descripcion.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>

                <fieldset class="field_set_form">
                    <legend class="size15">Dirección del predio</legend>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block md-input-has-value">
                            <md-checkbox title="Dirección específica" class="md-primary" ng-model="form.dir.completa_" aria-label="Checkbox">
                            </md-checkbox>
                        </md-input-container>
                        <div layout-gt-xs flex-gt-xs flex>
                            <div layout-gt-xs="column" flex>
                                <div layout-gt-xs="row" flex ng-if="form.dir.completa_">
                                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="25" flex>
                                        <label>Tipo vía</label>
                                        <md-select name="tipo_via" ng-model="form.dir.tipo_via_id" aria-label="s" required>
                                            <md-option></md-option>
                                            <md-option ng-repeat="dir in form.tiposvia" ng-value="dir.id">{{dir.nombre}}</md-option>
                                        </md-select>
                                        <div ng-messages="myform['tipo_via'].$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs="45" flex>
                                        <label>Nombre vía</label>
                                        <input name="nombre_via" ng-model="form.dir.nombre_via" md-maxlength="90" required/>
                                        <div ng-messages="myform['nombre_via'].$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Campo requerido</div>
                                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="{{(p.tipo_numero_via_id === 3)? 30:15}}" flex>
                                        <label>Tipo Nro.</label>
                                        <md-select name="tipo_numero_via" ng-model="form.dir.tipo_numero_via_id" ng-change="form.change_tipo_numero_via()" aria-label="s">
                                            <md-option></md-option>
                                            <md-option ng-repeat="q in form.tiposnumerovia" ng-value="q.id">{{q.abreviatura}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container ng-if="form.dir.tipo_numero_via_id !== 3" class="md-block" flex-gt-xs="15" flex>
                                        <label>Número</label>
                                        <input ng-model="form.dir.numero_via" md-maxlength="20" name="numero_via"/>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="form.dir.completa_">
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Manzana</label>
                                        <input ng-model="form.dir.manzana" md-maxlength="40" name="manzana"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Lote</label>
                                        <input ng-model="form.dir.lote" md-maxlength="20" name="lote"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Piso</label>
                                        <input ng-model="form.dir.piso" md-maxlength="12" name="piso"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Dpto/Interior</label>
                                        <input ng-model="form.dir.dpto_interior" md-maxlength="30" name="dpto_interior"/>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" flex ng-if="!form.dir.completa_">
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Dirección</label>
                                        <input ng-model="form.dir.direccion_detalle" name="direccion_detalle" md-maxlength="180" required/>
                                        <div ng-messages="myform['direccion_detalle'].$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Campo requerido</div>
                                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" layout-gt-xs flex-gt-xs="20" flex  ng-if="form.dir.completa_">
                                        <label>Tipo zona</label>
                                        <md-select name="tipo_zona" ng-model="form.dir.tipo_zona_id" aria-label="s">
                                            <md-option></md-option>
                                            <md-option ng-repeat="dir in form.tiposzona" ng-value="dir.id">{{dir.nombre}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex  ng-if="form.dir.completa_">
                                        <label>Nombre zona</label>
                                        <input name="nombre_zona" ng-model="form.dir.nombre_zona" md-maxlength="60"/>
                                    </md-input-container>
                                    <md-autocomplete
                                        flex-gt-xs
                                        md-input-name="ubigeo_id"
                                        md-no-cache="true"
                                        md-selected-item="form.dir.ubigeo"
                                        md-search-text="searchTextUB"
                                        md-items="item in form.BuscarUbigeo(searchTextUB)"
                                        md-item-text="item.nombre"
                                        md-min-length="0"
                                        md-require-match
                                        md-autoselect="false"
                                        md-floating-label="Distrito"
                                        md-menu-class="autocomplete-ubigeo"
                                        required
                                        >
                                        <md-item-template>
                                          <span class="item-title">
                                            <ng-md-icon icon="place" aria-label="ico"></ng-md-icon>
                                            <span> {{item.nombre}} <span ng-if="item.padre">- {{item.padre.nombre}}</span> <span ng-if="item.padre.padre">- {{item.padre.padre.nombre}}</span></span>
                                          </span>
                                        </md-item-template>
                                        <md-not-found>No encontrado</md-not-found>
                                        <div ng-messages="myform.ubigeo_id.$error">
                                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                            <div ng-message="require">No ha seleccionada alguna</div>
                                        </div>
                                        <span ng-if="form.dir.ubigeo.padre" class="form_padres_ubigeo">
                                            {{form.dir.ubigeo.padre.nombre}} <span ng-if="form.dir.ubigeo.padre.padre">- {{form.dir.ubigeo.padre.padre.nombre}}</span>
                                        </span>
                                    </md-autocomplete>
                                </div>
                                <div layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Referencia derecha</label>
                                        <input ng-model="form.dir.referencia1" name="referencia1" md-maxlength="150"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Referencia izquierda</label>
                                        <input ng-model="form.dir.referencia2" name="referencia2" md-maxlength="150"/>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button class="md-primary md-hue-2" aria-label="View" ng-click="form.add_punto($event, form.dir)" title="Agregar puntos de referencia" style="line-height: 27px !important; min-height: 27px; border: 1px solid #2771c5;">
                            <ng-md-icon icon="place" aria-label="Close"></ng-md-icon>
                            <span ng-if="!form.dir.punto_lat">Agregar</span> <span ng-if="form.dir.punto_lat">Cambiar</span> ubicación</md-button>
                        <span style="padding-top: 12px;" ng-if="form.dir.punto_lat" class="md-caption">[{{form.dir.punto_lat}},{{form.dir.punto_long}}] <a class="pqm-link" ng-click="form.del_punto()"><b>X</b></a></span>
                    </div>
                    <div layout-gt-xs="row" flex-gt-xs='100' ng-if="form.dir.punto_lat && form.visible">
                        <gm-map style="display: block; width: 104%;
                                height: 260px;
                                margin-left: -14px;
                                margin-right: -14px;
                                margin-bottom: 10px;"
                            gm-map-id="'dragMarkerMapAqui'"
                            gm-center="center"
                            gm-zoom="zoom"
                            gm-map-options="form.options2.mapa"
                            >
                            <gm-markers gm-objects="form.ubicaciones"
                                      gm-id="object.id"
                                      gm-position="{lat: object.punto_lat, lng: object.punto_long}"
                                      gm-marker-options="form.options2.marker(object)"
                                      >
                            </gm-markers>
                        </gm-map>
                    </div>
                </fieldset>

                <!-- <fieldset class="field_set_form" ng-if="form.ubicaciones">
                    <legend class="size15">Ubicación:</legend>
                    <div layout-gt-xs="column" flex-gt-xs='100'>
                        <gm-map style="display: block; width: 100%; height: 300px;"
                            gm-map-id="'dragMarkerMap'"
                            gm-center="center"
                            gm-zoom="zoom"
                            gm-map-options="form.options2.mapa"
                            >
                            <gm-markers gm-objects="form.ubicaciones"
                                      gm-id="object.id"
                                      gm-position="{lat: object.punto_lat, lng: object.punto_long}"
                                      gm-marker-options="form.options2.marker(object)"
                                      >
                            </gm-markers>
                        </gm-map>
                    </div>
                </fieldset> -->

                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>