<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <ng-md-icon icon="search" aria-label="s"></ng-md-icon>
                    <span>Buscar</span>
                    <span><b>unidad</b></span>
                </h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" flex="100">
                    <div layout="column" flex="100">
                            <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                                <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                                <input type="text" name="busqueda" ng-model="form.search" maxlength="70" placeholder="Búsqueda" ng-keyup="form.listar_por()" md-autofocus/>
                            </md-input-container>
                        </md-card-actions>
                        <div class="table-responsive">
                            <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                                <tr style="background: #eee">
                                    <th align="center" width="20">N°</th> 
                                    <th align="left">Nombre</th>
                                    <th align="left">Abreviatura</th>
                                    <th>Estado</th>
                                </tr>
                                <tr ng-repeat="p in form.listado" bgcolor="White" 
                                    onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                                    <td align="center" width="20">{{ $index +1 }}</td>
                                    <td align="left"><a class="pqm-link" ng-click="form.seleccionar(p)">{{ p.nombre}}</a></td>
                                    <td align="left"><a class="pqm-link" ng-click="form.seleccionar(p)">{{ p.abreviatura}}</a></td>
                                    <td align="center">
                                        <span class="label label-success" ng-if="p.estado === '1'">Activo</span>
                                        <span class="label label-default" ng-if="p.estado === '0'">Desactivo</span>
                                    </td>
                               </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
                    <div>
                    <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
                        <md-input-container>
                            <md-select name="form.nro_por_pagina" ng-model="form.paging.per_page"
                                       required ng-change="form.listar_por()" aria-label="s">
                                <md-option ng-repeat="p in form.list_per_pagina" ng-value="p">{{p}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{form.pagination.from}} al {{form.pagination.to}} de {{form.pagination.total}} registros</span>
                    <cl-paging 
                        cl-pages="form.paging.last_page"
                        cl-steps="5"
                        cl-page-changed="form.paging.onPageChanged()"
                        cl-align="start start"
                        cl-current-page="form.paging.current_page">
                    </cl-paging>
        </md-dialog-actions>
    </form>
</md-dialog>