
  <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title' ng-if="ctrl.evento.nombre === null ">Asistencia del Evento con  Fecha:  {{ctrl.evento.fecha | date}} - Hora: {{ctrl.evento.hora_inicio | limitTo : 5}}</span>
                <span class='md-title' ng-if="ctrl.evento.nombre !==  null">Asistencia del Evento: {{ctrl.evento.nombre}}</span>
                <span class="md-caption">Listado de personas registradas en el evento {{ctrl.evento.tipo_asistencia.codigo}}</span>
            </div>
            <span flex></span>
            <div layout='column' ng-if="ctrl.evento.nombre !== null ">
                <span class='md-title'>Fecha: {{ctrl.evento.fecha | date}} - Hora: {{ctrl.evento.hora_inicio | limitTo : 5}}</span>
                <span class="md-caption">(Fecha y hora del evento)</span>
            </div>
            <span flex></span>
            <md-button title="Volver a eventos" class="md-icon-button md-primary md-hue-2">
                <a href="#/app/eventos"><ng-md-icon icon="arrow_back" aria-label="Close"></ng-md-icon></a>
            </md-button>
            <md-button class="md-icon-button md-primary md-hue-2" ng-click="ctrl.listar()" aria-label="close">
                <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                <md-tooltip>Actualizar lista</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <div layout="row" flex="70">
                    <img style="width: 70px; height: 80px; background: #fafafa; border-left: 3px solid rgb(117,117,117);" ng-if="ctrl.afiliacion.persona.foto_logo_rec" ng-src="{{ctrl.storage+ctrl.afiliacion.persona.foto_logo_rec||''}}" alt=""/>

                    <div class="md-padding" flex  style="background: rgb(238,238,238); border-left: 4px solid rgb(189,189,189);border-radius: 0px 15px 15px 0px;" ng-if="ctrl.afiliacion.persona">
                            <div layout="row" flex>
                                <div layout="row" flex="50">
                                    <div layout="column">
                                        <div layout="row" flex>
                                            <span class="md-subhead" style="color: rgba(84, 81, 81, 0.87);"><b>{{ctrl.afiliacion.persona.nombre_completo|uppercase}}</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="md-caption" ng-repeat="p in ctrl.afiliacion.persona.persona_persona_documentos">
                                              {{p.tipo_documento.nombre}}: <b>{{p.numero}}</b>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" flex="10">
                                    <md-button title="Cambiar persona" class="md-icon-button" ng-click="ctrl.afiliacion = null">
                                        <ng-md-icon icon="arrow_back" aria-label="Close"></ng-md-icon>
                                    </md-button>
                                </div>
                                <div layout="row" flex="30" style="border-left: 1px solid rgb(189,189,189);" title="Registrar como asistente">
                                    <md-input-container class="md-block" flex-gt-xs flex>
                                        <label>Estado asistencia </label>
                                        <md-select name="estado_asistencia_id" ng-model="ctrl.obj.estado_asistencia" aria-label="s" required ng-change="ctrl.change_estado_asistencia(ctrl.obj.estado_asistencia)">
                                            <md-option ng-repeat="p in ctrl.estado_asistencia" ng-value="p">{{p.nombre}}</md-option>
                                        </md-select>
                                        <div ng-messages="myform.estado_asistencia_id.$error">
                                            <div ng-message="required" class="my-message">Campo requerido</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" flex="10" style="border-left: 1px solid rgb(189,189,189);" title="Registrar como asistente">
                                    <md-button class="md-icon-button" ng-click="ctrl.register_persona(ctrl.afiliacion.persona)">
                                        <ng-md-icon icon="send" aria-label="r"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <md-autocomplete
                        ng-if="!ctrl.afiliacion.persona"
                        flex
                        md-input-name="persona_id"
                        md-no-cache="true"
                        md-selected-item="ctrl.afiliacion"
                        md-search-text="searchTextRE"
                        md-items="item in ctrl.BuscarPersonaEvento(searchTextRE)"
                        md-item-text="item.persona.nombre_completo"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Busca Persona a registar"
                        md-menu-class="persona_auto_compl"
                        spellcheck="false"
                        >
                        <md-item-template>
                            <img class="item-imagen" ng-src="{{ctrl.storage+item.persona.foto_logo_rec||''}}" alt=""/>
                              <span class="item-title">
                                {{item.persona.nombre_completo}}
                              </span>
                              <span class="item-metadata">
                                <span ng-repeat="p in item.persona.persona_persona_documentos">
                                  {{p.tipo_documento.nombre}}: {{p.numero}}
                                </span>
                              </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <span ng-if="ctrl.asistencia.persona.persona_persona_documentos" class="form_padres_ubigeo">
                            <span ng-repeat="p in ctrl.asistencia.persona.persona_persona_documentos">
                                  {{p.tipo_documento.nombre}}: {{p.numero}}
                            </span>
                        </span>
                        <div ng-messages="myform.representante_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout="row" flex="20">
                    <span flex="10"></span>
                    <md-button class="md-primary md-raised" ng-click="ctrl.add_representante($event, ctrl.evento)" aria-label="Añadir Representante" ng-if="ctrl.evento.tipo_asistencia.codigo === 'SOCIOS' ">Representante
                        <md-tooltip>Añadir Representante</md-tooltip>
                    </md-button>
                </div>
            </md-card-actions>
            <md-card-actions layout="row">
                <div layout="row" flex="70">
                    <md-input-container class="md-block" flex-gt-xs flex ng-if="ctrl.obj.estado_asistencia.codigo === 'C'">
                      <label>Comentario</label>
                      <textarea ng-model="ctrl.obj.comentario" rows="1" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div layout="row" flex="30">
                    <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                        <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                        <input type="text" autocomplete="off" name="busqueda" ng-model="ctrl.search" maxlength="70" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()"/>
                    </md-input-container>
                </div>
            </md-card-actions>
            <br>

            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #eee">
                        <th width="15" align="left">N°</th>
                        <th align="center">Foto</th>
                        <th align="center" ng-if="ctrl.evento.tipo_asistencia.codigo === 'USUARIOS' ">Persona</th>
                        <th align="center" ng-if="ctrl.evento.tipo_asistencia.codigo === 'SOCIOS' ">Socio</th>
                        <th align="center" ng-if="ctrl.evento.tipo_asistencia.codigo === 'SOCIOS' ">Representante</th>
                        <th align="center" ng-if="ctrl.evento.tipo_asistencia.codigo === 'SOCIOS' ">Pers.
                        Asistente</th>
                        <th align="center">Fecha</th>
                        <th align="center">Hora</th>
                        <th align="center">Estado Asistencia</th>
                        <!-- <th>Estado</th> -->
                        <th colspan="2">Opciones</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White"
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <td align="center" style="height: 25px;">{{ $index+1}}</td>
                        <td align="center">
                            <img ng-if="p.persona.foto_logo_rec" ng-click="ctrl.viewfoto($event, p)" ng-src="{{p.persona.foto_logo_rec}}" class="avatar-foto" alt="Logo">
                        </td>
                        <td align="center">{{ p.persona.nombre_completo}}</td>
                        <td align="center" ng-if="ctrl.evento.tipo_asistencia.codigo === 'SOCIOS' ">{{ p.representante.nombre_completo}}</td>
                        <td align="center" ng-if="ctrl.evento.tipo_asistencia.codigo === 'SOCIOS' ">{{ p.persona_asistente}}</td>
                        <td align="center">{{p.fecha_reg| date:'dd/MM/yyyy'}}</td>
                        <td align="center">{{p.hora_reg | limitTo : 5}}</td>
                        <td align="center" ng-cloak style="font-style: oblique; font-family: sans-serif;">
                            <span class="label label-success"  ng-if="p.estado_asistencia.codigo === 'P'">{{p.estado_asistencia.nombre}}</span>
                            <span class="label label-default"  ng-if="p.estado_asistencia.codigo === 'T'">{{p.estado_asistencia.nombre}}</span>
                            <span class="label label-default"  ng-if="p.estado_asistencia.codigo === 'F'">{{p.estado_asistencia.nombre}}</span>
                            <span class="label label-default"  ng-if="p.estado_asistencia.codigo === 'C'">{{p.estado_asistencia.nombre}}</span>
                        </td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.new_edit($event, p)">Editar</a>
                        </td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.delete($event, p)">Eliminar</a>
                        </td>
                   </tr>
                </table>
            </div>
        </div>
    </div>
    <section  class="md-padding" layout-gt-xs="row" layout-align="center center">
        <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
            <md-input-container>
                <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
                           required ng-change="ctrl.listar_por()" aria-label="s">
                    <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
        <cl-paging
            cl-pages="ctrl.paging.last_page"
            cl-steps="5"
            cl-page-changed="ctrl.paging.onPageChanged()"
            cl-align="start start"
            cl-current-page="ctrl.paging.current_page">
        </cl-paging>
    </section>

    <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
