<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="assistant_photo" aria-label="s"></ng-md-icon>
                    <span><b>Modificar Asistencia</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex  layout-align="center end">
                    <div layout-gt-xs="row" flex="60">
                        <!-- <img style="width: 65px; height: 65px; background: #fafafa;" ng-if="form.obj.representante.foto_logo_rec" ng-src="{{form.storage+form.obj.representante.foto_logo_rec||''}}" alt=""/> -->
                        <div layout="column">
                            <div layout="row" flex ng-if="form.obj.representante">
                                <span class="md-subhead" style="color: rgba(84, 81, 81, 0.87);"><b>REPRESENTANTE: </b></span>
                            </div>
                            <div layout="row" flex ng-if="form.obj.representante">
                                <span class="md-subhead" style="color: #4169E1;"><b>{{form.obj.representante.nombre_completo|uppercase}}</b></span>
                            </div>
                            <div layout="row" flex ng-if="form.obj.representante.persona_persona_documentos.length > 0">
                                <span class="md-caption" style="color: #4169E1;">
                                  DNI: <b>{{form.dni}}</b>
                                </span>
                            </div>

                            <div layout="row" flex ng-if="!form.obj.representante">
                                <span class="md-subhead" style="color: rgba(84, 81, 81, 0.87);"><b>PERSONA: </b></span>
                            </div>
                            <div layout="row" flex ng-if="!form.obj.representante">
                                <span class="md-subhead" style="color: #4169E1;"><b>{{form.obj.persona.nombre_completo|uppercase}}</b></span>
                            </div>
                            <div layout="row" flex ng-if="!form.obj.representante && form.obj.persona.persona_persona_documentos.length > 0">
                                <span class="md-caption" style="color: #4169E1;">
                                  DNI: <b>{{form.dni}}</b>
                                </span>
                            </div>
                        </div>

                    </div>
                    <md-input-container class="md-block" flex-gt-xs flex="30">
                        <label>Estado asistencia </label>
                        <md-select name="estado_asistencia_id" ng-model="form.obj.estado_asistencia" aria-label="s" required>
                            <md-option ng-repeat="p in form.estado_asistencia" ng-value="p">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.estado_asistencia_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <br>
                <div layout-gt-xs="row" flex  layout-align="center end" ng-if="form.obj.representante">
                    <div layout-gt-xs="row" flex="90">
                        <!-- <img style="width: 65px; height: 65px; background: #fafafa;" ng-if="form.obj.persona.foto_logo_rec" ng-src="{{form.storage+form.obj.persona.foto_logo_rec||''}}" alt=""/> -->
                        <div layout="column">
                            <div layout="row" flex>
                                <span class="md-subhead" style="color: rgba(84, 81, 81, 0.87);"><b>SOCIO:</b></span>
                            </div>
                            <div layout="row" flex>
                                <span class="md-subhead" style="color: #4169E1;"><b>{{form.obj.persona.nombre_completo|uppercase}}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div layout-gt-xs="row" flex layout-align="center end" >
                    <md-input-container class="md-block" flex-gt-xs flex="90" ng-if="form.obj.estado_asistencia.codigo === 'C'">
                      <label>Comentario</label>
                      <textarea ng-model="form.obj.comentario" rows="1" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.update_estado_asistencia(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span>Registrar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>