<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="assistant_photo" aria-label="s"></ng-md-icon>
                    <span><b>Registrar Asistencia: Representante</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex  layout-align="center end">
                    <div layout-gt-xs="row" flex="60">
                        <img style="width: 65px; height: 65px; background: #fafafa;" ng-if="form.obj.representante.persona.foto_logo_rec" ng-src="{{form.storage+form.obj.representante.persona.foto_logo_rec||''}}" alt=""/>
                        <!-- md-selected-item-change="form.change_representante(form.obj.representante)" -->
                        <md-autocomplete
                            flex
                            md-input-name="representante_id"
                            md-no-cache="true"
                            md-selected-item="form.obj.representante"
                            md-selected-item-change="form.change_representante(form.obj.representante.afiliacion.persona.id)"
                            md-search-text="searchText"
                            md-items="item in form.BuscarRepresentante(searchText)"
                            md-item-text="item.persona.nombre_completo"
                            md-min-length="0"
                            md-require-match
                            md-autoselect="false"
                            md-floating-label="Representantes"
                            md-autofocus
                            required
                            md-menu-class="persona_auto_compl"
                            >
                            <md-item-template>
                                <img class="item-imagen" ng-src="{{form.storage+item.persona.foto_logo_rec||''}}" alt=""/>
                                <span md-highlight-text="searchText">
                                    {{item.persona.nombre_completo}}
                                </span>
                            </md-item-template>
                            <md-not-found>No encontrado</md-not-found>
                            <div ng-messages="myform.persona_id.$error">
                                <div ng-message="required" class="my-message">Campo requerido</div>
                                <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            </div>
                        </md-autocomplete>
                    </div>
                    <md-input-container class="md-block" flex-gt-xs flex="30">
                        <label>Estado asistencia </label>
                        <md-select name="estado_asistencia_id" ng-model="form.obj.estado_asistencia" aria-label="s" required>
                            <md-option ng-repeat="p in form.estado_asistencia" ng-value="p">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.estado_asistencia_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <br>
                <div layout-gt-xs="row" flex layout-align="center end" >
                    <div layout-gt-xs="row" flex="90">
                        <img style="width: 65px; height: 65px; background: #fafafa;" ng-if="form.obj.representante.afiliacion.persona.foto_logo_rec" ng-src="{{form.storage+form.obj.representante.afiliacion.persona.foto_logo_rec||''}}" alt=""/>
                        <!-- {{form.obj.representante.afiliacion.persona.nombre_completo}} -->
                        <md-input-container class="md-block" layout-gt-xs flex flex-gt-xs="100">
                            <label>Socio</label>
                            <input name="persona_id" ng-model="form.obj.representante.afiliacion.persona.nombre_completo" required>
                            <div ng-messages="myform.persona_id.$error" role="alert">
                                <div ng-message="md-require-match">Cuidado el sistema registra toda sus actividad</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout-gt-xs="row" flex layout-align="center end" >
                    <md-input-container class="md-block" flex-gt-xs flex="90" ng-if="form.obj.estado_asistencia.codigo === 'C'">
                      <label>Comentario</label>
                      <textarea ng-model="form.obj.comentario" rows="1" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.register_representante(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>