
  <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'>Búsqueda de pagos</span>
                <span class="md-caption">Listado de para ser anulados</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-hue-2" ng-click="ctrl.listar()" aria-label="close">
                <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                <md-tooltip>Actualizar lista</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout-gt-xs="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <span flex></span>
                <md-content class="md-block" style="background: white; margin: 0px;margin-top: 17px;width: 204px;">
                    <div flex-gt-xs>
                        <md-datepicker name="date" ng-model="ctrl.date" ng-change="ctrl.listar()" md-placeholder="Fecha cobranza"></md-datepicker>
                    </div>
                </md-content>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input type="text" name="busqueda" ng-model="ctrl.search" maxlength="60" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()" autocomplete="off" />
                </md-input-container>              
            </md-card-actions>
            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #eee">
                        <th align="center" width="20">N°</th>
                        <th align="center" width="60">Número</th> 
                        <th align="center" width="150">Cuenta motivo</th> 
                        <th align="center">Nombre de persona</th> 
                        <th align="center">Detalle</th> 
                        <th align="center" width="60">Importe</th>
                        <th align="center" width="60">Moneda</th>
                        <th align="left" width="110">Medio de pago</th>
                        <th align="center" width="60">Fecha</th>
                        <th align="center" width="60">Hora</th>
                        <th align="center">Anular pago</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <td align="center">{{ $index+1 }}</td>
                        <td align="center">{{p.numero}}</td>
                        <td align="left">{{p.motivo_mov_cuenta_nombre}}</td>
                        <td align="left">{{p.persona_nombre_completo}}</td>
                        <td align="left">{{p.detalle}}</td>
                        <td align="right">{{p.importe | currency: p.moneda_simbolo+" "}}</td>
                        <td align="center">{{p.moneda_nombre}}</td>
                        <td align="left">{{p.tipo_medio_pago_nombre}}</td>
                        <td align="center">{{p.fecha | date:'dd/MM/yyyy'}}</td>
                        <td align="center">{{p.hora}}</td>
                        <td align="center" width="70">
                            <a class="pqm-link" ng-click="ctrl.anular($event, p)">Anular pago</a>
                        </td>
                   </tr>
                </table>
            </div>
        </div>
    </div>
    <section  class="md-padding" layout-gt-xs="row" layout-align="center center">
        <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
            <md-input-container>
                <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
                           required ng-change="ctrl.listar_por()" aria-label="s">
                    <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
        <cl-paging 
            cl-pages="ctrl.paging.last_page"
            cl-steps="5"
            cl-page-changed="ctrl.paging.onPageChanged()"
            cl-align="start start"
            cl-current-page="ctrl.paging.current_page">
        </cl-paging>
    </section>

    <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
