<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <ng-md-icon icon="delete_outline" aria-label="s"></ng-md-icon> 
                <span class="md-subhead">Anular pago</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
            	<div layout="row">
            		<div class="table-responsive">
		                <table align="center" class="basic table-bordered" width="100%">
		                    <tr style="background: #FAFAFA;">
		                        <th align="center" colspan="2" height="30">INFORMACION DEL PAGO</th>
		                    </tr>
		                    <tr style="background-color: white;">
		                    	<td align="right" width="70" height="30" style="background: #fafafa;;">NÚMERO:</td>
		                        <th align="left">{{ form.pag.numero}}</th>
		                    </tr>
		                    <tr style="background-color: white;">
		                    	<td align="right" width="70" height="30" style="background: #fafafa;;">PERSONA:</td>
		                        <th align="left">{{ form.pag.persona_nombre_completo|uppercase }}</th>
		                    </tr>
                            <tr style="background-color: white;">
                                <td align="right" width="70" height="30" style="background: #fafafa;;">IMPORTE:</td>
                                <th align="left">{{form.pag.importe|currency:"S/. "}}</th>
                            </tr>
		                </table>
		            </div>
            	</div>
                <br>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Detalle el motivo de la anulacion</label>
                        <textarea name="detalle_anulado" ng-model="form.obj.detalle_anulado" md-maxlength="120" required md-autofocus rows="2"></textarea>
                        <div ng-messages="myform.detalle_anulado.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            <div ng-message="required" class="my-message">El motivo es obligatorio</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Anulando pago</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.anularpago()" class="md-raised md-warn" ng-disabled="!myform.$valid||form.guardando">
                ANULAR PAGO
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>