<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic_media">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <ng-md-icon icon="payment" aria-label="s"></ng-md-icon> 
                <span class="md-subhead"><b>Registrar pago</b> <span ng-if="form.obj.importe">|</span> {{(form.obj.importe*form.obj.tipo_cambio)|currency:form.entidad.moneda__simbolo+" "}}</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
            	<div layout="row">
            		<div class="table-responsive">
		                <table align="center" class="basic table-bordered" width="100%">
		                    <tr style="background: rgb(224,224,224); height: 30px;">
		                        <th align="center" colspan="6" ng-if="form.cronog.id">CRONOGRAMA SELECCIONADO</th>
		                        <th align="center" colspan="6" ng-if="!form.cronog.id">PAGO GENERAL</th>
		                    </tr>
		                    <tr style="background-color: white; height: 30px;">
		                    	<th align="center" width="70" style="background: rgb(224,224,224);">Persona</th>
		                        <td align="left" colspan="5" style="background: #fafafa;">{{ form.persona.nombre_completo|uppercase }}</td>
		                    </tr>
		                    <tr style="background-color: white; height: 30px;" ng-if="form.cronog.id">
		                    	<th align="center" style="background: rgb(224,224,224);">Motivo</th>
		                        <td align="left" colspan="5" style="background: #fafafa;">{{ form.cronog.motivo_movimiento_cuenta.nombre }} / {{form.cronog.descripcion}}</td>
		                    </tr>
		                    <tr style="background-color: white; height: 30px;" ng-if="form.cronog.id">
		                    	<th align="center" style="background: rgb(224,224,224);">Monto</th>
		                        <td align="center" style="background: #fafafa;">{{ form.cronog.monto|currency:""}}</td>
		                        <th align="center" style="background: rgb(224,224,224);">Pagó</th>
		                        <td align="center" style="background: #fafafa;">{{ form.cronog.pagado|currency:""}}</td>
		                        <th align="center" style="background: rgb(224,224,224);">Debe</th>
		                        <td align="center" style="background: #fafafa;"><span class="md-subhead"><b>{{ (form.cronog.monto-form.cronog.pagado)|currency:""}}</b></span></td>
		                     </tr>
		                </table>
		            </div>
            	</div>
                <br>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="30" flex>
                        <label>Tipo cuenta</label>
                        <md-select name="tipo_cuenta_id" ng-model="form.obj.tipo_cuenta_id" aria-label="s" required ng-change="form.change_tipo_cuenta(form.obj)">
                            <md-option></md-option>
                            <md-option ng-repeat="p in form.tiposcuenta" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.tipo_cuenta_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="40" flex>
                        <label>Cuenta</label>
                        <md-select name="cuenta_entidad_id" ng-model="form.obj.cuenta_entidad_id" aria-label="s" required ng-change="form.change_cuenta_entidad(form.obj)">
                            <md-option></md-option>
                            <md-option ng-repeat="p in form.cuentasentidad" ng-value="p.id">{{p.nombre}}{{p.persona_cuenta.entidad_financiera.tipo_ent_finan.concatenar}} {{p.persona_cuenta.entidad_financiera.nombre}} {{p.persona_cuenta.numero}}</md-option>
                        </md-select>
                        <div ng-messages="myform.cuenta_entidad_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="30" flex>
                        <label>Medio de pago</label>
                        <md-select name="tipo_medio_pago_id" ng-model="form.obj.tipo_medio_pago_id" aria-label="s" required ng-change="form.change_tipo_medio_pago(form.obj)">
                            <md-option></md-option>
                            <md-option ng-repeat="p in form.tiposmediopago" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.tipo_medio_pago_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="30" flex ng-if="!form.cronog.id">
                        <label>Importe total</label>
                        <input type="number" ng-model="form.obj.importe" name="importe" min="0.5" required max="{{(form.monto_total-form.pagado)/form.obj.tipo_cambio}}" ng-change="form.change_importe(form.obj)" md-autofocus/>
                        <div ng-messages="myform.importe.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo 0.5</div>
                            <div ng-message="max" class="my-message">Máximo {{((form.monto_total-form.pagado)/form.obj.tipo_cambio)|currency:""}}</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs="30" flex ng-if="form.cronog.id">
                        <label>Importe</label>
                        <input type="number" ng-model="form.obj.importe" name="importe" min="0.5" required max="{{(form.cronog.monto-form.cronog.pagado)/form.obj.tipo_cambio}}" ng-change="form.change_importe(form.obj)" md-autofocus/>
                        <div ng-messages="myform.importe.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo 0.5</div>
                            <div ng-message="max" class="my-message">Máximo {{((form.cronog.monto-form.cronog.pagado)/form.obj.tipo_cambio)|currency:""}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Tipo moneda</label>
                        <md-select name="moneda_id" ng-model="form.obj.moneda_id" aria-label="s" required ng-change="form.change_moneda(form.obj)">
                            <md-option ng-repeat="p in form.monedas" ng-value="p.id">{{p.nombre_plural}}</md-option>
                        </md-select>
                        <div ng-messages="myform.moneda_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container ng-if="form.entidad.id && form.obj.moneda_id && form.obj.moneda_id !== form.entidad.moneda_id" class="md-block" flex-gt-xs="30" flex>
                        <label>Tipo cambio</label>
                        <input type="number" ng-model="form.obj.tipo_cambio" name="tipo_cambio" required ng-change="form.change_importe(form.obj)"/>
                        <div ng-messages="myform.tipo_cambio.$error" role="alert" multiple >
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                        <span class="form_padres_ubigeo">
                            {{form.entidad.moneda__nombre_plural}} ({{form.entidad.moneda__simbolo}})
                        </span>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Detalle</label>
                        <input name="detalle" ng-model="form.obj.detalle" md-maxlength="120"/>
                        <div ng-messages="myform.detalle.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex class="md-padding" ng-if="!form.cronog.id">
                    <span class="md-caption" ng-if="form.cronogramas.length > 0" style="color: silver;">CRONOGRAMAS</span>
                    <span ng-if="form.cargando_cronog" flex>
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </span>
                </div>
                <div class="table-responsive" ng-if="!form.cronog.id">
                    <table align="center" class="basic table-bordered" width="100%">
                        <tr style="background: #fafafa; height: 30px;">
                            <th align="center">#</th>
                            <th align="left">MOTIVO CRONOGRAMA</th>
                            <th align="left">DESCRIPCIÓN</th>
                            <th align="center"><b>DEBE</b></th>
                            <th align="center">PAGAR</th>
                        </tr>
                        <tr ng-repeat="p in form.new_cronogramas" bgcolor="White"
                            onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white; height: 30px;">
                            <td align="center">{{ $index +1 }}</td>
                            <td align="left">{{ p.motivo_movimiento_cuenta.nombre}}</td>
                            <td align="left">{{ p.descripcion}}</td>
                            <td align="right">{{ (p.monto-p.pagado)|currency:""}}</td>
                            <td align="center" width="10" ng-class="{completo_si: p.completo == 'SI', completo_no: p.completo == 'NO'}"><b>{{p.pagar|currency:""}}</b></td>
                       </tr>
                        <tr bgcolor="#fafafa" onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = '#fafafa';" style="background-color: #fafafa; height: 30px;">
                            <td align="right" colspan="3">TOTALES</td>
                            <td align="right"><span class="md-subhead">{{(form.monto_total-form.pagado)|currency:""}}</span></td>
                            <td align="right"><span class="md-subhead"><b>{{(form.obj.importe*form.obj.tipo_cambio)|currency:""}}</b></span></td>
                        </tr>
                    </table>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Recibido</label>
                        <input type="number" ng-model="form.obj.recibido" name="recibido" ng-change="form.change_recibido(form.obj)"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Vuelto</label>
                        <input type="number" disabled ng-model="form.obj.vuelto" name="vuelto"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Comisiones</label>
                        <input type="number" disabled ng-model="form.obj.comisiones" name="comisiones"/>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Registrando pago</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.registrarpago()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                REGISTRAR PAGO
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>