 <div flex="100">
    <div style="background: #fafafa;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'><b>Registro de pagos</b></span>
                <span class="md-caption">Busque por nombres o número de documento</span>
            </div>
            <span flex></span>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout-gt-xs="row" flex="100">
    	<div layout-gt-xs="column" flex-gt-xs="75" class="md-padding">
    		<div layout="row">
    			<img style="width: 65px; height: 65px; background: #fafafa; border-left: 3px solid rgb(117,117,117);" ng-src="{{ctrl.storage+ctrl.obj.persona.foto_logo_rec||''}}" alt=""/>
                <div class="md-padding" flex style="background: rgb(238,238,238); border-left: 4px solid rgb(189,189,189);border-radius: 0px 15px 15px 0px;" ng-if="ctrl.obj.persona">
                    <div layout="column" flex>
                        <div layout="row" flex>
                            <div layout="column" flex>
                                <span class="md-subhead" style="color: rgba(84, 81, 81, 0.87);"><b>{{ctrl.obj.persona.nombre_completo|uppercase}}</b></span>
                                <div>
                                    <span class="md-caption" ng-repeat="p in ctrl.obj.persona.persona_persona_documentos">
                                      {{p.tipo_documento.nombre}}: <b>{{p.numero}}</b>
                                    </span>
                                </div>
                                <span class="md-caption" ng-if="ctrl.afiliacion">AFILIACIÓN: <b>{{ctrl.afiliacion}}</b></span>
                            </div>
                            <div layout="column">
                                <md-button title="Cambiar persona" class="md-icon-button" ng-click="ctrl.obj.persona = null; ctrl.contratos = [];">
                                    <ng-md-icon icon="arrow_back" aria-label="Close"></ng-md-icon>
                                </md-button>
                            </div>
                            <div layout="column" style="border-left: 1px solid rgb(189,189,189);" title="PDF cronogramas pendientes">
                                <md-button class="md-icon-button" ng-click="ctrl.pdfcronogramas()">
                                    <ng-md-icon icon="list_alt" aria-label="r"></ng-md-icon>
                                </md-button>
                            </div>
                            <div layout="column" style="border-left: 1px solid rgb(189,189,189);" title="Actualizar lista">
                                <md-button class="md-icon-button" ng-click="ctrl.change_persona(ctrl.obj.persona)">
                                    <ng-md-icon icon="refresh" aria-label="r"></ng-md-icon>
                                </md-button>
                            </div>
                            <div layout="column" style="border-left: 1px solid rgb(189,189,189);" title="Ver movimientos cuenta">
                                <md-button class="md-icon-button" ng-click="ctrl.movimientos($event, ctrl.obj.persona)">
                                    <ng-md-icon icon="payment" aria-label="r"></ng-md-icon>
                                </md-button>
                            </div>                            
                        </div>
                    </div>
                </div>
				<md-autocomplete 
                    ng-if="!ctrl.obj.persona"
					style="padding-left: 5px;"
	                flex
	                md-input-name="persona_id"
	                md-no-cache="true"
	                md-selected-item="ctrl.obj.persona"
	                md-search-text="searchTextPE"
	                md-selected-item-change="ctrl.change_persona(ctrl.obj.persona)"
	                md-items="item in ctrl.BuscarPersona(searchTextPE)"
	                md-item-text="item.nombre_completo"
	                md-min-length="0"
	                md-require-match
	                md-autoselect="false"
	                md-floating-label="Buscar persona"
	                required
	                md-menu-class="persona_auto_compl"
	                spellcheck="false"
                    md-autofocus
	                >
	                <md-item-template>
	                    <img class="item-imagen" ng-src="{{ctrl.storage+item.foto_logo_rec||''}}" alt=""/>
	                      <span class="item-title">
	                        {{item.nombre_completo}}
	                      </span>
	                      <span class="item-metadata">
	                        <span ng-repeat="p in item.persona_persona_documentos">
	                          {{p.tipo_documento.nombre}}: <b>{{p.numero}}</b> 
	                        </span>
	                      </span>
	                </md-item-template>
	                <md-not-found>No encontrado</md-not-found>
	                <!-- <span ng-if="ctrl.obj.persona.persona_persona_documentos" class="form_padres_ubigeo">
	                    <span ng-repeat="p in ctrl.obj.persona.persona_persona_documentos">
	                          {{p.tipo_documento.nombre}}: <b>{{p.numero}}</b>
	                    </span>
	                </span> -->
	            </md-autocomplete>
	        </div>
	        <br>
	        <div layout="row" flex class="md-padding">
	        	<span class="md-caption" ng-if="ctrl.contratos.length > 0" style="color: silver;">CRONOGRAMAS DE COBRANZA</span>
	        	<span ng-if="ctrl.cargando_cronog" flex>
	        		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	        	</span>
	        </div>
            <div class="alert alert-success text-center" ng-if="ctrl.obj.persona.id && (ctrl.monto_total-ctrl.pagado)<=0 && !ctrl.cargando_cronog && !ctrl.error_carga">
                <span><ng-md-icon icon="tag_faces" aria-label="s"></ng-md-icon></span>
                <span>{{ctrl.obj.persona.nombre_completo}}, <b>no tiene deuda</b></span>
            </div>
            <div class="alert alert-danger text-center" ng-if="ctrl.error_carga">
                <span><ng-md-icon icon="warning" aria-label="s"></ng-md-icon></span>
                <span>Error al cargar. <b>Inténtelo nuevamente</b></span>
            </div>
            
	        <div class="table-responsive" ng-if="ctrl.obj.persona.id && (ctrl.monto_total-ctrl.pagado)>0">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #424949; color: white; height: 30px;">
                        <th align="center">#</th>
                        <!-- <th align="left">Contrato</th> -->
                        <th align="left">MOTIVO CRONOGRAMA</th>
                        <th align="left">DESCRIPCIÓN</th>
                        <th align="center">MONTO</th>
                        <th align="center">PAGÓ</th>
                        <th align="center"><b>DEBE</b></th>
                        <th align="center" width="80">VENCE</th>
                    </tr>
                    <tr ng-repeat-start="a in ctrl.contratos" style="background-color: #fafafa; height: 30px; border-top: 2px solid #FFC107;">
                        <td colspan="3">
                            <span ng-if="a.contrato_id">CONTRATO: <b>{{a.contrato__numero}}</b> ({{a.contrato__predio__predio_direcciones__direccion_detalle}} - {{a.contrato__predio__zona__nombre}})</span>
                            <span ng-if="!a.contrato_id">{{a.detalle}}</span>
                        </td>
                        <td align="right">{{ a.monto_total|currency:"S/. "}}</td>
                        <td align="right"><span ng-if="a.pagado > 0">{{ a.pagado|currency:"S/. "}}</span></td>
                        <td align="right" style="font-size: 13px;"><b>{{ (a.monto_total-a.pagado)|currency:"S/. "}}</b></td>
                        <td align="left">
                            <md-button type="submit" ng-click="ctrl.registro($event, ctrl.obj.persona, null, a.contrato_id)" class="md-raised md-primary" style="box-shadow: none;text-transform: none;margin: 0px 0px;min-width: 70px;" title="Registrar pago"><ng-md-icon icon="navigate_next" aria-label="s"></ng-md-icon> PAGAR</md-button>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-repeat="p in a.cronogramas" bgcolor="White"
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white; height: 30px;">
                        <td align="center">{{ $index +1 }}</td>
                        <!-- <td align="left">{{ p.contrato_numero}}</td> -->
                        <td align="left">{{ p.motivo_movimiento_cuenta.nombre}}</td>
                        <td align="left">{{ p.descripcion}}</td>
                        <td align="right">{{ p.monto|currency:"S/. "}}</td>
                        <td align="right"><span ng-if="p.pagado > 0">{{ p.pagado|currency:"S/. "}}</span></td>
                        <td align="right">{{ (p.monto-p.pagado)|currency:"S/. "}}</td>
                        <td align="center" ng-click="ctrl.registro($event, ctrl.obj.persona, p, null)">{{ p.fecha_cobranza | date:'dd/MM/yyyy'}}</td>
                        <!-- <td align="center">
                            <md-button type="submit" ng-click="ctrl.registro($event, ctrl.obj.persona, p, null)" class="md-raised md-primary" style="box-shadow: none;text-transform: none;margin: 0px 0px;min-width: 70px;"><ng-md-icon icon="payment" aria-label="s"></ng-md-icon> Pagar</md-button>
                        </td> -->
                   </tr>
                    <tr bgcolor="#fafafa" onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = '#fafafa';" style="background-color: #fafafa; height: 30px;">
                        <td align="right" colspan="3">TOTALES</td>
                        <td align="right">{{ctrl.monto_total|currency:"S/. "}}</td>
                        <td align="right">{{ctrl.pagado|currency:"S/. "}}</td>
                        <td align="right"><span class="md-subhead"><b>{{(ctrl.monto_total-ctrl.pagado)|currency:"S/. "}}</b></span></td>
                        <td align="left">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div layout-gt-xs="column" flex-gt-xs="25" style="border-left: 1px solid rgb(189,189,189);">
        	<span class="md-subhead md-padding">Historial de pagos</span>
        </div>
    </div>
</div>