<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" style="width: 650px; min-height: 95%;">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <ng-md-icon icon="payment" aria-label="s"></ng-md-icon> 
                <span class="md-subhead"><b>Registrar pago</b> <span ng-if="form.obj.importe">|</span> {{(form.obj.importe*form.obj.tipo_cambio)|currency:form.entidad.moneda__simbolo+" "}}</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado && !form.pag.id">
            	<div layout="row">
            		<div class="table-responsive">
		                <table align="center" class="basic table-bordered" width="100%">
		                    <tr style="background-color: white;">
		                    	<td align="right" width="70" height="30" style="background: #fafafa;;">PERSONA:</td>
		                        <th align="left">{{ form.persona.nombre_completo|uppercase }}</th>
		                    </tr>
                            <tr style="background-color: white;">
                                <td align="right" width="70" height="30" style="background: #fafafa;;">CONTRATO:</td>
                                <td align="left"><b>{{form.contrato.contrato__numero}}</b> ({{form.contrato.contrato__predio__predio_direcciones__direccion_detalle}} - {{form.contrato.contrato__predio__zona__nombre}})</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" width="70" height="30" style="background: #fafafa;;">DEUDA:</td>
                                <th align="left">{{(form.monto_total-form.pagado)|currency:"S/. "}}</th>
                            </tr>
		                </table>
		            </div>
            	</div>
                <br>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="30" flex>
                        <label>Tipo cuenta</label>
                        <md-select name="tipo_cuenta_id" ng-model="form.obj.tipo_cuenta_id" aria-label="s" required ng-change="form.change_tipo_cuenta(form.obj)">
                            <md-option ng-repeat="p in form.tiposcuenta" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.tipo_cuenta_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="40" flex>
                        <label>Cuenta</label>
                        <md-select name="cuenta_entidad_id" ng-model="form.obj.cuenta_entidad_id" aria-label="s" required ng-change="form.change_cuenta_entidad(form.obj)">
                            <md-option ng-repeat="p in form.cuentasentidad" ng-value="p.id">{{p.nombre}}{{p.persona_cuenta.entidad_financiera.tipo_ent_finan.concatenar}} {{p.persona_cuenta.entidad_financiera.nombre}} {{p.persona_cuenta.numero}}</md-option>
                        </md-select>
                        <div ng-messages="myform.cuenta_entidad_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="30" flex>
                        <label>Medio de pago</label>
                        <md-select name="tipo_medio_pago_id" ng-model="form.obj.tipo_medio_pago_id" aria-label="s" required ng-change="form.change_tipo_medio_pago(form.obj)">
                            <md-option ng-repeat="p in form.tiposmediopago" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.tipo_medio_pago_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="30" flex ng-if="form.obj.tipo_cuenta_id === 1">
                        <label>Importe total</label>
                        <input type="number" ng-model="form.obj.importe" name="importe" required max="{{(form.monto_total-form.pagado)/form.obj.tipo_cambio}}" ng-change="form.change_importe(form.obj)" />
                        <!-- min="{{(form.monto_total-form.pagado)/form.obj.tipo_cambio}}"  -->
                        <div ng-messages="myform.importe.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo {{(form.monto_total-form.pagado)/form.obj.tipo_cambio}}</div>
                            <div ng-message="max" class="my-message">Máximo {{((form.monto_total-form.pagado)/form.obj.tipo_cambio)|currency:""}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="30" flex ng-if="form.obj.tipo_cuenta_id !== 1">
                        <label>Importe total</label>
                        <input type="number" ng-model="form.obj.importe" name="importe" required max="{{(form.monto_total-form.pagado)/form.obj.tipo_cambio}}" ng-change="form.change_importe(form.obj)" min="0.5" />
                        <div ng-messages="myform.importe.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo 0.5</div>
                            <div ng-message="max" class="my-message">Máximo {{((form.monto_total-form.pagado)/form.obj.tipo_cambio)|currency:""}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Tipo moneda</label>
                        <md-select name="moneda_id" ng-model="form.obj.moneda_id" aria-label="s" required ng-change="form.change_moneda(form.obj)">
                            <md-option ng-repeat="p in form.monedas" ng-value="p.id">{{p.nombre_plural}}</md-option>
                        </md-select>
                        <div ng-messages="myform.moneda_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container ng-if="form.entidad.id && form.obj.moneda_id && form.obj.moneda_id !== form.entidad.moneda_id" class="md-block" flex-gt-xs="30" flex>
                        <label>Tipo cambio</label>
                        <input type="number" ng-model="form.obj.tipo_cambio" name="tipo_cambio" required ng-change="form.change_importe(form.obj)"/>
                        <div ng-messages="myform.tipo_cambio.$error" role="alert" multiple >
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                        <span class="form_padres_ubigeo">
                            {{form.entidad.moneda__nombre_plural}} ({{form.entidad.moneda__simbolo}})
                        </span>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Detalle</label>
                        <input name="detalle" ng-model="form.obj.detalle" md-maxlength="120" md-autofocus/>
                        <div ng-messages="myform.detalle.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Recibido</label>
                        <input type="number" ng-model="form.obj.recibido" name="recibido" ng-change="form.change_recibido(form.obj)"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Vuelto</label>
                        <input type="number" disabled ng-model="form.obj.vuelto" name="vuelto"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Comisiones</label>
                        <input type="number" disabled ng-model="form.obj.comisiones" name="comisiones"/>
                    </md-input-container>
                </div>
            </div>
            <div class="md-dialog-content" ng-if="form.pag.id">
                <div layout-gt-xs="row" flex layout-align="center center">
                    <div class="alert alert-success" flex style="text-align: center;">
                        <ng-md-icon icon="check" aria-label="a"></ng-md-icon>
                        <h4 style="margin-top: 2px;">El pago ha sido registrado correctamente</h4>
                        <span class="md-caption">NÚMERO DE PAGO: <b>{{form.pag.numero}}</b></span><br>
                        <span class="md-subhead">{{form.pag.persona_nombre_completo|uppercase}}</span><br>
                        <span class="md-caption">IMPORTE: <b>{{form.pag.importe | currency:""}}</b></span>
                    </div>
                </div>
                 <div layout-gt-xs="row" flex layout-align="center center">
                    <md-button ng-click="form.imprimir_ticket(form.pag.id)" style="border: 1px solid silver;" class="md-primary">
                        <ng-md-icon icon="print"></ng-md-icon> IMPRIMIR PAGO
                    </md-button>
                    <md-button ng-click="form.cancel()" style="border: 1px solid silver;">
                        <ng-md-icon icon="close"></ng-md-icon> CERRAR VENTANA
                    </md-button>
                </div>
                <div layout-gt-xs="row" flex ng-if="form.url_frame">
                    <iframe id="video" class="embed-responsive-item" width="100%" 
                            ng-src="{{form.frame_url(form.url_frame)}}" frameborder="0" 
                            allowfullscreen height="20"></iframe>
                </div>                
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions" ng-if="form.cargado && !form.pag.id">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Registrando pago</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.registrarpago()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="navigate_next" aria-label="s"></ng-md-icon> REGISTRAR PAGO
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>