<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <ng-md-icon icon="payment" aria-label="s"></ng-md-icon> 
                <span class="md-subhead">INFORMACIÓN DEL PAGO</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
            	<div layout="row">
            		<div class="table-responsive">
		                <table align="center" class="basic table-bordered" width="100%">
		                    <tr style="background: #FAFAFA;">
		                        <th align="center" colspan="2" height="30">INFORMACION DEL PAGO</th>
		                    </tr>
                            <tr style="background-color: white;">
                                <td align="right" width="110" style="background: #fafafa;;">MOVIMIENTO:</td>
                                <td align="left">{{ form.pag.movimiento_nombre}}</td>
                            </tr>
                            <tr style="background-color: white;">
		                    	<td align="right" style="background: #fafafa;;">NÚMERO:</td>
		                        <th align="left">{{ form.pag.numero}}</th>
		                    </tr>
		                    <tr style="background-color: white;">
		                    	<td align="right" style="background: #fafafa;;">PERSONA:</td>
		                        <th align="left">{{ form.pag.persona_nombre }}</th>
		                    </tr>
                            <tr style="background-color: white;" ng-repeat="p in form.pag.documentos">
                                <td align="right" style="background: #fafafa;;">{{p.tipo_documento__nombre}}:</td>
                                <td align="left">{{p.numero}}</td>
                            </tr>
                            
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">FECHA:</td>
                                <td align="left">{{form.pag.fecha}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">HORA:</td>
                                <td align="left">{{form.pag.hora}}</td>
                            </tr>
                             <tr style="background: #FAFAFA;" ng-if="form.pag.detallespago.length > 0">
                                <th align="center" colspan="2" height="30">DETALLES DEL PAGO</th>
                            </tr>
                            <tr style="background-color: white;" ng-repeat="p in form.pag.detallespago">
                                <td align="right">{{p.importe|currency:"S/. "}}</td>
                                <td align="left">{{p.descripcion}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">IMPORTE:</td>
                                <th align="left"><span class="md-subhead"><b>{{form.pag.importe|currency:"S/. "}}</b></span></th>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">MONEDA:</td>
                                <td align="left">{{form.pag.moneda_nombre}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">MEDIO DE PAGO:</td>
                                <td align="left">{{form.pag.tipo_medio_pago_nombre}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">RECIBIDO:</td>
                                <td align="left">{{form.pag.recibido|currency:"S/. "}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">VUELTO:</td>
                                <td align="left">{{form.pag.vuelto|currency:"S/. "}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">DETALLE:</td>
                                <td align="left">{{form.pag.detalle}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">CAJERO/A:</td>
                                <td align="left">{{form.pag.usuario_nombres}}</td>
                            </tr>
                            <tr style="background-color: white;">
                                <td align="right" style="background: #fafafa;;">ESTADO:</td>
                                <td align="left">{{form.pag.estado}}</td>
                            </tr>
                            <tr style="background-color: white;" ng-if="form.pag.estado === 'ANULADO'">
                                <td align="right" style="background: #fafafa;;">ANULADO POR:</td>
                                <td align="left">{{form.pag.anulado_por_nombres}}</td>
                            </tr>
                            <tr style="background-color: white;" ng-if="form.pag.estado === 'ANULADO'">
                                <td align="right" style="background: #fafafa;;">MOTIVO:</td>
                                <td align="left">{{form.pag.detalle_anulado}}</td>
                            </tr>
		                </table>
		            </div>
            	</div>
                <div layout-gt-xs="row" flex ng-if="form.url_frame">
                    <iframe id="video" class="embed-responsive-item" width="100%" 
                            ng-src="{{form.frame_url(form.url_frame)}}" frameborder="0" 
                            allowfullscreen height="40"></iframe>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Imprimiendo pago</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cerrar</md-button>
            <md-button type="submit" ng-click="form.imprimir_ticket()" class="md-raised md-primary" ng-disabled="form.guardando">
                <ng-md-icon icon="print"></ng-md-icon> IMPRIMIR TICKET
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>