<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="assistant_photo" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nueva</span>
                    <span><b>Afiliación</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Código</label>
                        <input md-autofocus ng-model="form.obj.codigo" name="codigo"/ placeholder="Automático" readonly="readonly">
                        <div ng-messages="myform.codigo.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <img style="width: 65px; height: 65px; background: #fafafa;" ng-src="{{form.storage+form.obj.persona.foto_logo_rec||''}}" alt=""/>
                    <md-autocomplete
                        flex
                        md-input-name="persona_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.persona"
                        md-search-text="searchText"
                        md-items="item in form.BuscarPersona(searchText)"
                        md-item-text="item.nombre_completo"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Persona"
                        md-autofocus
                        required
                        md-menu-class="persona_auto_compl"
                        >
                        <md-item-template>
                            <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                            <span md-highlight-text="searchText">
                                {{item.nombre_completo}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.persona_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                    <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                        <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                            <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item class="min_md_menu_item30">
                                <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
                            </md-menu-item>
                            <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                                <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex
                        md-input-name="tipo_afiliacion_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.tipo_afiliacion"
                        md-search-text="searchTexts"
                        md-items="item in form.BuscarTipoAfiliacion(searchTexts)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Tipo afiliación"
                        required
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTexts">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.tipo_afiliacion_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Fecha de ingreso</label>
                        <input type="date" ng-model="form.obj.fecha_ingreso" name="fecha_ingreso"/>
                        <div ng-messages="myform.fecha_ingreso.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Fecha de afiliación</label>
                        <input type="date" ng-model="form.obj.fecha_afiliacion" name="fecha_afiliacion"/>
                        <div ng-messages="myform.fecha_afiliacion.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <fieldset ng-if="form.obj.tipo_afiliacion.codigo === 'SOCIO'" class="field_set_form">
                    <legend class="size15">Representantes:</legend>
                    <div layout-gt-xs="row" flex ng-repeat="p in form.list_representantes">
                        <!-- <img style="width: 65px; height: 65px; background: #fafafa;" ng-src="{{form.storage+form.obj.representantes.foto_logo_rec||''}}" alt=""/> -->
                        <md-autocomplete
                            flex
                            md-input-name="representante_id{{$index}}"
                            md-no-cache="true"
                            md-selected-item="p.representante"
                            md-search-text="searchTextREP"
                            md-items="item in form.BuscarRepresentante(searchTextREP)"
                            md-item-text="item.nombre_completo"
                            md-min-length="0"
                            md-require-match
                            md-autoselect="false"
                            md-floating-label="Representante"
                            required
                            md-menu-class="persona_auto_compl"
                            >
                            <md-item-template>
                                <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                                <span md-highlight-text="searchTextREP">
                                    {{item.nombre_completo}}
                                </span>
                            </md-item-template>
                            <md-not-found>No encontrado</md-not-found>
                            <div ng-messages="myform['representante_id0'].$error">
                                <div ng-message="required" class="my-message">Campo requerido</div>
                                <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            </div>
                            <!-- <span ng-if="p.representante.persona_persona_documentos[0].numero" class="form_padres_ubigeo">
                                {{p.representante.persona_persona_documentos[0].tipo_documento.nombre}}: {{p.representante.persona_persona_documentos[0].numero}}
                            </span> -->
                        </md-autocomplete>
                        <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                            <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                                <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item class="min_md_menu_item30">
                                    <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
                                </md-menu-item>
                                <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                                    <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button class="md-icon-button md-primary md-hue-2" aria-label="View" ng-click="form.del_representante(form.list_representantes, $index, p)" style="margin: 0px;"><ng-md-icon icon="delete" aria-label="del"></ng-md-icon><md-tooltip>Quitar</md-tooltip></md-button>
                    </div>
                    <div layout-gt-xs="row">
                        <md-button ng-if="form.list_representantes.length < 2" class="md-primary md-hue-2" aria-label="View" ng-click="form.add_representante()" style="line-height: 27px !important; min-height: 27px;">Agregar</md-button>
                    </div>
                </fieldset>

                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>