<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="location_city" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nueva</span>
                    <span><b>entidad</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex
                        flex-gt-xs="33"
                        md-input-name="tipo_entidad_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.tipo_entidad"
                        md-search-text="searchTextTE"
                        md-items="item in form.BuscarTipoEntidad(searchTextTE)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Tipo de entidad"
                        required
                        md-autofocus
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextTE">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.tipo_entidad_id.$error">
                            <div ng-message="md-require-match">No ha seleccionado alguno</div>
                            <div ng-message="required">El tipo es requerido</div>
                        </div>
                    </md-autocomplete>
                    <div layout-gt-xs="column" flex flex-gt-xs="66">
                        <div layout="row">
                            <md-autocomplete
                                flex
                                md-input-name="persona_id"
                                md-no-cache="true"
                                md-selected-item="form.obj.persona"
                                md-search-text="searchTextPE"
                                md-items="item in form.BuscarPersona(searchTextPE)"
                                md-item-text="item.nombre_completo"
                                md-min-length="0"
                                md-require-match
                                md-autoselect="false"
                                md-floating-label="Persona"
                                required
                                md-menu-class="autocomplete-persona-template">
                                <md-item-template>
                                  <span class="item-title">
                                    <strong> {{item.nombre_completo}} </strong>
                                  </span>
                                  <span class="item-metadata" ng-if="item.persona_persona_documentos.length > 0">
                                    <span>
                                      {{item.persona_persona_documentos[0].tipo_documento.codigo}} : {{item.persona_persona_documentos[0].numero}}
                                    </span>
                                  </span>
                                </md-item-template>
                                <md-not-found>No encontrado</md-not-found>
                                <span ng-if="form.obj.persona.numero" class="form_padres_ubigeo">
                                    {{form.obj.persona.tipo_documento_nombre}}:  {{form.obj.persona.numero}}
                                </span>
                                <div ng-messages="myform.persona_id.$error">
                                    <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                    <div ng-message="required">La persona es requerida</div>
                                </div>
                            </md-autocomplete>
                            <md-menu md-position-mode="target-right target" md-offset="0 44">
                                <md-button style="padding: 0px; margin: 0px; width: 25px;" class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                                    <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item class="min_md_menu_item30">
                                        <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
                                    </md-menu-item>
                                    <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                                        <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex
                        md-input-name="padre_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.padre"
                        md-search-text="searchTextPA"
                        md-items="item in form.BuscarPadre(searchTextPA, form.obj.persona.id)"
                        md-item-text="item.persona.nombre_completo"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Entidad padre"
                        >
                        <md-item-template>
                          <span md-highlight-text="searchTextPA" class="item-title">({{item.persona.persona_persona_documentos[0].numero}}) {{item.persona.nombre_completo}}
                          </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.padre_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex
                        md-input-name="id"
                        md-no-cache="true"
                        md-selected-item="form.obj.moneda"
                        md-search-text="searchTextMO"
                        md-items="item in form.BuscarMoneda(searchTextMO)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Tipo de moneda"
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextMO">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>