<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div layout="row">
                    <ng-md-icon icon="payment" aria-label="s"></ng-md-icon>
                    <div layout="column">
                        <span class="md-subhead" ng-if="!form.obj_.id"><b>Registrar cuenta</b></span>
                        <span class="md-subhead" ng-if="form.obj_.id"><b>Editar cuenta</b></span>
                        <span class="md-caption">Llene los campos</span>
                    </div>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Tipo de cuenta</label>
                        <md-select name="tipo_cuenta_id" ng-model="form.obj.tipo_cuenta_id" aria-label="s" required ng-change="form.change_tipo_cuenta(form.obj)" md-autofocus>
                            <md-option></md-option>
                            <md-option ng-repeat="p in form.tiposcuenta" ng-value="p.id">{{p.nombre}}</md-option>
                        </md-select>
                        <div ng-messages="myform.tipo_cuenta_id.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Este campo es requirido</div>
                        </div>
                    </md-input-container>
                    <md-input-container ng-if="form.obj.tipo_cuenta_codigo !=='BANCOS'" class="md-block" flex-gt-xs flex>
                        <label>Nombre</label>
                        <input name="nombre" ng-model="form.obj.nombre" md-maxlength="60" required/>
                        <div ng-messages="myform.nombre.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <div flex-gt-xs flex flex ng-if="form.obj.tipo_cuenta_codigo ==='BANCOS'">
                        <div layout="row">
                            <md-autocomplete 
                                flex
                                md-input-name="persona_cuenta_id"
                                md-no-cache="true"
                                md-selected-item="form.obj.persona_cuenta"
                                md-search-text="searchTextPE"
                                md-items="item in form.BuscarPersonaCuenta(searchTextPE)"
                                md-item-text="item.entidad_financiera.nombre"
                                md-min-length="0"
                                md-require-match
                                md-autoselect="false"
                                md-floating-label="Persona cuenta"
                                required
                                md-menu-class="persona_auto_compl"
                                >
                                <md-item-template>
                                    <span class="item-title">
                                        {{item.entidad_financiera.tipo_ent_finan.concatenar}} {{item.entidad_financiera.nombre}}
                                    </span>
                                    <span class="item-metadata">
                                        CUENTA NRO: {{item.numero}}
                                    </span>
                                </md-item-template>
                                <md-not-found>No encontrado</md-not-found>
                                <span ng-if="form.obj.persona_cuenta" class="form_padres_ubigeo">
                                    CUENTA NRO: <b>{{form.obj.persona_cuenta.numero}}</b>
                                </span>
                                <div ng-messages="myform.persona_cuenta_id.$error">
                                    <div ng-message="md-require-match">No ha seleccionada alguna</div>
                                    <div ng-message="required">La cuenta es requerida</div>
                                </div>
                            </md-autocomplete>
                            <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                                <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                                    <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item class="min_md_menu_item30">
                                        <md-button ng-click="form.cuentaexterno($event)">Buscar cuenta de externo</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
                <br>
                <span class="md-caption">USUARIOS CON ACCESO</span>
                <div layout-gt-xs="row" flex style="padding-top: 8px;">
                    <md-autocomplete 
                        flex
                        md-input-name="susuarios_id"
                        md-no-cache="true"
                        md-selected-item="form.susuarios"
                        md-search-text="searchTextUS"
                        md-selected-item-change="form.change_susuarios(form.susuarios)"
                        md-items="item in form.BuscarPersonaUsuario(searchTextUS)"
                        md-item-text="item.nombre_completo"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-menu-class="persona_auto_compl"
                        >
                        <md-item-template>
                            <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                              <span class="item-title">
                                {{item.nombre_completo}}
                              </span>
                              <span class="item-metadata">
                                <span ng-repeat="p in item.persona_persona_documentos">
                                  {{p.tipo_documento.nombre}}: {{p.numero}}
                                </span>
                              </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                    </md-autocomplete>
                </div>
                <br>
                <div class="table-responsive">
                    <table align="center" class="basic table-bordered" width="100%">
                        <tr style="background: #eee">
                            <th width="15" align="center">#</th> 
                            <th align="center">Foto</th>
                            <th align="left">Usuario</th>
                            <th align="center">Fecha inicio</th> 
                            <th align="center">Fecha fin</th>
                            <th align="center" width="20">Estado</th>  
                            <th width="20">Elim</th>
                        </tr>
                        <tr ng-repeat="p in form.list_usuarios" bgcolor="White" 
                            onmouseover="this.style.backgroundColor = '#E6E6E6';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                            <td align="center">{{ $index + 1}}</td>
                            <td align="center">
                                <img ng-if="p.persona.foto_logo_rec" ng-click="ctrl.viewfoto($event, p.persona)" ng-src="{{p.persona.foto_logo_rec||''}}" class="avatar-foto" alt="Logo">
                            </td>
                            <td align="left">{{ p.persona.nombre_completo}}</td>
                             <td align="center" width="60">
                                <input type="date" ng-model="p.fecha_inicio_" required>
                            </td>
                            <td align="center" width="60">
                                <input type="date" ng-model="p.fecha_fin_">
                            </td>
                            <td align="center">
                                <md-switch style="margin: 0px 0;height: 26px;" flex ng-model="p.estado" aria-label="est" 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                                </md-switch>
                            </td>
                            <td align="center" width="10">
                                <a class="pqm-link" ng-click="form.del_usuarios(form.list_usuarios, $index, p)">Eliminar</a>
                            </td>
                       </tr>
                    </table>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>