<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="layers" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span><b>tipo de moneda</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <span layout-gt-xs="row" class="error">{{form.errores.codigo[0]}}</span>
                <span layout-gt-xs="row" class="error">{{form.errores.nombre[0]}}</span>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" layout-gt-xs flex>
                        <label>Código</label>
                        <input md-autofocus name="codigo" ng-model="form.obj.codigo" required  md-maxlength="10"/>
                        <div ng-messages="myform.codigo.$error" role="alert">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nombre</label>
                        <input ng-model="form.obj.nombre" md-maxlength="50" name="nombre" required />
                        <div ng-messages="myform.nombre.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nombre plural</label>
                        <input ng-model="form.obj.nombre_plural" md-maxlength="60" name="nombre_plural" required />
                        <div ng-messages="myform.nombre_plural.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" layout-gt-xs flex>
                        <label>Símbolo</label>
                        <input name="simbolo" ng-model="form.obj.simbolo" md-maxlength="8"/>
                        <div ng-messages="myform.simbolo.$error" role="alert">
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Orden</label>
                        <input type="number" ng-model="form.obj.orden" name="orden" min="1" required/>
                        <div ng-messages="myform.orden.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="min" class="my-message">Mínimo 1</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>