<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="layers" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nueva</span>
                    <span><b>zona</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <span layout-gt-xs="row" class="error">{{form.errores.codigo[0]}}</span>
                <span layout-gt-xs="row" class="error">{{form.errores.nombre[0]}}</span>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" layout-gt-xs flex ng-if="form.edit">
                        <label>Código</label>
                        <input md-autofocus name="codigo" ng-model="form.obj.codigo" required  md-maxlength="10"/>
                        <div ng-messages="myform.codigo.$error" role="alert">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-autocomplete
                        flex
                        md-input-name="tipo_zona_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.tipo_zona"
                        md-search-text="searchTextTZ"
                        md-items="item in form.BuscarTipoZona(searchTextTZ)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Tipo Zona"
                        required
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextTZ">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.tipo_zona_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-autocomplete>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nombre</label>
                        <input ng-model="form.obj.nombre" md-maxlength="50" name="nombre" required />
                        <div ng-messages="myform.nombre.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex-gt-xs="33"
                        flex
                        md-input-name="pais_id"
                        md-no-cache="true"
                        md-selected-item = "form.obj.pais"
                        md-selected-item-change="form.change_pais()"
                        md-search-text="searchTextPA"
                        md-items="item in form.BuscarPais(searchTextPA)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="País"
                        required
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextPA">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform['pais_id'].$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            <div ng-message="required">País obligatorio</div>
                        </div>
                    </md-autocomplete>
                    <md-autocomplete ng-if="form.obj.pais"
                        flex
                        md-input-name="ubigeo_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.ubigeo"
                        md-search-text="searchTextUB"
                        md-items="item in form.BuscarUbigeo(searchTextUB, form.obj.pais.id)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Distrito/Estado"
                        md-menu-class="autocomplete-ubigeo"
                        >
                        <md-item-template>
                          <span class="item-title">
                            <ng-md-icon icon="place" aria-label="ico"></ng-md-icon>
                            <span> {{item.nombre}} <span ng-if="item.padre">- {{item.padre.nombre}}</span> <span ng-if="item.padre.padre">- {{item.padre.padre.nombre}}</span></span>
                          </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform['ubigeo_id'].$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                        <span ng-if="form.obj.ubigeo.padre" class="form_padres_ubigeo">
                            {{form.obj.ubigeo.padre.nombre}} <span ng-if="form.obj.ubigeo.padre.padre">- {{form.obj.ubigeo.padre.padre.nombre}}</span>
                        </span>
                    </md-autocomplete>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>