<br><br>
<div style="margin: 0px auto;text-align: center;">
	<h1 style="font-size: 5em; margin-bottom: -10px; text-shadow: blue 0px 0px 100px;">401</h1>
	<p>No autorizado, intente iniciar nuevamente sesión</p>
</div>