<table width="100%" class="reporte_normal" ng-if="ctrl.cargado">
	<tr onclick="window.print()">
		<th class="b_white">MUNICIPALIDAD DISTRITAL DE MORALES</th>
	</tr>
	<tr onclick="window.print()">
		<th class="b_white">CLASIFICADOR DE RECURSOS - {{ctrl.obj.periodo.nombre}}</th>
	</tr>
	<tr onclick="window.print()">
		<TH></TH>
	</tr>
	<tr onclick="window.print()">
		<th class="b_white">POI: {{ctrl.obj.objetivo_general}}</th>
	</tr>
	<tr>
		<td style="padding: 10px;">
			<table width="100%" class="reporte_normal_sn">
				<tr ng-repeat-start="p in ctrl.obj.proyectos track by $index">
					<td width="45" nowrap="" align="right" style="color: blue;">{{p.estructura.producto.codigo||'-'}}</td>
					<td colspan="4" style="color: blue;">{{p.estructura.producto.nombre||p.nombre}}</td>
					<td width="60" align="right" style="color: blue;"><b>{{(p.ppto||0)|currency:""}}</b></td>
				</tr>
				<tr ng-repeat-start="q in p.tareas">
					<td nowrap="" align="right"></td>
					<td nowrap="" width="10"></td>
					<td style="color: #A569BD;" colspan="3">{{q.denominacion}}</td>
					<td align="right" style="color: #A569BD;">{{(q.ppto||0)|currency:""}}</td>
				</tr>
				<tr ng-repeat="m in q.insumos" ng-repeat-end>
					<td nowrap="" align="right"></td>
					<td nowrap="" width="10"></td>
					<td nowrap="" width="10"></td>
					<td nowrap="" width="70" align="right">{{m.clasificador.codigo}}</td>
					<td>{{m.clasificador.descripcion}}</td>
					<td align="right">{{m.precio|currency:""}}</td>
				</tr>
				<tr ng-repeat-end>
					<tr>
						<td colspan="5" align="right">TOTAL PRESUPUESTO</td>
						<th align="right"><b>{{(ctrl.obj.ppto||0)|currency:""}}</b></th>
					</tr>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table align="center" ng-if="!ctrl.cargado">
	<tr>
		<td align="center">
			<img ng-src="recursos/imag/fluid-loader.gif" 
                         style="width: 200px; padding-right: 5px;">
		</td>
	</tr>
</table>