

<table width="100%" class="reporte_normal" ng-if="ctrl.cargado">
	<tr onclick="window.print()">
		<th class="b_white">MUNICIPALIDAD DISTRITAL DE MORALES</th>
	</tr>
	<tr onclick="window.print()">
		<th class="b_fafafa">FORMULACIÓN DEL PLAN OPERATIVO - {{ctrl.obj.periodo.nombre}}</th>
	</tr>
	<tr>
		<td style="padding: 10px;">
			<table width="100%" class="reporte_normal_">
				<tr>
					<td class="b_fafafa" style="width: 150px;text-align: center;">UNIDAD ORGÁNICA</td>
					<td colspan="3"><b>{{ctrl.obj.entidad.tipo_entidad.nombre}} {{ctrl.obj.entidad.tipo_entidad.conector}} {{ctrl.obj.entidad.persona.nombre_completo}}</b></td>
				</tr>
				<tr>
					<td class="b_fafafa" style="width: 150px;text-align: center;">OBJETIVO ESTRATEGICO GENERAL</td>
					<td colspan="3">{{ctrl.obj.objetivo_general}}</td>
				</tr>
				<tr>
					<td rowspan="3" class="b_fafafa" style="width: 150px;text-align: center;">OBJETIVOS ESTRATEGICO ESPECIFICO</td>
					<td rowspan="3">{{ctrl.obj.objetivo_especifico}}</td>
				</tr>
				<tr>
					<td class="b_fafafa" style="width: 200px;text-align: center;">CATEGORÍA PRESUPUESTAL</td>
					<td class="b_fafafa" style="width: 70px;text-align: center;">CÓDIGO</td>
				</tr>
				<tr>
					<td style="text-align: center;">{{ctrl.obj.programa.padre.nombre}}</td>
					<td style="text-align: center;">{{ctrl.obj.programa.codigo}}</td>
				</tr>
				<tr>
					<td class="b_fafafa" style="width: 150px;text-align: center;">PROGRAMAS PRESUPUESTALES</td>
					<td colspan="3">{{ctrl.obj.programa.nombre}}</td>
				</tr>
			</table>
			<table width="100%" class="reporte_normal_" style="margin-top: 4px;">
				<tr class="b_a9c9f3">
					<th style="width: 220px;text-align: center;">UNIDAD RESPONSABLE</th>
					<th>ACTIVIDAD y/o PROYECTO</th>
					<th style="width: 80px;">INDICADORES</th>
					<th style="width: 80px;">UNIDAD DE MEDIDA</th>
					<th style="width: 100px;">FUENTES DE FINANCIAMIENTO</th>
					<th align="center" style="width: 70px;">NÚMERO DE TAREAS</th>
					<th align="center" style="width: 80px;">ESTADO</th>
				</tr>
				<tr ng-repeat="p in ctrl.obj.proyectos">
					<td>{{ p.entidad_res.tipo_entidad.nombre}} {{ p.entidad_res.tipo_entidad.conector}} {{ p.entidad_res.persona.nombre_completo}}</td>
					<td>{{ p.nombre}}</td>
					<td>{{ p.indicadores}}</td>
					<td>{{ p.unidad_medida.descripcion}}</td>
					<td>
						<span ng-repeat="q in p.financiamiento">{{q.fuente_financiamiento.descripcion}}<span ng-if="p.financiamiento.length>1 && !$last">, </span></span>
					</td>
					<td align="center">{{ p.count_tareas||0}}</td>
					<td align="center">{{ p.estado_proyecto.nombre}}</td>
				</tr>
			</table>
			<table width="100%" class="reporte_normal_" style="margin-top: 10px;">
				<tr>
					<td class="b_fafafa" style="width: 150px;text-align: center;">OBSERVACIONES</td>
					<td>{{ctrl.obj.observaciones}}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table align="center" ng-if="!ctrl.cargado">
	<tr>
		<td align="center">
			<img ng-src="recursos/imag/fluid-loader.gif" 
                         style="width: 200px; padding-right: 5px;">
		</td>
	</tr>
</table>