<table width="100%" class="reporte_normal" ng-if="ctrl.cargado">
	<tr onclick="window.print()">
		<th style="background: #eee;">{{ctrl.obj.nombre_entidad}}</th>
	</tr>
	<tr onclick="window.print()">
		<th style="background: #eee;">MOVIMIENTOS Y ESTADOS DE CUENTA ENTIDAD</th>
	</tr>
	<tr ng-repeat="p in ctrl.obj.tipos">
		<td style="padding: 10px;">
			<table width="100%" class="reporte_normal">
				<tr>
					<th width="150px;" align="right" style="background: #eee;">TIPO:</th>
					<th style="text-align: left;"><b>{{p.tipo_nombre}}</b></th>
				</tr>
				
				<tr>
					<th width="150px;" align="right" style="background: #eee;">FECHA INICIAL:</th>
					<th style="text-align: left;"><b>{{ctrl.params.fecha_inicial| date:'dd/MM/yyyy'}}</b></th>
				</tr>
				<tr>
					<th width="150px;" align="right" style="background: #eee;">FECHA FINAL:</th>
					<th style="text-align: left;"><b>{{ctrl.params.fecha_final| date:'dd/MM/yyyy'}}</b></th>
				</tr>
				<tr>
					<td colspan="2" style="padding: 0px;">
						<table class="reporte_normal" width="100%" style="border: 0px !important;">
							<tr style="background: #eee;">
								<th width="20" height="20">N°</th>
								<th>CUENTA ENTIDAD</th>
								<th width="30">NÚMERO</th>
								<th>CUENTA MOTIVO</th>
								<th>NOMBRE PERSONA</th>
								<th>DETALLE</th>
								<th>IMPORTE</th>
								<th>MONEDA</th>
								<th>MEDIO DE PAGO</th>
								<th>FECHA</th>
								<th>HORA</th>
								<th>CAJERO/A</th>
							</tr>
							<tr ng-repeat="q in p.detalles" bgcolor="White"
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
								<td align="center">{{$index+1}}</td>
								<td>{{q.cuenta_nombre}}</td>
								<td align="center">{{q.numero}}</td>
								<td>{{q.motivo_mov_cuenta__nombre}}</td>
								<td>{{q.persona_nombre_completo}}</td>
								<td>{{q.detalle}}</td>
								<td align="right">{{q.importe| currency: q.moneda_simbolo+" "}}</td>
								<td align="center">{{q.moneda_nombre}}</td>
								<td>{{q.tipo_medio_pago_nombre}}</td>
								<td align="center">{{q.fecha}}</td>
								<td align="center">{{q.hora}}</td>
								<td>{{q.usuario_nombres}}</td>
							</tr>
							<tr>
								<td colspan="6" align="right">TOTAL: </td>
								<th align="right"><b>{{p.total| currency:"S/. "}}</b></th>
								<td colspan="5" align="right"></td>
							</tr>
						</table>
					</td>
				</tr>								
			</table>
		</td>
	</tr>
	<tr>
		<td align="center">
			<br>
			<table class="reporte_normal">
				<tr style="background: #eee">
                    <th colspan="5" align="center">ESTADOS DE CUENTA ENTIDAD</th>
                </tr>
                <tr style="background: #eee">
                    <th width="60">TIPO</th>
                    <th width="210">NOMBRE/NÚMERO</th>
                    <th width="90">INGRESO</th>
                    <th width="90">EGRESO</th>
                    <th width="90">SALDO</th>
                </tr>
                <tr ng-repeat="p in ctrl.obj.caja_bancos" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <td height="18">{{p.tipo}}</td>
                    <td>{{p.nombre}} {{p.numero}}</td>
                    <td align="right">{{p.ingresos|currency: "S/. "}}</td>
                    <td align="right">{{p.egresos|currency: "S/. "}}</td>
                    <td align="right"><b>{{p.saldo|currency: "S/. "}}</b></td>
                </tr>
                <tr style="background: #eee;">
                	<th colspan="2" align="right">TOTALES:</th>
                	<th align="right" style="font-size: 13px;">{{ctrl.obj.total_ingreso|currency: "S/. "}}</th>
                    <th align="right" style="font-size: 13px;">{{ctrl.obj.total_egreso|currency: "S/. "}}</th>
                    <th align="right" style="font-size: 14px;"><b>{{ctrl.obj.total_saldo|currency: "S/. "}}</b></th>
                </tr>
            </table>
            <br>
		</td>
	</tr>
</table>

<table align="center" ng-if="!ctrl.cargado">
	<tr>
		<td align="center">
			<img ng-src="recursos/imag/fluid-loader.gif" 
                         style="width: 200px; padding-right: 5px;">
		</td>
	</tr>
</table>