<table width="100%" class="reporte_normal_sn" ng-if="ctrl.cargado">
	<tr onclick="window.print()">
		<td width="140" rowspan="4">
			<img src="recursos/imag/logo_morales.png" width="80">
		</td>
		<td  colspan="2" style="font-size: 16px; text-align: center;"><b>SOLICITUD DE REQUERIMIENTO</b></td>
	</tr>
	<tr>
		<td style="font-size: 14px; text-align: center;" colspan="2">
			N° <b>{{ctrl.obj.codigo}}</b>
			- PERIODO: <b>{{ctrl.obj.proyecto.plan_operativo.periodo.nombre}}</b>
			- SIGLA: UT
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table align="right">
				<tr>
					<td width="80" style="font-size: 14px; text-align: right;">Bienes</td>
					<th width="20"></th>
					<td width="80" style="font-size: 14px; text-align: right;">Servicios</td>
					<th width="20"></th>
					<td width="60" style="font-size: 14px; text-align: right;">Obras</td>
					<th width="20"></th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table align="right">
				<tr>
					<td style="font-size: 13px; text-align: right;">Contratación por Acuerdo Marco:</td>
					<td width="40" style="font-size: 14px; text-align: right;">SI</td>
					<th width="20"></th>
					<td width="60" style="font-size: 14px; text-align: right;">NO</td>
					<th width="20"></th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><b>A LA</b></td>
		<td width="5">:</td>
		<td align="left" class="raya_abajo"><B>GERENCIA MUNICIPAL</B></td>
	</tr>
	<tr>
		<td><b>ÁREA USUARIA</b></td>
		<td width="5">:</td>
		<td align="left" class="raya_abajo">UNIDAD DE TESORERÍA</td>
	</tr>
	<tr>
		<td><b>ÁREA TÉCNICA</b></td>
		<td width="5">:</td>
		<td align="left" class="raya_abajo">{{ ctrl.obj.proyecto.entidad_res.tipo_entidad.nombre}} {{ ctrl.obj.proyecto.entidad_res.tipo_entidad.conector}} {{ ctrl.obj.proyecto.entidad_res.persona.nombre_completo}}</td>
	</tr>
	<tr>
		<td><b>SOLICITANTE</b></td>
		<td width="5">:</td>
		<td align="left" class="raya_abajo">{{ ctrl.obj.solicitante.nombre_completo|uppercase}}</td>
	</tr>
	<tr>
		<td><b>{{ ctrl.obj.proyecto.tipo_proyecto.nombre|uppercase}}</b></td>
		<td width="5">:</td>
		<td align="left" class="raya_abajo">{{ ctrl.obj.proyecto.nombre|uppercase}}</td>
	</tr>
	<tr>
		<td colspan="3" style="padding-top: 15px; padding-bottom: 15px;">
			<table width="100%" class="reporte_normal">
				<tr>
					<th width="20" class="b_white"><b>N°</b></th>
					<th width="40" class="b_white"><b>CANT</b></th>
					<th width="80" class="b_white"><b>UNIDAD</b></th>
					<th class="b_white" align="left"><b>DESCRIPCIÓN</b></th>
				</tr>
				<tr ng-repeat="p in ctrl.obj.detalles">
					<th align="center">{{$index+1}}</th>
					<th align="center">{{p.cantidad|number}}</th>
					<th align="center">{{p.insumo.unidad.nombre}}</th>
					<th align="left">{{p.insumo.producto_servicio.descripcion}}</th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><b>FINALIDAD</b></td>
		<td width="5">:</td>
		<td align="left" class="raya_abajo">{{ ctrl.obj.finalidad}}</td>
	</tr>
	<tr>
		<td colspan="3">Más información:</td>
	</tr>
	<tr>
		<td colspan="3">
			<table width="100%">
				<tr>
					<td>
						<table width="100%" class="reporte_normal">
							<tr>
								<th><b>Plazo de entrega o plazo de prestación</b></th>
							</tr>
							<tr>
								<th height="24">{{ctrl.obj.plazo_entrega}} días calendario</th>
							</tr>
						</table>
					</td>
					<td>
						<table width="100%" class="reporte_normal">
							<tr>
								<th><b>Forma de entrega o de ejecución</b></th>
							</tr>
							<tr>
								<th>
									<table align="center">
										<tr>
											<td>Única</td>
											<th width="20">
												<span ng-if="ctrl.obj.forma_entrega==='ÚNICA'">X</span>
											</th>
											<td>Parcial</td>
											<th width="20"><span ng-if="ctrl.obj.forma_entrega==='PARCIAL'">X</span></th>
										</tr>
									</table>
								</th>
							</tr>
						</table>
					</td>
					<td>
						<table width="100%" class="reporte_normal">
							<tr>
								<th><b>Lugar de entrega o prestación</b></th>
							</tr>
							<tr>
								<th height="24">{{ctrl.obj.lugar_entrega}}</th>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table width="100%" class="reporte_normal">
							<tr>
								<th><b>Garantía comercial</b></th>
							</tr>
							<tr>
								<th height="24">{{ctrl.obj.garantia_comercial}}</th>
							</tr>
						</table>
					</td>
					<td>
						<table width="100%" class="reporte_normal">
							<tr>
								<th><b>Penalidad por mora</b></th>
							</tr>
							<tr>
								<th height="24">{{ctrl.obj.penalidad_mora|currency:""}}</th>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="right" style="padding-bottom: 100px; font-size: 13px;">
			Morales, {{ctrl.obj.fecha_documento}}
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center">
			<table>
				<tr>
					<td>___________________________________</td>
					<td>___________________________________</td>
					<td>___________________________________</td>
				</tr>
				<tr>
					<td align="center"><b>Solicitante</b><br>Firma y sello</td>
					<td align="center"><b>V° B°</b><br>Jefe inmediato</td>
					<td align="center"><b>Gerencia Municipal</b><br>Firma y sello</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table align="center" ng-if="!ctrl.cargado">
	<tr>
		<td align="center">
			<img ng-src="recursos/imag/fluid-loader.gif" 
                         style="width: 200px; padding-right: 5px;">
		</td>
	</tr>
</table>