<table width="100%" class="reporte_normal" ng-if="ctrl.cargado">
	<tr onclick="window.print()">
		<th class="b_white">MUNICIPALIDAD DISTRITAL DE MORALES</th>
	</tr>
	<tr onclick="window.print()">
		<th class="b_fafafa">PROGRAMACIÓN OPERATIVA</th>
	</tr>
	<tr onclick="window.print()">
		<th>{{ctrl.obj.tipo_proyecto.nombre|uppercase}}: <b>{{ctrl.obj.nombre}}</b></th>
	</tr>
	<tr>
		<td style="padding: 10px;">
			<table width="100%" class="reporte_normal_sn">
				<tr>
					<td colspan="2">
						<table width="100%" class="reporte_normal_sn" style="margin-bottom: 8px;">
							<tr>
								<td width="250px;" valign="top">
									<table class="reporte_normal_sn">
										<tr>
											<th class="b_a9c9f3">UNIDAD EJECUTORA</th>
										</tr>
										<tr>
											<th>MUNICIPALIDAD DISTRITAL DE MORALES</th>
										</tr>
									</table>
								</td>
								<td>
									<table class="reporte_normal_sn">
										<tr>
											<th class="b_a9c9f3" colspan="7">ESTRUCTURA FUNCIONAL PROGRAMÁTICA</th>
										</tr>
										<tr>
											<th class="b_a9c9f3">FUNCION</th>
											<th class="b_a9c9f3">DIVISIÓN FUNCIONAL</th>
											<th class="b_a9c9f3">GRUPO FUNCIONAL</th>
											<th class="b_a9c9f3">PROGRAMA PRESUPUESTAL</th>
											<th class="b_a9c9f3">PRODUCTO</th>
											<th class="b_a9c9f3">ACTIVIDAD/ACCION/OBRA</th>
											<th class="b_a9c9f3">FINALIDAD</th>
										</tr>
										<tr>
											<th>{{ctrl.obj.funcion.descripcion}}</th>
											<th>{{ctrl.obj.division_funcional.descripcion}}</th>
											<th>{{ctrl.obj.grupo_funcional.descripcion}}</th>
											<th>{{ctrl.obj.programa.nombre}}</th>
											<th>{{ctrl.obj.producto.nombre}}</th>
											<th>{{ctrl.obj.actividad.descripcion}}</th>
											<th>{{ctrl.obj.finalidad.descripcion}}</th>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="150px;">UNIDAD RESPONSABLE:</td>
					<th style="text-align: left;">{{ctrl.obj.entidad_res.tipo_entidad.nombre}} {{ctrl.obj.entidad_res.tipo_entidad.conector}} {{ctrl.obj.entidad_res.persona.nombre_completo}}</th>
				</tr>
				<tr>
					<td colspan="2">
						<table width="100%" class="reporte_normal_sn" style="margin-bottom: 8px;">
							<tr>
								<td align="right">
									<table class="reporte_normal_sn">
										<tr>
											<th class="b_a9c9f3" colspan="4" width="200px;">PEI</th>
										</tr>
										<tr>
											<th class="b_a9c9f3">D</th>
											<th class="b_a9c9f3">OE</th>
											<th class="b_a9c9f3">Oe</th>
											<th class="b_a9c9f3">OTROS</th>
										</tr>
										<tr>
											<th>{{ctrl.obj.pei_dim}}</th>
											<th>{{ctrl.obj.pei_o_espe}}</th>
											<th>{{ctrl.obj.pei_o_extra}}</th>
											<th>{{ctrl.obj.pei_otros}}</th>
										</tr>
									</table>
								</td>
								<td width="300px;" valign="top" align="right">
									<table class="reporte_normal_sn">
										<tr>
											<th class="b_a9c9f3">FUENTE DE FINANCIAMIENTO</th>
										</tr>
										<tr>
											<th>
												<span ng-repeat="p in ctrl.obj.financiamiento">{{p.fuente_financiamiento.descripcion}}<span ng-if="ctrl.obj.financiamiento.length>1 && !$last">, </span></span>
											</th>
										</tr>
									</table>
								</td>
								
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2">DENOMINACIÓN:</td>
				</tr>
				<tr>
					<th colspan="2" align="left">{{ctrl.obj.nombre}}</th>
				</tr>
				<tr>
					<td colspan="2" style="padding-top: 10px;">DESCRIPCIÓN:</td>
				</tr>
				<tr>
					<th colspan="2" align="left">{{ctrl.obj.descripcion}}</th>
				</tr>
				<tr>
					<td colspan="2">
						<table width="100%" class="reporte_normal_sn">
							<tr>
								<td style="padding-top: 10px;"  width="50%">LOCALIZACIÓN:</td>
								<td style="padding-top: 10px;">BENEFICIARIOS:</td>
							</tr>
							<tr>
								<th align="left">
								<span ng-if="ctrl.obj.ubigeo.id">
									{{ctrl.obj.ubigeo.nombre}}, 
									{{ctrl.obj.ubigeo.padre.nombre}}, 
									{{ctrl.obj.ubigeo.padre.padre.nombre}} 
								</span>
								 <span ng-if="ctrl.obj.localizacion">({{ctrl.obj.localizacion}})</span></th>
								<th align="left">{{ctrl.obj.beneficiarios}}</th>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-top: 10px;">ESTRATEGIA OPERATIVA DE LA INTERVENCIÓN:</td>
				</tr>
				<tr>
					<th colspan="2" align="left">{{ctrl.obj.estrategia_ope}}</th>
				</tr>
				<tr>
					<td colspan="2">
						<table width="100%" class="reporte_normal_sn">
							<tr>
								<td style="padding-top: 10px;"  width="50%">DENOMINACIÓN:</td>
								<td style="padding-top: 10px;">UNIDAD DE MEDIDA:</td>
							</tr>
							<tr>
								<th align="left">
									{{ctrl.obj.nombre}}
								</th>
								<th align="left">{{ctrl.obj.unidad_medida.descripcion}}</th>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-top: 10px;">PRESUPUESTO:</td>
				</tr>
				<tr>
					<th colspan="2" align="left">{{ ctrl.obj.ppto|currency:"S/. "}}</th>
				</tr>
				<tr>
					<td colspan="2" style="padding-top: 8px;">
						<table class="reporte_normal" width="100%">
							<tr>
								<th class="b_a9c9f3" colspan="13">LISTADO DE TAREAS</th>
							</tr>
							<tr>
								<th class="b_a9c9f3" width="20" rowspan="3">N°</th>
								<th class="b_a9c9f3" rowspan="3">DENOMINACIÓN</th>
								<th class="b_a9c9f3" width="90" rowspan="3">UNIDAD DE MEDIDA</th>
								<th class="b_a9c9f3" width="60" rowspan="3">CANTIDAD</th>
								<th class="b_a9c9f3" width="60" rowspan="3">PRESUPUESTO</th>
								<th class="b_a9c9f3" colspan="8">PROGRAMACIÓN TRIMESTRAL DE LAS TAREAS</th>
							</tr>
							<tr>
								<th class="b_a9c9f3" ng-repeat="p in ctrl.obj.trimestres" colspan="2">{{p.romano}} TRIM</th>
							</tr>
							<tr>
								<th class="b_a9c9f3" width="30" ng-repeat-start="p in ctrl.obj.trimestres">FISICA</th>
								<th class="b_a9c9f3" width="30" title="Financiera" ng-repeat-end>FINANC</th>
							</tr>
							<tr ng-repeat="p in ctrl.obj.tareas">
								<th align="center">{{$index+1}}</th>
								<th align="left">{{p.denominacion}}</th>
								<th align="left">{{p.unidad_medida.descripcion}}</th>
								<th align="center">{{p.cantidad|number}}</th>
								<th align="right">{{p.ppto|currency:"S/. "}}</th>
								<th align="center" ng-repeat-start="q in p.trimestres">{{q.meta|number}}</th>
								<th align="right" ng-repeat-end nowrap="">{{ q.ppto|currency:"S/. "}}</th>
							</tr>
							<tr>
								<td colspan="5" align="right"></td>
								<th class="b_a9c9f3" width="30" ng-repeat-start="p in ctrl.obj.trimestres">TOTAL</th>
								<th ng-repeat-end align="right" nowrap=""><b>{{ p.ppto|currency:"S/. "}}</b></th>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table align="center" ng-if="!ctrl.cargado">
	<tr>
		<td align="center">
			<img ng-src="recursos/imag/fluid-loader.gif" 
                         style="width: 200px; padding-right: 5px;">
		</td>
	</tr>
</table>