<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="assistant_photo" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nueva</span>
                    <span><b>Evento</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex
                        flex-gt-xs="33"
                        md-input-name="tipo_evento_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.tipo_evento"
                        md-search-text="searchTE"
                        md-items="item in form.BuscarTipoEvento(searchTE)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Tipo Evento"
                        md-autofocus
                        required
                        md-menu-class="persona_auto_compl"
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTE">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.persona_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>

                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nombre</label>
                        <input ng-model="form.obj.nombre" md-maxlength="150" name="nombre" />
                        <div ng-messages="myform.nombre.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        flex
                        flex-gt-xs="33"
                        md-input-name="tipo_asistencia_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.tipo_asistencia"
                        md-search-text="searchTextTA"
                        md-items="item in form.BuscarTipoAsistencia(searchTextTA)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Tipo de Asistencia"
                        required
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextTA">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.tipo_asistencia_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-autocomplete>

                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Fecha</label>
                        <input type="date" ng-model="form.obj.fecha" name="fecha" required />
                        <div ng-messages="myform.fecha.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <span flex></span>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Hora inicio</label>
                        <input type="time" ng-model="form.obj.hora_inicio" name="hora_inicio" required />
                        <div ng-messages="myform.hora_inicio.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="time" class="my-message">Debe tener formate de hora</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Hora fin</label>
                        <input type="time" ng-model="form.obj.hora_fin" name="hora_fin"/>
                        <div ng-messages="myform.hora_fin.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Tolerancia</label>
                        <input type="time" ng-model="form.obj.hora_tolerancia" name="hora_tolerancia"/>
                        <div ng-messages="myform.hora_tolerancia.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- <fieldset class="field_set_form">
                    <legend class="size15">Tiempo de tolerancia:</legend>
                    <div layout-gt-xs="row" flex>
                        <md-input-container class="md-block" layout-gt-xs flex>
                            <label>Unidad de Medida</label>
                            <md-select name="unidad_tiempo" ng-model="form.obj.unidad_tiempo" aria-label="s">
                                <md-option></md-option>
                                <md-option ng-repeat="p in form.unidad_tiempo" ng-value="p.id">{{p.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex>
                            <label>Cantidad</label>
                            <input type="number" ng-model="form.obj.tolerancia" name="tolerancia" min="1" max="24" required/>
                            <div ng-messages="myform.orden.$error" role="alert" multiple>
                                <div ng-message="min" class="my-message">Mínimo 1</div>
                                <div ng-message="max" class="my-message">Máximo 24</div>
                            </div>
                        </md-input-container>
                    </div>
                </fieldset> -->
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                      <label>Descripción</label>
                      <textarea ng-model="form.obj.descripcion" rows="2" md-select-on-focus></textarea>
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
