<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="assignment" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nueva</span>
                    <span><b>tarea</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                	<md-input-container class="md-block" flex-gt-xs flex>
                        <label>Denominación</label>
                        <textarea ng-model="form.obj.denominacion" name="denominacion" rows="2" required md-autofocus></textarea>
                        <div ng-messages="myform.denominacion.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <div flex-gt-xs layout-gt-xs="column">
                        <div flex layout="row">
                            <md-autocomplete 
                                flex
                                flex-gt-xs
                                md-input-name="unidad_medida_id"
                                md-no-cache="true"
                                md-selected-item="form.obj.unidad_medida"
                                md-search-text="searchTextUM"
                                md-items="item in form.BuscarUnidMedida(searchTextUM)"
                                md-item-text="item.descripcion"
                                md-min-length="0"
                                md-require-match
                                md-autoselect="false"
                                md-floating-label="Unidad de medida"
                                required
                                >
                                <md-item-template>
                                    <span md-highlight-text="searchTextUM">
                                        {{item.descripcion}}
                                    </span>
                                </md-item-template>
                                <md-not-found>No encontrado</md-not-found>
                                <div ng-messages="myform.unidad_medida_id.$error">
                                    <div ng-message="md-require-match">No ha seleccionado alguno</div>
                                    <div ng-message="required">La unidad es requerida</div>
                                </div>
                            </md-autocomplete>
                            <md-menu md-position-mode="target-right target" md-offset="0 44" class="but_move_options">
                                <md-button class="md-icon-button move_ops" aria-label="more" ng-click="$mdMenu.open($event)">
                                    <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item class="min_md_menu_item30" ng-if="form.access['add_unidad_medida']">
                                        <md-button ng-click="form.form_unidad_medida($event,null)"><ng-md-icon icon="add" aria-label="s"></ng-md-icon> Registrar nueva</md-button>
                                    </md-menu-item>
                                    <md-menu-item class="min_md_menu_item30" ng-if="form.obj.unidad_medida && form.access['edit_unidad_medida']">
                                        <md-button ng-click="form.form_unidad_medida($event, form.obj.unidad_medida)"><ng-md-icon icon="edit" aria-label="e"></ng-md-icon> Editar datos</md-button>
                                    </md-menu-item>
                                    <md-menu-item class="min_md_menu_item30">
                                        <md-button ng-click="form.search_unidad_medida($event)"><ng-md-icon icon="search" aria-label="s"></ng-md-icon> Buscar en lista</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                	
                    <md-input-container class="md-block" flex-gt-xs="33" flex>
                        <label>Cantidad</label>
                        <input type="number" ng-model="form.obj.cantidad" name="cantidad" required min="0" />
                        <div ng-messages="myform.cantidad.$error" role="alert" multiple>
                            <div ng-message="min" class="my-message">Mínimo 0</div>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container ng-repeat="p in form.obj.trimestres" class="md-block" flex-gt-xs flex>
                        <label>{{p.romano}} TRIM</label>
                        <input type="number" ng-model="p.meta" min="0" max="{{form.obj.cantidad}}"/>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-switch ng-model="form.obj.estado" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.estado === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.estado === '0'">Desactivo</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>