/* 
* 
*/
/*
html {
    background-color: #efefef;
}*/

.box {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.box .box-row {
    display: table-row;
    height: 100%;
}

.box .box-row .box-cell {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ie .box .box-row .box-cell {
    display: table-cell;
}

.box .box-col {
    display: table-cell;
    vertical-align: top;
}

.box .box-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box > [class*="col-"],
.box > [class*=" col-"] {
    position: static;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

@media (min-width: 1200px) {
    .box > [class*="col-lg"],
    .box > [class*=" col-lg"] {
        display: table-cell;
    }
}

@media (min-width: 992px) {
    .box > [class*="col-md"],
    .box > [class*=" col-md"] {
        display: table-cell;
    }
}

@media (min-width: 768px) {
    .box > [class*="col-sm"],
    .box > [class*=" col-sm"] {
        display: table-cell;
    }
}

@media (max-width: 767px) {
    .box > [class*="col-xs"],
    .box > [class*=" col-xs"] {
        display: table-cell;
    }
    .box .box-inner {
        position: relative !important;
    }
}

.content-reset {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-open .app {
    overflow: hidden;
}

.app-aside {
    position: absolute !important;
    top: 0;
    bottom: 0;
    z-index: 60;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    opacity: 1;
/*    box-shadow: 0 64px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;*/
}

.scrollable.hover {
    overflow-y: hidden !important;
}

.scrollable.hover > * {
    margin-top: -1px;
}

.scrollable.hover:hover {
    overflow: visible !important;
    overflow-y: auto !important;
}

.smart .scrollable {
    overflow-y: auto !important;
}

.scroll-x,
.scroll-y {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.scroll-y {
    overflow-y: auto;
}

.scroll-x {
    overflow-x: auto;
}


.dialog_pdf{
    min-width: 900px;
}

@media screen and (max-width: 399px){
    .dialog_pdf{
        min-width: 300px;
    }
}

@media screen and (max-width: 499px) and (min-width: 400px) { 
    .dialog_pdf{
        min-width: 400px;
    }
}

@media screen and (max-width: 599px) and (min-width: 500px) { 
    .dialog_pdf{
        min-width: 500px;
    }
}

@media screen and (max-width: 959px) and (min-width: 600px) {
    .dialog_pdf{
        min-width: 600px;
    }
}

.cargando_fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index:40;
    opacity:0.30;
    -moz-opacity: 10;
    filter: alpha(opacity=100);

}

.cargando_valores {
    position: fixed;
    top: 40%;
    right: 18%;
    left: 18%;
    z-index:50;
    text-align: center;
}

.reduce_margin_button {
    margin: -8px 0px !important;
}

.dialog-actions{
    background: #F2F2F2; border-top-style: solid; border-top-width: 1px; border-top-color: #E6E6E6;
}

md-option {
    height: 30px !important;
}


.navbar .navbar-nav > li > a,
.navbar .navbar-tool > li > a,
.navbar .navbar-item,
.navbar .navbar-brand {
    padding: 0 16px;
    line-height: 64px;
}

.navbar .navbar-tool > li {
    float: left;
}

.navbar .navbar-brand {
    display: block;
    float: none;
    min-height: 64px;
    font-size: 20px;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    text-decoration: none;
}

.navbar .navbar-brand img,
.navbar .navbar-brand svg {
    display: inline-block;
    vertical-align: -10%;
}

@media (max-width: 991px) {
    .navbar {
        min-height: 48px;
    }
    .navbar .navbar-brand {
        min-height: 56px;
    }
    .navbar .navbar-nav > li > a,
    .navbar .navbar-tool > li > a,
    .navbar .navbar-item,
    .navbar .navbar-brand {
        line-height: 56px;
    }
}

/*layout*/

.content-reset {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-open .app {
    overflow: hidden;
}

.app-aside {
    position: absolute !important;
    top: 0;
    bottom: 0;
    z-index: 60;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    opacity: 1;
    /*box-shadow: 0 64px 5px 0 rgba(0, 0, 0, 0.26);*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.app-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

@media (min-width: 992px) {
    .app-aside {
        display: block !important;
        width: 258px;
    }
    .app-aside.folded {
        width: 0px;
    }
    .app-aside.folded ~ .app-content {
        margin-left: 0px;
    }
    .app-aside ~ .app-content {
        margin-left: 258px;
    }
    .app-aside.md-sidenav-left {
        min-width: 0;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
    .app-aside .left {
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
}

@media (max-width: 991px) {
    .app-aside.modal {
        z-index: 1050;
    }
    .app-aside .left {
        max-width: 304px;
    }
    .app-padding {
        padding: 4px 4px;
    }
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}


/*Charts*/

.bg-white {
    background-color: #fff;
}

.no-border {
    border-color: transparent;
    border-width: 0;
}

.no-borders {
    border-width: 0 !important;
}

@media (max-width: 991px) {
    .no-border-sm {
        border-width: 0;
    }
}

@media (max-width: 767px) {
    .no-border-xs {
        border-width: 0;
    }
}

.padding {
    padding: 32px 32px;
}

.padding-out {
    margin: -32px -32px;
}

@media (max-width: 992px) {
    .padding {
        padding: 16px 16px;
    }
    .padding-out {
        margin: -16px -16px;
    }
}

@media (max-width: 767px) {
    .padding {
        padding: 8px 8px;
    }
    .padding-out {
        margin: -8px -8px;
    }
}

/* Menu main*/

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow-x: hidden;
    font-size: 14px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav > li.disabled > a {
    color: #777;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav > li > a > img {
    max-width: none;
}

nav ul.nav li {
    position: relative;
}

nav ul.nav li li a {
    /*padding-left: 72px; Modicado por Persy*/
    padding-left: 50px;
    line-height: 36px;
}

nav ul.nav li li a .badge,
nav ul.nav li li a .label {
    margin-top: 10px;
}

nav ul.nav li li li a {
    padding-left: 88px;
}

nav ul.nav li li li li a {
    padding-left: 106px;
}

nav ul.nav li a,
nav ul.nav li .nav-item {
    position: relative;
    display: block;
    padding: 0 24px;
    font-weight: normal;
    /*    line-height: 40px;*/
    line-height: 23px;

    text-align: left;
    text-transform: none;
    border-radius: 0 !important;
}

nav ul.nav li a .text,
nav ul.nav li .nav-item .text {
    margin-left: 16px;
}

nav ul.nav li a .up,
nav ul.nav li .nav-item .up {
    z-index: 1;
    margin-left: 16px;
    font-style: normal;
}

nav ul.nav li a > .pull-right ng-md-icon,
nav ul.nav li .nav-item > .pull-right ng-md-icon {
    margin-left: 16px;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

nav ul.nav li a > .icon,
nav ul.nav li .nav-item > .icon {
    top: 0;
    float: left;
    min-width: 40px;
    margin-right: 16px;
    line-height: inherit;
}

nav ul.nav li a > .icon:before,
nav ul.nav li .nav-item > .icon:before {
    display: inline-block;
    width: 24px;
    text-align: center;
    opacity: 0.75;
}

nav ul.nav li a:hover,
nav ul.nav li .nav-item:hover,
nav ul.nav li a:focus,
nav ul.nav li .nav-item:focus {
    background-color: rgba(158, 158, 158, 0.2);
}

nav ul.nav li label {
    display: block;
}

nav ul.nav li label i {
    margin-right: 48px;
    margin-left: -16px;
}

nav ul.nav li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

nav ul.nav li.active > a {
    background-color: transparent;
}

nav ul.nav li.active > a > .pull-right ng-md-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

nav ul.nav.nav-stacked a,
nav ul.nav.nav-stacked .nav-header {
    padding: 0 16px;
    line-height: 30px;
}

nav .nav-header {
    padding: 0 16px;
    line-height: 35px;
}

nav .nav-header:hover,
nav .nav-header:focus {
    background-color: transparent !important;
}

.nav-sub {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.nav-sub .md-ripple-container {
    display: none;
    visibility: hidden;
}

.active > .nav-sub {
    max-height: 999px;
}

.active > .nav-sub .md-ripple-container {
    display: block;
    visibility: visible;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.badge:empty {
    display: none;
}


blockquote.info_danger {
    padding: 8px;
    margin: 0 0 20px;
    margin-top: 5px;
    border-left: 5px solid silver;
}

/* TABS MODIFY STYLES */

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    background: #8f1656;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Red-theme md-ink-bar, md-tabs md-ink-bar {
    background: #F44336;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Pink-theme md-ink-bar, md-tabs md-ink-bar {
    background: #E91E63;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-altTheme-theme md-ink-bar, md-tabs md-ink-bar {
    background: #9C27B0;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-DeepPurple-theme md-ink-bar, md-tabs md-ink-bar {
    background: #673AB7;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Indigo-theme md-ink-bar, md-tabs md-ink-bar {
    background: #3F51B5;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Blue-theme md-ink-bar, md-tabs md-ink-bar {
    background: #2196F3;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-LightBlue-theme md-ink-bar, md-tabs md-ink-bar {
    background: #03A9F4;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Cyan-theme md-ink-bar, md-tabs md-ink-bar {
    background: #00BCD4;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}
md-tabs.md-Teal-theme md-ink-bar, md-tabs md-ink-bar {
    background: #009688;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}
md-tabs.md-Green-theme md-ink-bar, md-tabs md-ink-bar {
    background: #4CAF50;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}
md-tabs.md-LightGreen-theme md-ink-bar, md-tabs md-ink-bar {
    background: #8BC34A;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Lime-theme md-ink-bar, md-tabs md-ink-bar {
    background: #CDDC39;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Yellow-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FFEB3B;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Amber-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FFC107;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Orange-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FF9800;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-DeepOrange-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FF5722;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Brown-theme md-ink-bar, md-tabs md-ink-bar {
    background: #795548;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Grey-theme md-ink-bar, md-tabs md-ink-bar {
    background: #9E9E9E;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-BlueGrey-theme md-ink-bar, md-tabs md-ink-bar {
    background: #607D8B;
    height: 4px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

.box_1 {
    margin: 0px auto;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.box_1:hover {
    transform: rotate(360deg);

    border-radius: 50%;
}
.rotate_1 {
    transition: all 0.4s ease-in-out;
}
.rotate_1:hover {
    transition: all 0.4s ease-in-out;
}

.border_foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.border_foto_inscripcion {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.border_foto_inscripcion_reporte {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.border_inscrip {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.border_inscrip_padre {
    padding-right: 4px;
    border-right: 3px;
    border-right-color: silver;
    border-right-style: solid;
}

.menu-item-size{
    min-height: 35px;
    height: 35px;
}
/*md-input-container{
    margin: 12px 0;
}*/

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.text-center{
    text-align: center;
}

.foto-persona{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.border_foto_persona {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.cargando_fondo_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index:180;
    opacity:1;
    -moz-opacity: 10;
    filter: alpha(opacity=100);

}

.cargando_valores_modal {
    position: fixed;
    top: 40%;
    right: 18%;
    left: 18%;
    z-index:200;
    text-align: center;
}

.dd-incompleto{
    background: red; 
    color: white; 
    width: 12px; 
    height: 12px; 
    text-align:center; 
    border-radius: 50%; padding: 2px;
}
.dd-completo{
    background: green; 
    color: white; 
    width: 12px; 
    height: 12px; 
    text-align:center; 
    border-radius: 50%; padding: 2px;
}

a.pqm-link { 
    color: #3c80f6;
    text-decoration: none;
}

a.pqm-link:hover { 
    cursor: pointer;
    text-decoration: underline;
    color: #1E90FF;
}

a.pqm-link:active {
    color: #FF8C00;
    text-decoration: underline;
}
.foto-persona20 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*input[type=text] {
    border : 1px solid #CCCC99;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:3px;
    padding: 3pt;
}
input[type=text]:focus {
    -webkit-box-shadow: inset 1px 2px 2px #64CCFC;
    -moz-box-shadow: inset 1px 2px 2px #64CCFC;
    box-shadow:  2px 2px 2px #64CCFC;
}*/
/*
select {
    border : 1px solid silver;
    padding: .4em;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
select:focus {
    -webkit-box-shadow: inset 1px 2px 2px #64CCFC;
    -moz-box-shadow: inset 1px 2px 2px #64CCFC;
    box-shadow:  2px 2px 2px #64CCFC;


input[type=text] {
    border : 1px solid silver;
    padding: .4em;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
}*/

.min_md_menu_item{
    min-height: 40px;
    height: 40px;
}
.reprod_total{
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    background: #cccccc;
    color: #666666;
    border-radius: 50%;
}

.foto_interp_repr{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.truncate_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-autocomplete-suggestions li {
    line-height: 30px;
    height: 30px;
}

md-autocomplete[md-floating-label] {
    height: 70px;
}

.label-default {
    background-color: #777;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-success {
    background-color: #5cb85c;
}

.min_md_menu_item30{
    min-height: 30px;
    height: 30px;
}

@media (max-width: 959px) and (min-width: 0){
    .md_toolbar_precios {
        height: 90px;
        max-height: 90px;
    }
}

.b_color_left{
    border-left: 8px solid rgb(117,117,117);
}

.text_precios{
    width: 70px;
    padding: 4px;
    font-size: 14px;
    text-align: right;
}

.text_fcantidad{
    width: 70px;
    padding: 4px;
    font-size: 13px;
    text-align: right;
}

.text_flote{
    width: 70px;
    padding: 4px;
    font-size: 13px;
    text-align: center;
}

.text_ffecha_venc{
    width: 125px;
    padding: 4px;
    font-size: 13px;
    text-align: left;
}

.text_cod_barras{
    width: 120px;
    padding: 4px;
    font-size: 14px;
    text-align: center;
}

.text_cant_unid{
    width: 60px;
    padding: 4px;
    font-size: 14px;
    border: 0px;
}

.text_precio_entrada{
    width: 80px;
    padding: 4px;
    font-size: 14px;
    text-align: right;
    border: 0px;
}

.select_cant_unid{
    padding: 4px;
    font-size: 13px;
    border: 0px;
}


.form_radios_tipo_pers {
    display: inline-grid;
    margin-right: 12px;
    font-size: 15px;
}

.field_set_form{
    border-color: rgb(224,224,224);
    border-width: 2px;
    border-radius: 11px;
}

.size15{
    font-size: 15px;
}

.autocomplete-ubigeo li {
  border-bottom: 1px solid rgb(245,245,245);
}
.autocomplete-ubigeo li:last-child {
  border-bottom-width: 0;
}

.form_padres_ubigeo{
    color: rgb(117,117,117);
    font-size: 12px;
    padding-left: 3px;
}


.persona_auto_compl li {
  border-bottom: 1px solid #ccc;
  height: 30px !important;
  line-height: 32px !important;
  padding-top: 6px;
  padding-bottom: 6px;
  white-space: normal;
  flex-direction: row;
}
.persona_auto_compl li:last-child {
  border-bottom-width: 0;
}

.persona_auto_compl .item-title{
    display: block;
    line-height: 1;
    font-size: 14px;
}

.persona_auto_compl .item-imagen {
    height: 30px;
    width: 30px;
    float: left;
    padding-right: 4px;
    margin-left: -8px;
}

.persona_auto_compl .item-metadata {
  display: block;
  line-height: 1;
  font-size: 12px;
}


.tab_entfinal md-tabs-canvas {
    position: relative;
    overflow: hidden;
    display: block;
    height: 74px;
}
.tab_entfinal md-pagination-wrapper {
    height: 74px;
    display: block;
    transition: -webkit-transform .5s cubic-bezier(.35,0,.25,1);
    transition: transform .5s cubic-bezier(.35,0,.25,1);
    position: absolute;
    width: 999999px;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.tab_entfinal .md-tab {
    height: 74px;
    border: 1px solid #eee;
    border-bottom: 0px solid #cccccc;
    background: #FAFAFA;
}
.tab_entfinal .md-tab:first-child {
    border-right: 0px solid #eee;
}
.tab_entfinal .md-tab:last-child {
    border-left: 0px solid #eee;
}

.avatar-icon {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: -8px;
}

.avatar-pefil {
    width: 120px;
    border: 1px solid rgba(0,0,0,0.12);
}

.card_perfil {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 1px 0px rgba(0, 0, 0, 0), 
                0px 2px 1px -1px rgba(0, 0, 0, 0);
}

.border_button{
    border: 1px solid #FAFAFA;
}

.avatar-foto {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.avatar-foto20 {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.ani_titulo1 {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 40px auto;
    transform: rotate(45deg);
    animation-name: platzi-base;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }

  .ani_titulo2 {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 40px auto;
    transform: rotate(45deg);
    animation-name: platzi-base;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes platzi-base {
    0% {
      opacity: 0;
      transform: scale(.3) rotate(0deg);
    }
    30% {
      opacity: 1;
      transform: scale(.8) rotate(405deg);
    }
    80% {
      opacity: 1;
      transform: scale(.8) rotate(405deg);
    }
    100% {
      opacity: 0;
      transform: scale(.3) rotate(0deg);
    }
  }

  .eslogan_ani {
    /*transform: rotate(45deg);*/
    animation-name: eslogan;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  @keyframes eslogan {
    0% {
      opacity: 0;
      transform: scale(.3) rotate(0deg);
    }
    10% {
      opacity: 1;
      transform: scale(.8) rotate(0deg);
    }
    85% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
    90% {
      opacity: 0.5;
      transform: scale(1) rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: scale(.3) rotate(0deg);
    }
  }

.move_ops{
    color: rgb(158,158,158);
}

.move_ops:hover {
    color: rgb(117,117,117);
}

.but_move_options{
    padding: 0px;
    margin: 0px;
    width: 25px;
    margin-right: 14px;
    margin-left: -39px;
    margin-top: 14px;
}

.title_login::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 4px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.title_login::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 8px;
    background: #ffc107;
    bottom: 0;
    left: calc(50% - 20px);
}

.estilizado{
  display: inline-block;
  position: relative
}

.estilizado::after, .estilizado::before {
    border-bottom: 1px solid white;
    bottom: 50%;
    content: "";
    margin: 0 10px;
    position: absolute;
    width: 40px;
}

.estilizado::before {
    left: -60px;
}

.estilizado::after {
    right: -60px;
}

.tooltip_login {
    background-color: rgb(33, 150, 243);
    position: relative;
    display: inline-block;
    padding: 1em 3em;
    color: white;
    font-size: 1.2em;
    /*border-top: 1px solid rgb(238,238,238);*/
    margin-bottom: -8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);

}
 
.tooltip_login::after {
    border-top: 15px solid rgb(33, 150, 243);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 1em;
}

.error{
    color: rgb(221,44,0);
    font-size: 12px;
}

.more_options{
    margin-top: 18px;
    margin-left: -20px;
    margin-right: -14px;
}


.completo_si {
    background-color: #0af10a;    
}

.completo_no {
    background-color: rgb(224,224,224);
}


 /* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  border: 1px solid #c1c1c1;
  position: absolute;
  top: -2px;
  left: 0;
  height: 24px;
  width: 25px;
  background-color: #fafafa;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.field_set_cont {
    border-color: rgb(250, 250, 250);
    border-width: 1px;
}
.card_hover{
    margin: 2px;box-shadow: none;border: 1px solid #bfbfbf;
}


.print_recibo {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.print_recibo-cab {
    color: #656565;
    background-color: #fafafa;
    border-color: silver;
}

.print_rec_det {
    padding: 15px;
    margin-top: -1px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 0 0 4px 4px;
}

.print_rec_det-desc {
    color: #656565;
    background-color: white;
    border-color: silver;
}

.sn_margin{
    width: 100%;
    margin: -9px;
}

.sn_margin_top{
    width: 100%;
    margin: 0px 0 -9px 0;
}
.sn_margin_bottom{
    width: 100%;
    margin: -9px 0 0 0;
}

.pag_anulado{
    color: #c71d1d;
}