.perfil-head {
	height: 300px;
    min-height: 300px;
    max-height: 300px;
    background: url(fondoperfil.jpg) 0 45%/cover no-repeat;
}

.perfil-head .logo{
	width: 130px;
    border: 2px solid rgba(0,0,0,0.12);
}

.perfil_btn_edit{
	text-transform: none;
    font-size: 16px;
    font-weight: 500;
}


.btn_efec {
  position: relative;
  cursor: pointer;
  display: block;
  padding: 0;
  overflow: hidden;  
  transition: background-color .3s;
}

.btn_imagen:hover{
	opacity: 0.5;
	border-color: black;
	cursor: pointer;
}

.btn_efec:hover, .btn_efec:focus {
  background-color: #27ae60;
}

.btn_efec > * {
  position: relative;
}

.btn_efec span {
  display: block;
  padding: 12px 24px;
}

.btn_efec:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn_efec:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
