body, h1, h2, h3, h4, h5, h6, span, head, p{
	padding: 0;
	margin:  0;
	font-size: 100%;
}

body{
	font: 90% Verdana, Geneva, sans-serif;
}

.div_center{
	width: 100%;
	text-align: center;
}
.div_left{
	width: 100%;
	text-align: left;
}

.sn_margin{
    width: 100%;
    margin: -9px 0 -9px 0;
    font-size: 1.5em;
}

.sn_margin_top{
    width: 100%;
    margin: 0px 0 -9px 0;
    font-size: 1.5em;
}
.sn_margin_bottom{
    width: 100%;
    margin: -9px 0 0 0;
    font-size: 1.5em;
}
.al_center{
	text-align: center;
}
/*h1{
	font: normal 2.4em Verdana, Geneva, sans-serif;
	background: -webkit-linear-gradient(top, #00F, #0CF);
	color: white;
	margin: 15px auto;
	width: 40%;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
	box-shadow: #00F 5px 5px 7px;
	text-shadow: white 2px 2px 3px;
}

h2{
	font: bold 1.6em Verdana, Geneva, sans-serif;
}*/