BODY  {
    font : normal 10pt Arial, Helvetica, sans-serif;
}

TABLE  {
    font : normal 10pt Arial, Helvetica, sans-serif;
}

table.caja
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    text-align : center;    
    border: 1px solid #000000;
    font : normal 8pt Arial, Helvetica, sans-serif;
}

TD  {
    font-size: 11px;
    color:Black;
}

TH  {
    color : Black;
    border : 1px solid Black ;
    font-size: 11px;
    padding : 1px;

}

H1  {
    font-size : 16pt;
    font-family : Arial;
}

H2  {
    font-size : 12pt;
    font-family : Arial;
}


table.reporte {
    background-color: #FFFFFF;
    /*PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px; */
    /* border: 1px solid #707070;*/
    border-collapse: collapse;
    font : normal 8pt Arial, Helvetica, sans-serif;
}

table.reporte th {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    font-weight: bold;
    font-size: 8px;
    border: 1px solid #000000;
    font : normal 8pt Arial, Helvetica, sans-serif;
}
table.reporte td {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    /*PADDING-TOP: 2px;
    PADDING-BOTTOM: 2px;*/
    border: 0px solid white;
    font : normal 8pt Arial, Helvetica, sans-serif;
}

/*reporte 2*/
table.reporte2 {
    background-color: #FFFFFF;
    /*PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px; */
    border: 0px solid #000000;
    border-collapse: collapse;
    font : normal 8pt Arial, Helvetica, sans-serif;
}

table.reporte2 th {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    font-weight: bold;
    font-size: 8px;
    border: 0px solid #000000;
    font : normal 8pt Arial, Helvetica, sans-serif;
}
table.reporte2 td {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    /*PADDING-TOP: 2px;
    PADDING-BOTTOM: 2px;*/
    border: 0px solid #000000;
    font : normal 8pt Arial, Helvetica, sans-serif;
}
/*reporte 3*/
table.reporte3 {
    background-color: #FFFFFF;
    /*PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px; */
    border: 1px solid #000000;
    border-collapse: collapse;
    font : normal 8pt Arial, Helvetica, sans-serif;
}

table.reporte3 th {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    font-weight: bold;
    font-size: 8px;
    border: 1px solid #000000;
    font : normal 8pt Arial, Helvetica, sans-serif;
}
table.reporte3 td {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    /*PADDING-TOP: 2px;
    PADDING-BOTTOM: 2px;*/
    border: 1px solid #000000;
    font : normal 8pt Arial, Helvetica, sans-serif;
}
.borde_td {
    border : 1px solid black;
}
.borde_th {
    border : 1px solid #707070;
}
.borde_total {
    background : white ; 
    color : Black;
    border : 1px solid Black ;
    font : 8pt Arial, Helvetica, sans-serif;
    padding : 1px;
}
.borde_total_2 {
    background : #999999 ; 
    color : #999999;
    border : 1px solid #999999 ;
    font : 8pt Arial, Helvetica, sans-serif;
    padding : 1px;
}
/*reporte 2*/
table.reporte_normal {
    /*PADDING-RIGHT: 10px;
     PADDING-LEFT: 10px;
     PADDING-BOTTOM: 10px;
     PADDING-TOP: 10px; */
    border: 1px solid #000000;
    border-collapse: collapse;
    font : normal 8pt Arial, Helvetica, sans-serif;
}

table.reporte_normal th {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    font-weight: bold;
    font-size: 8px;
    border: 1px solid #000000;
    font : normal bold 8pt Arial, Helvetica, sans-serif;
}
table.reporte_normal td {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    border: 1px solid #000000;
    font : normal 8pt Arial, Helvetica, sans-serif;
}


/* TABLA REPORTE_GR*/
/*reporte 2*/
table.reporte_gr {
    background-color: #FFFFFF;
    /*PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px; */
    border: 0px solid #000000;
    border-collapse: collapse;
    font : normal 9pt Arial, Helvetica, sans-serif;
}

table.reporte_gr th {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    font-weight: bold;
    font-size: 8px;
    border: 0px solid #000000;
    font : normal 9pt Arial, Helvetica, sans-serif;
}
table.reporte_gr td {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    /*PADDING-TOP: 2px;
    PADDING-BOTTOM: 2px;*/
    border: 0px solid #000000;
    font : normal 9pt Arial, Helvetica, sans-serif;
}

hr.num1 {
    margin: 1px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white;

}
hr.num2 {
    margin: 2px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white;
}
hr.num3 {
    margin: 3px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white;
}
hr.num6 {
    margin: 6px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white;
}
.titulo_gen {
    padding: 3px;
    font-size: 12px;
    color: #243B0B;
}
table.reporte_persy {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-collapse: collapse;
    font : normal 9pt Arial, Helvetica, sans-serif;
}

table.reporte_persy th {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    font-weight: bold;
    font-size: 9px;
    border: 1px solid #000000;
    font : normal 9pt Arial, Helvetica, sans-serif;
}
table.reporte_persy td {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    border: 1px solid #000000;
    font : normal 9pt Arial, Helvetica, sans-serif;
}

td.ent_proveedor{
    font-size: 15px;
    font-weight: bold;
}

td.ent_direccion{
    font-size: 9px;
}

td.ent_serie_numero{
    font-size: 13px;
}


/*reporte 2*/
table.reporte_detalles {
    /*PADDING-RIGHT: 10px;
     PADDING-LEFT: 10px;
     PADDING-BOTTOM: 10px;
     PADDING-TOP: 10px; */
    border: 1px solid #000000;
    border-collapse: collapse;
    font : normal 9pt Arial, Helvetica, sans-serif;
}

table.reporte_detalles th {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    font-weight: bold;
    border: 1px solid #000000;
    font : normal bold 9pt Arial, Helvetica, sans-serif;
    background: #FAFAFA;
}
table.reporte_detalles td {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    border-right: 1px solid #000000;
    font : normal 9pt Arial, Helvetica, sans-serif;
}

table.reporte_detalles td.border_top_bottom {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.text_total{
    font-size: 15px;
    font-weight: bold;
}


table.reporte_7{
    border-collapse: collapse;
    font : normal 7pt Arial, Helvetica, sans-serif;
}

table.reporte_7 th {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    font-weight: bold;
    font-size: 8px;
    border: 1px solid #000000;
    font : normal 7pt Arial, Helvetica, sans-serif;
}
table.reporte_7 td {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    border: 0px solid white;
    font : normal 7pt Arial, Helvetica, sans-serif;
}