/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/10/2017, 06:02:44 PM
    Author     : Quiroz
*/

.height_dinamic_reprod{
    min-height: calc(100% - 405px);
    max-height: calc(100% - 405px);
}

.sn_margin{
    width: 100%;
    margin: -9px;
}