@media screen and (max-width: 249px) {
    .size_list_reprod {
        min-width: 100%;
    }
    #size_regular2 {
        min-width: 100%;
    }
    #size_generic {
        position: fixed;
        /*top: 0%;*/
        right: 0%;
        left: 0%;
        width: 100%;
        max-height: 100%; 
        max-width: 100%;
    }
    #size_regular2_sc {
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
        width: 100%;
        max-height: 100%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
        width: 100%;
        max-height: 100%; 
    }
}

@media screen and (min-width: 250px) and (max-width: 299px) {
    .size_list_reprod {
        min-width: 99%;
    }
    #size_regular2 {
        min-width: 99%;
    }
    #size_generic {
        position: fixed;
        /*top: 0%;*/
        right: 0%;
        left: 0%;
        width: 100%;
        max-height: 100%; 
        max-width: 100%;
    }

    #size_generic_media {
        position: fixed;
        /*top: 0%;*/
        right: 0%;
        left: 0%;
        width: 100%;
        max-height: 100%; 
        max-width: 100%;
    }

    #size_regular2_sc {
        position: fixed;
        top: 1%;
        right: 2%;
        left: 2%;
        width: 96%;
        max-height: 98%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 1%;
        right: 2%;
        left: 2%;
        width: 96%;
        max-height: 98%; 
    }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
    .size_list_reprod {
        min-width: 99%;
    }
    #size_regular2 {
        min-width: 99%;
    }
    #size_generic {
        position: fixed;
        /*top: 0%;*/
        right: 0%;
        left: 0%;
        width: 100%;
        max-height: 100%; 
        max-width: 100%;
    }
    #size_generic_media {
        position: fixed;
        /*top: 0%;*/
        right: 0%;
        left: 0%;
        width: 100%;
        max-height: 100%; 
        max-width: 100%;
    }

    #size_regular2_sc {
        position: fixed;
        top: 2%;
        right: 5%;
        left: 5%;
        width: 90%;
        max-height: 96%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 2%;
        right: 5%;
        left: 5%;
        width: 90%;
        max-height: 96%; 
    }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
    .size_list_reprod {
        min-width: 99%;
    }
    #size_regular2 {
        min-width: 99%;
    }
    #size_generic {
        position: fixed;
        /*top: 0%;*/
        right: 8%;
        left: 8%;
        /*width: 100%;*/
        /*max-height: 100%; */
        /*max-width: 100%;*/
    }
    #size_generic_media {
        position: fixed;
        width: 92%;
        min-width: 92%;
        right: 4%;
        left: 4%;
    }
    #size_regular2_sc {
        position: fixed;
        top: 2%;
        right: 8%;
        left: 8%;
        width: 84%;
        max-height: 96%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 2%;
        right: 8%;
        left: 8%;
        width: 84%;
        max-height: 96%; 
    }
}

@media screen and (max-width: 599px) {
    .text-center-xs{
        text-align: center;
    }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
    .size_list_reprod {
        min-width: 95%;
    }
    #size_regular2 {
        min-width: 95%;
    }
    #size_generic {
        position: fixed;
        /*top: 0%;*/
        right: 10%;
        left: 10%;
        /*width: 100%;*/
        max-height: 100%; 
        /*max-width: 100%;*/
    }

    #size_generic_media {
        position: fixed;
        right: 3%;
        left: 3%;
        width: 94%;
        min-width: 94%;
        max-height: 100%; 
    }

    #size_regular2 {
        width: 90%;
    }

    #size_regular2_sc {
        position: fixed;
        top: 2%;
        right: 13%;
        left: 13%;
        width: 74%;
        max-height: 96%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 2%;
        right: 13%;
        left: 13%;
        width: 74%;
        max-height: 96%; 
    }
}
@media screen and (min-width: 600px) and (max-width: 699px) {
    #size_regular2 {
        min-width: 90%;
    }
    #size_generic {
        position: fixed;
        /*top: 4%;*/
        right: 10%;
        left: 10%;
        /*width: 80%;*/
        max-height: 92%; 
    }

    #size_generic_media {
        position: fixed;
        right: 5%;
        left: 5%;
        width: 90%;
        min-width: 90%;
        max-height: 92%; 
    }

    #size_regular2_sc {
        position: fixed;
        top: 4%;
        right: 2%;
        left: 2%;
        width: 96%;
        max-height: 92%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 4%;
        right: 2%;
        left: 2%;
        width: 96%;
        max-height: 92%; 
    }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
    #size_regular2 {
        min-width: 90%;
    }
    #size_generic {
        position: fixed;
        /*top: 4%;*/
        right: 15%;
        left: 15%;
        /*width: 76%;*/
        max-height: 92%; 
    }

    #size_generic_media {
        position: fixed;
        right: 10%;
        left: 10%;
        max-height: 92%; 
    }

    #size_regular2_sc {
        position: fixed;
        top: 4%;
        right: 3%;
        left: 3%;
        width: 94%;
        max-height: 92%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 4%;
        right: 3%;
        left: 3%;
        width: 94%;
        max-height: 92%; 
    }
}

@media screen and (min-width: 800px) and (max-width: 959px) {
    #size_regular2 {
        min-width: 85%;
    }
    #size_generic {
        position: fixed;
        /*top: 4%;*/
        right: 20%;
        left: 20%;
        /*width: 70%;*/
        max-height: 92%; 
    }

    #size_generic_media {
        position: fixed;
        right: 15%;
        left: 15%;
        max-height: 92%; 
    }

    #size_regular2_sc {
        position: fixed;
        top: 4%;
        right: 8%;
        left: 8%;
        width: 84%;
        max-height: 92%; 
    }
    .size_regular2_sc {
        position: fixed;
        top: 4%;
        right: 8%;
        left: 8%;
        width: 84%;
        max-height: 92%; 
    }
} 

@media screen and (min-width: 960px) and (max-width: 1099px) {
    #size_generic {
        position: fixed;
        /*top: 4%;*/
        right: 25%;
        left: 25%;
        /*width: 60%;*/
        max-height: 92%; 
    }

    #size_generic_media {
        position: fixed;
        right: 20%;
        left: 20%;
        max-height: 92%; 
    }

    #size_regular2 {
        position: fixed;
        top: 4%;
        right: 11%;
        left: 11%;
        width: 78%;
        max-height: 92%; 
    }
    .size_regular2 {
        position: fixed;
        top: 4%;
        right: 11%;
        left: 11%;
        width: 78%;
        max-height: 92%; 
    }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
    #size_generic {
        position: fixed;
        /*top: 4%;*/
        right: 33%;
        left: 33%;
        /*width: 60%;*/
        max-height: 92%; 
    }
    #size_generic_media {
        position: fixed;
        right: 28%;
        left: 28%;
        max-height: 92%; 
    }
    #size_regular2 {
        position: fixed;
        top: 4%;
        right: 14%;
        left: 14%;
        width: 72%;
        max-height: 92%; 
    }
    .size_regular2 {
        position: fixed;
        top: 4%;
        right: 14%;
        left: 14%;
        width: 72%;
        max-height: 92%; 
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #size_generic {
        position: fixed;
        right: 30%;
        left: 30%;
        max-height: 92%; 
    }
    #size_generic_media {
        position: fixed;
        right: 30%;
        left: 30%;
        max-height: 92%; 
    }
    #size_regular2 {
        position: fixed;
        top: 4%;
        right: 17%;
        left: 17%;
        width: 66%;
        max-height: 92%; 
    }
    .size_regular2 {
        position: fixed;
        top: 4%;
        right: 17%;
        left: 17%;
        width: 66%;
        max-height: 92%; 
    }
}

@media screen and (min-width: 1400px) and (max-width: 1499px) {
    #size_generic {
        position: fixed;
        right: 36%;
        left: 36%;
        max-height: 92%; 
    }
    #size_generic_media {
        position: fixed;
        right: 32%;
        left: 32%;
        max-height: 92%; 
    }
    #size_regular2 {
        position: fixed;
        top: 4%;
        right: 22%;
        left: 22%;
        width: 56%;
        max-height: 92%; 
    }
    .size_regular2 {
        position: fixed;
        top: 4%;
        right: 22%;
        left: 22%;
        width: 56%;
        max-height: 92%; 
    }
}

#size_regular_cropper {
    position: fixed;
    top: 4%;
    right: 11%;
    left: 11%;
    width: 78%;
    max-height: 92%; 
}

@media screen and (max-width: 960px) {
    #size_regular_cropper {
       position: fixed;
        top: 6%;
        right: 1%;
        left: 1%;
        width: 98%;
        max-height: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    #size_generic {
        position: fixed;
        right: 38%;
        left: 38%;
        max-height: 92%; 
    }
    #size_generic_media {
        position: fixed;
        right: 35%;
        left: 35%;
        max-height: 92%; 
    }
    #size_regular2 {
        position: fixed;
        top: 5%;
        right: 23%;
        left: 23%;
        width: 54%;
        max-height: 92%; 
    }
    .size_regular2 {
        position: fixed;
        top: 5%;
        right: 23%;
        left: 23%;
        width: 54%;
        max-height: 92%; 
    }
}

.size_modal_100 {
    position: fixed;
    top: 9%;
    right: 0%;
    left: 0%;
    bottom: 0%;
}

.span_avance_linea{
    margin-top: 16px;
}

.card_album_play {
    margin: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    padding: 4px;
}