<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_generic">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="mood" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span><b>usuario</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout="row" flex>
                    <md-autocomplete 
                        flex
                        md-input-name="persona_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.persona"
                        md-search-text="searchTextPE"
                        md-items="item in form.BuscarPersona(searchTextPE)"
                        md-item-text="item.nombre_completo"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="{{form.obj.to_titulo_persona||'Persona'}}"
                        required  
                        md-autofocus
                        md-menu-class="persona_auto_compl"
                        >
                        <md-item-template>
                            <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                              <span class="item-title">
                                {{item.nombre_completo}}
                              </span>
                              <span class="item-metadata">
                                <span ng-repeat="p in item.persona_persona_documentos">
                                  {{p.tipo_documento.nombre}}: {{p.numero}}
                                </span>
                              </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <span ng-if="form.obj.persona.persona_persona_documentos" class="form_padres_ubigeo">
                            <span ng-repeat="p in form.obj.persona.persona_persona_documentos">
                                  {{p.tipo_documento.nombre}}: {{p.numero}}
                            </span>
                        </span>
                        <div ng-messages="myform.persona_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                            <div ng-message="required">La persona es requerida</div>
                        </div>
                    </md-autocomplete>
                    <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                        <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                            <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item class="min_md_menu_item30">
                                <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
                            </md-menu-item>
                            <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                                <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Nombre de usuario</label>
                        <input ng-model="form.obj.username" md-maxlength="60" name="username" required minlength="5" />
                        <div ng-messages="myform.username.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            <div ng-message="minlength" class="my-message">Tamaño mínimo 5 caracteres</div>
                        </div>
                    </md-input-container>
                </div>
               <!--  <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Correo</label>
                        <input type="email" ng-model="form.obj.email" name="email" required />
                        <div ng-messages="myform.email.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="email" class="my-message">Debe ser un correo electrónico</div>
                        </div>
                    </md-input-container>
                </div> -->
                <div layout-gt-xs="row" flex>
                    <md-input-container ng-if="!form.obj.id" class="md-block" flex-gt-xs flex>
                        <label>Contraseña</label>
                        <input type="password" ng-model="form.obj.password" name="password" required md-maxlength="60" minlength="5"/>
                        <div ng-messages="myform.password.$error" role="alert" multiple >
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                            <div ng-message="minlength" class="my-message">Mínimo de caracteres 5</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-switch flex ng-model="form.obj.is_active" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.is_active === '1'">Activo</span>
                        <span class="label label-default" ng-if="form.obj.is_active === '0'">Desactivo</span>
                    </md-switch>
                    <md-switch flex ng-model="form.obj.is_staff" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.is_staff === '1'">Es staff</span>
                        <span class="label label-default" ng-if="form.obj.is_staff === '0'">No staff</span>
                    </md-switch>
                    <md-switch flex ng-model="form.obj.is_superuser" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-primary">
                        <span class="label label-success" ng-if="form.obj.is_superuser === '1'">Superusuario</span>
                        <span class="label label-default" ng-if="form.obj.is_superuser === '0'">No Super</span>
                    </md-switch>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>