
 <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'>Usuarios</span>
                <span class="md-caption">Listado de usuarios con acceso al sistema</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-hue-2" ng-click="ctrl.listar()" aria-label="close">
                <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                <md-tooltip>Actualizar lista</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.new_edit($event, null)" aria-label="close">
                    <ng-md-icon icon="add" aria-label="close"></ng-md-icon>
                    <md-tooltip>Nuevo usuario</md-tooltip>
                </md-button>
                <span flex></span>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input autocomplete="off" type="text" name="busqueda" ng-model="ctrl.search" maxlength="70" placeholder="Búsqueda" ng-keyup="ctrl.listar_por()"/>
                </md-input-container>
            </md-card-actions>
            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%">
                    <tr style="background: #eee">
                        <th align="center">N°</th>
                        <th align="center">Foto</th>
                        <th align="left">Nombre completo</th>
                        <th align="left">Usuario</th>
                        <th align="left">SupU</th> 
                        <th align="left">Último acceso Django</th>
                        <th align="center">Contraseña</th> 
                        <th align="center">Roles/Entidades</th>
                        <th align="center">Permisos</th> 
                        <th align="center">Estado</th> 
                        <th align="center">Creado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White" 
                        onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <td align="center">{{ $index + 1}}</td>
                        <td align="center">
                            <img ng-if="p.persona.foto_logo_rec" ng-click="ctrl.viewfoto($event, p.persona)" ng-src="{{p.persona.foto_logo_rec}}" class="avatar-foto" alt="">
                        </td>
                        <td align="left">{{ p.persona.nombre_completo}}</td>
                        <td align="left">{{ p.username}}</td>
                        <td align="center">
                            <span title="Super usuario" class="label label-success" ng-if="p.is_superuser">SI</span>
                        </td>
                        <td align="left">{{ p.last_login | date:'medium'}}</td>
                        <td align="center">
                            <a title="Cambiar contraseña" class="pqm-link" ng-click="ctrl.changepass($event, p)">&#172; Cambiar</a>
                        </td>
                        <td align="center">
                            <a class="pqm-link" ng-click="ctrl.roles($event, p)">Rol/Entid ({{p.groups.length}}/{{p.entidades.length}})</a>
                        </td>
                        <td align="center">
                            <a class="pqm-link" ng-click="ctrl.permisos($event, p)">Permisos ({{p.user_permissions.length}})</a>
                        </td>
                        <td align="center">
                            <span class="label label-success" ng-if="p.is_active">Activo</span>
                            <span class="label label-default" ng-if="!p.is_active">Desactivo</span>
                        </td>
                        <td align="center"><span class="md-caption">{{ p.date_joined | date:'medium'}}</span></td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.new_edit($event, p)">Editar</a>
                        </td>
                        <td align="center" width="10">
                            <a class="pqm-link" ng-click="ctrl.delete($event, p)">Eliminar</a>
                        </td>
                   </tr>
                </table>
            </div>
        </div>
    </div>
    <section  class="md-padding" layout-gt-xs="row" layout-align="center center">
        <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
            <md-input-container>
                <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
                           required ng-change="ctrl.listar_por()" aria-label="s">
                    <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
        <cl-paging 
            cl-pages="ctrl.paging.last_page"
            cl-steps="5"
            cl-page-changed="ctrl.paging.onPageChanged()"
            cl-align="start start"
            cl-current-page="ctrl.paging.current_page">
        </cl-paging>
    </section>

    <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
