<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="how_to_reg" aria-label="s"></ng-md-icon>
                    <span>Permisos por usuario</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout="row" flex>
                    <div flex layout="column">
                        <span class="md-subhead" >Nombre completo: <b>{{form.obj.persona.nombre_completo}}</b></span>
                    </div>
                    <!-- <md-menu ng-if="form.new_entidades().length > 0" md-position-mode="target-right target" md-offset="0 44">
                        <md-button style="margin-left: 0px; margin-right: 0px;" class="md-icon-button md-raised md-primary" aria-label="close" ng-click="$mdMenu.open($event)">
                            <ng-md-icon icon="add" aria-label="a"></ng-md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item class="min_md_menu_item30" ng-repeat="p in form.new_entidades()">
                                <md-button ng-click="form.add_entidad(p)">{{p.tipo_entidad.nombre}}: {{p.persona.nombre_completo}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu> -->
                </div>
                <br>
                <div layout="row">
                    <div class="table-responsive">
                        <table align="center" class="basic table-bordered" width="100%">
                            <tr ng-repeat-end style="font-size: 16px;">
                                <td>
                                    <md-input-container class="md-block" flex>
                                        <label>Permisos</label>
                                        <md-chips ng-model="form.obj.permisos" md-autofocus  md-require-match="true">
                                          <md-autocomplete
                                              md-autofocus
                                              md-search-text="searchPermi"
                                              md-items="item in form.BuscarPermisos(searchPermi, form.obj.permisos)"
                                              md-item-text="item.name"
                                              md-min-length="0"
                                              md-no-cache="true"
                                              placeholder="Buscar permisos">
                                            <span md-highlight-text="searchPermi">{{item.codename}} ({{item.name}})</span>
                                          </md-autocomplete>
                                          <md-chip-template>
                                            <span>
                                                <strong>{{$chip.codename}}</strong>
                                                <em>({{$chip.name}})</em>
                                            </span>
                                          </md-chip-template>
                                        </md-chips>
                                    </md-input-container>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> Guardar
            </md-button>
        </md-dialog-actions>
    </form>
    <style type="text/css">
        .md-virtual-repeat-container.md-autocomplete-suggestions-container {
             width:350px !important;
        }
    </style>
</md-dialog>