<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="how_to_reg" aria-label="s"></ng-md-icon>
                    <span>Roles por usuario</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout="row" flex>
                    <div flex layout="column">
                        <span class="md-subhead" >Nombre completo: <b>{{form.obj.persona.nombre_completo}}</b></span>
                    </div>
                </div>
                <br>
                <div layout="row">
                    <div class="table-responsive">
                        <table align="center" class="basic table-bordered" width="100%">
                            <tr style="font-size: 16px;">
                                <td>
                                     <md-input-container class="md-block" flex>
                                        <label>Roles</label>
                                        <md-chips ng-model="form.obj.roles" md-require-match="true">
                                          <md-autocomplete
                                              md-search-text="searchRol"
                                              md-items="item in form.BuscarRoles(searchRol, form.obj.roles)"
                                              md-item-text="item.name"
                                              md-min-length="0"
                                              md-no-cache="true"
                                              placeholder="Buscar roles">
                                            <span md-highlight-text="searchRol">{{item.name}}</span>
                                          </md-autocomplete>
                                          <md-chip-template>
                                            <span>{{$chip.name}}</span>
                                          </md-chip-template>
                                        </md-chips>
                                    </md-input-container>
                                </td>
                            </tr>
                            <tr style="font-size: 16px;">
                                <td>
                                     <md-input-container class="md-block" flex>
                                        <label>Entidades</label>
                                        <md-chips ng-model="form.obj.entidades" md-require-match="true">
                                          <md-autocomplete
                                              md-search-text="searchEntidad"
                                              md-items="item in form.BuscarEntidades(searchEntidad, form.obj.entidades)"
                                              md-item-text="item.persona.nombre_completo"
                                              md-min-length="0"
                                              md-no-cache="true"
                                              placeholder="Buscar entidades">
                                            <span md-highlight-text="searchEntidad">{{item.persona.nombre_completo}}</span>
                                          </md-autocomplete>
                                          <md-chip-template>
                                            <span>{{$chip.persona.nombre_completo}}</span>
                                          </md-chip-template>
                                        </md-chips>
                                    </md-input-container>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> Guardar
            </md-button>
        </md-dialog-actions>
    </form>
    <style type="text/css">
        md-virtual-repeat-container{
            width: 50%;
            min-width: 50%;
        }
    </style>
</md-dialog>