
<div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'>Asistencias</span>
                <span class="md-caption">Listado de asistencias</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-hue-2" ng-click="ctrl.listar()" aria-label="close">
                <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                <md-tooltip>Actualizar lista</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding" flex="100">
        <div layout="column" flex="100">
            <md-card-actions layout="row">
                <md-button class="md-icon-button md-primary md-raised" ng-click="ctrl.listar()" aria-label="close">
                    <ng-md-icon icon="refresh" aria-label="close"></ng-md-icon>
                    <md-tooltip>Actualizar lista</md-tooltip>
                </md-button>
                <span flex></span>
                <md-input-container flex md-no-float class="md-block" style="margin-bottom: -10px;">
                    <md-icon md-svg-src="recursos/iconos/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
                    <input type="text" name="busqueda" ng-model="ctrl.search" maxlength="70" placeholder="Buscar persona" ng-keyup="ctrl.listar_por()" autocomplete="off" />
                </md-input-container>
            </md-card-actions>
            <div class="table-responsive">
                <table align="center" class="basic table-bordered" width="100%" style="font-size: 12px;">
                    <tr style="background: #eee">
                        <th align="center" width="20">#</th>
                        <th align="center" width="20">Foto</th>
                        <th align="center" width="250"> Persona</th>
                        <th align="left">Documento/Número</th>
                        <th align="center" width="40">Deuda</th>
                        <th align="center" width="40">Saldo</th>
                        <th align="center" width="100">EC</th>
                    </tr>
                    <tr ng-repeat="p in ctrl.listado" bgcolor="White"
                    onmouseover="this.style.backgroundColor = 'yellow';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                    <td align="center" height="20">{{ $index+1}}</td>
                    <td align="center">
                        <img ng-if="p.persona.foto_logo_rec" ng-click="ctrl.viewfoto($event, p)" ng-src="{{p.persona.foto_logo_rec}}" class="avatar-foto20" alt="Logo">
                    </td>
                    <td align="left">{{ p.persona.nombre_completo}}</td>
                    <td align="left"><span ng-if="p.persona.persona_persona_documentos.length>0">{{ p.persona.persona_persona_documentos[0].tipo_documento.nombre}}: {{p.persona.persona_persona_documentos[0].numero}}</span></td>
                    <td align="right">{{ p.deuda|currency:""}}</td>
                    <td align="right">{{ p.saldo|currency:""}}</td>
                    <td align="center">
                       <!--  <a class="pqm-link" ng-click="ctrl.estadocuenta($event, p)">Estado cuenta</a> -->
                        <md-button type="button" ng-click="ctrl.movimientos($event, p.persona)" class="md-raised md-primary" style="box-shadow: none;text-transform: none;margin: 0px 0px;min-width: 40px;min-height: 25px !important;line-height: 22px; letter-spacing: 0px;"><ng-md-icon icon="receipt" aria-label="s"></ng-md-icon>Asistencias</md-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<section  class="md-padding" layout-gt-xs="row" layout-align="center center">
    <div>
        <span class="md-caption" style="color: rgb(117,117,117);">Filas por página:</span>
        <md-input-container>
            <md-select name="ctrl.nro_por_pagina" ng-model="ctrl.paging.per_page"
            required ng-change="ctrl.listar_por()" aria-label="s">
            <md-option ng-repeat="p in ctrl.list_per_pagina" ng-value="p">{{p}}</md-option>
        </md-select>
    </md-input-container>
</div>
<span class="md-caption" flex style="color: rgb(117,117,117);">Del {{ctrl.pagination.from}} al {{ctrl.pagination.to}} de {{ctrl.pagination.total}} registros</span>
<cl-paging
cl-pages="ctrl.paging.last_page"
cl-steps="5"
cl-page-changed="ctrl.paging.onPageChanged()"
cl-align="start start"
cl-current-page="ctrl.paging.current_page">
</cl-paging>
</section>

<pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
