<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}" id="size_regular2">
    <form name='myform' autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <ng-md-icon icon="assistant_photo" aria-label="s"></ng-md-icon>
                    <span ng-if="form.obj_.id">Editar</span>
                    <span ng-if="!form.obj_.id">Nuevo</span>
                    <span><b>Cronograma cobranza</b></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="form.cancel()">
                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!form.cargado">
                <center><p><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular></p></center>
            </div>
            <div class="md-dialog-content" ng-if="form.cargado">
                <div layout-gt-xs="row" flex>
                    <md-autocomplete 
                        flex-gt-xs="33"
                        md-input-name="motivo_movimiento_cuenta_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.motivo_movimiento_cuenta"
                        md-search-text="searchTexts"
                        md-items="item in form.BuscarMotivoMovCuenta(searchTexts)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Motivo movimiento"
                        md-autofocus
                        required
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTexts">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.motivo_movimiento_cuenta_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                    <img style="width: 65px; height: 65px; background: #fafafa;" ng-src="{{form.storage+form.obj.persona.foto_logo_rec||''}}" alt=""/>
                    <md-autocomplete 
                        flex
                        md-input-name="persona_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.persona"
                        md-search-text="searchText"
                        md-selected-item-change="form.change_persona()"
                        md-items="item in form.BuscarPersona(searchText)"
                        md-item-text="item.nombre_completo"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Nombre de persona"
                        required
                        md-menu-class="persona_auto_compl"
                        >
                        <md-item-template>
                            <img class="item-imagen" ng-src="{{form.storage+item.foto_logo_rec||''}}" alt=""/>
                            <span md-highlight-text="searchText">
                                {{item.nombre_completo}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.persona_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                    <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44">
                        <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
                            <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item class="min_md_menu_item30">
                                <md-button ng-click="form.form_persona($event,null)">Registrar nuevo</md-button>
                            </md-menu-item>
                            <md-menu-item class="min_md_menu_item30" ng-if="form.obj.persona">
                                <md-button ng-click="form.form_persona($event, form.obj.persona)">Editar datos</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Descripción</label>
                        <input ng-model="form.obj.descripcion" md-maxlength="30" name="descripcion"/>
                        <div ng-messages="myform.descripcion.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container> 
                </div>
                <div layout-gt-xs="row" flex>                                   
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Fecha de cobranza</label>
                        <input type="date" ng-model="form.obj.fecha_cobranza_" name="fecha_cobranza"/>
                        <div ng-messages="myform.fecha_cobranza.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container>                                    
                   <!--  <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Interes</label>
                        <input ng-model="form.obj.porc_interes" md-maxlength="30" name="porc_interes"/>
                        <div ng-messages="myform.porc_interes.$error" role="alert" multiple>
                            <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                        </div>
                    </md-input-container> -->
                    <md-input-container class="md-block" flex-gt-xs flex>
                        <label>Monto</label>
                        <input type="number" ng-model="form.obj.monto" name="monto" required/>
                        <div ng-messages="myform.monto.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">El monto es requerido</div>
                        </div>
                    </md-input-container>
                    <md-autocomplete 
                        flex
                        md-input-name="estado_cronograma_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.estado_cronograma"
                        md-search-text="searchTextes"
                        md-items="item in form.BuscarEstadoCronograma(searchTextes)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Estado del cronograma"
                        required
                        >
                        <md-item-template>
                            <span md-highlight-text="searchTextes">
                                {{item.nombre}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <div ng-messages="myform.estado_cronograma_id.$error">
                            <div ng-message="required" class="my-message">Campo requerido</div>
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout-gt-xs="row" flex>
                    <md-autocomplete
                        ng-disabled="!form.obj.persona.id" 
                        flex
                        md-input-name="contrato_id"
                        md-no-cache="true"
                        md-selected-item="form.obj.contrato"
                        md-search-text="searchContr"
                        md-items="item in form.BuscarContrato(searchContr, form.obj.persona.id)"
                        md-item-text="item.numero"
                        md-min-length="0"
                        md-require-match
                        md-autoselect="false"
                        md-floating-label="Contrato"
                        >
                        <md-item-template>
                            <span md-highlight-text="searchContr">
                                {{item.numero}} {{item.predio.predio_direcciones[0]['direccion_detalle']}}
                            </span>
                        </md-item-template>
                        <md-not-found>No encontrado</md-not-found>
                        <span ng-if="form.obj.contrato.predio.predio_direcciones.length>0" class="form_padres_ubigeo">
                            <span ng-repeat="p in form.obj.contrato.predio.predio_direcciones">
                                  {{p.direccion_detalle}}
                            </span>
                        </span>
                        <div ng-messages="myform.contrato_id.$error">
                            <div ng-message="md-require-match">No ha seleccionada alguna</div>
                        </div>

                    </md-autocomplete>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="dialog-actions">
            <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
            <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando información</span>
            <span flex></span>
            <md-button type="reset" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised hover-raised">Cancelar</md-button>
            <md-button type="submit" ng-click="form.save_or_update(items)" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando">
                <ng-md-icon icon="save" aria-label="Icon"></ng-md-icon> <span ng-if="!form.obj.id">Registrar</span><span ng-if="form.obj.id">Actualizar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>