<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}"
           id="size_regular2" class="size_regular2_sc">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div style="font-size: 16px;">{{form.obj.tipo}}: <b>{{form.obj.descripcion}}</b></div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="form.close()">
                <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div>
            <div layout="row" layout-align="center end">
                <img ng-src="{{form.obj.imagen}}" style="width: {{form.tamanio}}%; height: {{form.tamanio}}%;"/>
            </div>
            <div layout="row" layout-align="center end">
                <table align="center" class="basic table-bordered" width="100%">
                    <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <th align="left" width="35%"><center>Nombres</center></th>
                        <td width="35%"><center>{{form.obj.nombre}}</center></td>
                    </tr>
                    <tr bgcolor="White" onmouseover="this.style.backgroundColor = '#FAFAFA';" onmouseout="this.style.backgroundColor = 'White';" style="background-color: white;">
                        <th align="left" width="35%"><center>Nacionalidad</center></th>
                        <td width="35%"><center>{{form.obj.nacionalidad}}</center></td>
                    </tr>  
                </table>
          </div>         
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="dialog-actions">
        <span flex></span>
        <md-button type="reset" ng-click="form.close()" class="" style="border: 1px solid rgb(224,224,224);">Cerrar</md-button>
    </md-dialog-actions>
</md-dialog>
