/*body,
body>div {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden
}

body>div {
    height: 100%
}
*/
.nav-header {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    z-index: 2;
}

.nav-header h1,
.nav-header h4 {
    color: #fff;
    text-align: center
}

.nav-header a.logo {
    text-decoration: none
}