.menu,
.menu li,
.menu md-select {
    margin: 0;
}

.menu .md-button,
.menu-heading {
    text-align: left;
    width: 100%;
    display: block;
}

.menu,
.menu ul {
    list-style: none;
    padding: 0;
}

.menu>li {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.menu>li:nth-child(1) {
    border-top: none
}

.md-whiteframe-glow-z1 {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14), 0 0 2px 2px rgba(0, 0, 0, .098), 0 0 5px 1px rgba(0, 0, 0, .084)
}

.menu .md-button {
    box-shadow: none!important;
    border-radius: 0;
    cursor: pointer;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-decoration: none;
    white-space: normal;
}

.menu md-select {
    width: 100%;
}

.menu md-select md-select-label {
    justify-content: flex-end;
    padding-top: 10px;
}

.menu md-select md-select-label span {
    margin-right: auto;
    padding-left: 13px;
}

.menu md-select .md-select-icon {
    margin-right: 28px
}

.menu button.md-button::-moz-focus-inner {
    padding: 0
}

.menu-heading {
    line-height: 32px;
    margin: 0;
    /*padding: 8px 16px 0*/
    text-align: center;
    font-weight: 500;
    color: rgb(158,158,158);
    background: rgb(224,224,224);
    font-size: 14px;
}

.menu-toggle-list {
    overflow: hidden;
    position: relative;
    z-index: 1
}

.menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500
}

.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

.btn_menu_nav{
    height: 30px;
    min-height: 30px;
    line-height: 30px !important;
}

.active_menu {
    background: #eceeef;
    border-left: 4px solid #FFC300;
    padding-left: 28px !important;
}