
  <div flex="100">
    <div style="background: #FAFAFA;">
        <div class="md-toolbar-tools md-padding">
            <div layout='column'>
                <span class='md-title'><b>Operaciones entidad</b></span>
                <span class="md-caption">Listado de movimientos en caja y bancos de la entidad</span>
            </div>
            <span flex></span>
            
        </div>
    </div>
    <md-divider></md-divider>
    <div layout-gt-xs="row" class="md-padding" flex="100">
        <div layout-gt-xs="column" flex="100">
            <md-card-actions layout-gt-xs="row">
                
                <div class="md-block" style="background: white; margin: 0px;margin-top: 10px;width: 140px;">
                    <div flex-gt-xs>
                        <label class="fechas">Fecha incial</label>
                        <md-datepicker name="fecha_inicial" ng-model="ctrl.fecha_inicial" ng-change="ctrl.listar()" md-placeholder="Fecha inicial" md-hide-icons="calendar" ng-keyup="ctrl.listar()"></md-datepicker>
                    </div>
                </div>
                <div class="md-block" style="background: white; margin: 0px;margin-top: 10px;width: 140px;">
                    <div flex-gt-xs>
                        <label class="fechas">Fecha final</label>
                        <md-datepicker name="fecha_final" ng-model="ctrl.fecha_final" ng-change="ctrl.listar()" md-placeholder="Fecha final" md-hide-icons="calendar" ng-keyup="ctrl.listar()"></md-datepicker>
                    </div>
                </div>
                <span flex></span>        
            </md-card-actions>
            <div class="table-responsive" ng-if="ctrl.url_reporte">
            	<iframe ng-src="{{ctrl.url_reporte}}" style="width: 100%; height: 440px;" ng-cloak flex="100" layout="row" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    
    </div>
    <pqm-loading indeterminado="ctrl.Indeterminado"></pqm-loading>
</div>
<style type="text/css">
    .fechas{
        font-size: 15px;
        color: #9f9f9f;
    }
</style>
