
<div layout="row" flex="100" ng-if="!form.cargado_cont" layout-align="center center">
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="48px"></md-progress-circular>
</div>
<div layout-gt-xs="row" flex layout-align="center center"  ng-if="form.cargado_cont">
    <div class="alert alert-success" flex style="text-align: center;">
        <ng-md-icon icon="check" aria-label="Close"></ng-md-icon><br>
        <span class="md-caption">CONTRATO: <b>{{form.cont.numero}}</b></span><br>
        <span class="md-subhead">{{form.cont.persona.nombre_completo|uppercase}}</span>
        <h4 style="margin-top: 2px;">Tu contrato está listo, puedes descargar documento</h4>
    </div>
</div>
 <div layout-gt-xs="row" flex layout-align="center center" ng-if="form.cargado_cont">
    <md-button ng-click="form.descargar('ver')" style="border: 1px solid silver;" class="md-primary">
        <ng-md-icon icon="open_in_new"></ng-md-icon> Ver contrato PDF
    </md-button>
    <md-button ng-click="form.ver_pago_pdf('ver')" style="border: 1px solid silver;" class="md-primary">
        <ng-md-icon icon="open_in_new"></ng-md-icon> Ver detalle de pago PDF
    </md-button>
    <md-button ng-click="form.ir_contratos()" style="border: 1px solid silver;" class="md-primary">
        <ng-md-icon icon="directions_walk"></ng-md-icon> Ir a contratos
    </md-button>
</div>
<pqm-loading indeterminado="form.Indeterminado"></pqm-loading>