 <div layout="column">
 <div layout="row" flex="100" layout-align="center center">
     <md-card style="width: 900px;">
        <md-toolbar>
            <div class="md-toolbar-tools" layout-align="center center">
        <!-- div style="background: rgb(117,117,117); color: rgba(237, 249, 76, 0.94);">
          <div class="md-toolbar-tools md-padding" layout='column' layout-align="center center"> -->
                <div  layout='column' flex  style="text-align: center;">
                  <span class='md-subhead'><b>CONTRATO DE SERVICIOS DE SANEAMIENTO</b></span>
                  <span class="md-caption" hide-xs>JUNTA ADMINISTRADORA DE SERVICIOS DE SANEAMIENTOS SANTA LUCIA - MORALES</span>
                  <span flex></span>
                </div>
              <!-- </div>
            </div> -->
            </div>
        </md-toolbar>
        {{inde.set_paso($parent.paso)}}
         <md-steppers
            md-dynamic-height
            md-stretch-steppers="always" 
            md-selected="inde.paso" 
            style="background: white;"
            md-disable-tabs-behavior="true">
                <!-- <md-step label="Registro del contrato"
                     ng-click="form.change_paso(pa)"
                     md-complete="false" 
                     ng-disabled="">
                    <md-step-body>
                    </md-step-body>
                </md-step>
                <md-step label="Pago en caja"
                     ng-click="form.change_paso(pa)"
                     md-complete="false"
                     >
                    <md-step-body>
                    </md-step-body>
                </md-step> -->
                <md-step ng-repeat="p in $parent.listado" label="{{p.titulo}}"
                     ng-click="form.change_paso(pa)"
                     md-complete="p.complete"
                     ng-disabled=""
                     >
                </md-step>
        </md-steppers>
        <div class="md-padding">
            <div ui-view></div>
        </div>
    </md-card>
</div>
</div>
<style type="text/css">
    body{
        background: silver;
    }
</style>