
<div layout="row" flex="100" ng-if="!form.cargado_cronog" layout-align="center center">
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="48px"></md-progress-circular>
</div>
<form name='myform' autocomplete="off" ng-cloak>
<div layout="row" ng-if="form.cargado_cronog && form.cronog.id">
	<div class="table-responsive">
        <table align="center" class="basic table-bordered" width="100%">
            <tr style="height: 30px;">
            	<td align="right" width="205" style="background: #fafafa;">PERSONA:</td>
                <td align="left" colspan="5">{{ form.cont.persona.nombre_completo|uppercase }}</td>
            </tr>
            <tr style="height: 30px;">
            	<td align="right" width="205" style="background: #fafafa;">CONTRATO N°:</td>
                <td align="left" colspan="5">{{ form.cont.numero}}</td>
            </tr>
            <tr style="height: 30px;">
            	<td align="right" style="background: #fafafa;">DESCRIPCIÓN:</td>
                <td align="left">{{ form.cronog.motivo_movimiento_cuenta.nombre }} / {{form.cronog.descripcion}}</td>
            </tr>
            <tr style="background-color: white; height: 30px;">
            	<td align="right" style="background: #fafafa;">MONTO A PAGAR:</td>
                <td align="left"><span class="md-subhead"><b>{{ (form.cronog.monto-form.cronog.pagado)|currency:"S/. "}}</b></span> <span class="md-caption">SOLES</span></td>
             </tr>
        </table>
    </div>
</div>
<br>
<div layout="row" flex="100" ng-if="form.cargado_cronog && form.cronog.id">
	<fieldset class="field_set_cont" flex>
    	<legend class="size15">Información del pago</legend>
	  	<div layout="column" flex class="md-padding">
	  		<div layout="row" flex>
                <md-input-container class="md-block" flex-gt-xs="30" flex>
                    <label>Tipo cuenta</label>
                    <md-select name="tipo_cuenta_id" ng-model="form.obj.tipo_cuenta_id" aria-label="s" required ng-change="form.change_tipo_cuenta(form.obj)">
                        <md-option></md-option>
                        <md-option ng-repeat="p in form.tiposcuenta" ng-value="p.id">{{p.nombre}}</md-option>
                    </md-select>
                    <div ng-messages="myform.tipo_cuenta_id.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Este campo es requirido</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="40" flex>
                    <label>Cuenta</label>
                    <md-select name="cuenta_entidad_id" ng-model="form.obj.cuenta_entidad_id" aria-label="s" required ng-change="form.change_cuenta_entidad(form.obj)">
                        <md-option></md-option>
                        <md-option ng-repeat="p in form.cuentasentidad" ng-value="p.id">{{p.nombre}}{{p.persona_cuenta.entidad_financiera.tipo_ent_finan.concatenar}} {{p.persona_cuenta.entidad_financiera.nombre}} {{p.persona_cuenta.numero}}</md-option>
                    </md-select>
                    <div ng-messages="myform.cuenta_entidad_id.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Este campo es requirido</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="30" flex>
                    <label>Medio de pago</label>
                    <md-select name="tipo_medio_pago_id" ng-model="form.obj.tipo_medio_pago_id" aria-label="s" required ng-change="form.change_tipo_medio_pago(form.obj)">
                        <md-option></md-option>
                        <md-option ng-repeat="p in form.tiposmediopago" ng-value="p.id">{{p.nombre}}</md-option>
                    </md-select>
                    <div ng-messages="myform.tipo_medio_pago_id.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Este campo es requirido</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex>
                
                <md-input-container class="md-block" flex-gt-xs="30" flex ng-if="form.cronog.id">
                    <label>Importe</label>
                    <input type="number" ng-model="form.obj.importe" name="importe" min="0.5" required max="{{(form.cronog.monto-form.cronog.pagado)/form.obj.tipo_cambio}}" ng-change="form.change_importe(form.obj)" md-autofocus ng-disabled="form.obj.tipo_cuenta_id === 1"/>
                    <div ng-messages="myform.importe.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Campo requerido</div>
                        <div ng-message="min" class="my-message">Mínimo 0.5</div>
                        <div ng-message="max" class="my-message">Máximo {{((form.cronog.monto-form.cronog.pagado)/form.obj.tipo_cambio)|currency:""}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Tipo moneda</label>
                    <md-select name="moneda_id" ng-model="form.obj.moneda_id" aria-label="s" required ng-change="form.change_moneda(form.obj)">
                        <md-option ng-repeat="p in form.monedas" ng-value="p.id">{{p.nombre_plural}}</md-option>
                    </md-select>
                    <div ng-messages="myform.moneda_id.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Este campo es requirido</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="form.entidad.id && form.obj.moneda_id && form.obj.moneda_id !== form.entidad.moneda_id" class="md-block" flex-gt-xs="30" flex>
                    <label>Tipo cambio</label>
                    <input type="number" ng-model="form.obj.tipo_cambio" name="tipo_cambio" required ng-change="form.change_importe(form.obj)"/>
                    <div ng-messages="myform.tipo_cambio.$error" role="alert" multiple >
                        <div ng-message="required" class="my-message">Campo requerido</div>
                    </div>
                    <span class="form_padres_ubigeo">
                        {{form.entidad.moneda__nombre_plural}} ({{form.entidad.moneda__simbolo}})
                    </span>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container class="md-block" flex-gt-xs flex>
                    <label>Detalle</label>
                    <input name="detalle" ng-model="form.obj.detalle" md-maxlength="120"/>
                    <div ng-messages="myform.detalle.$error" role="alert" multiple>
                        <div ng-message="md-maxlength" class="my-message">Excede el tamaño de caracteres</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container class="md-block" flex-gt-xs="33" flex>
                    <label>Recibido</label>
                    <input type="number" ng-model="form.obj.recibido" name="recibido" ng-change="form.change_recibido(form.obj)"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="33" flex>
                    <label>Vuelto</label>
                    <input type="number" disabled ng-model="form.obj.vuelto" name="vuelto"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="33" flex>
                    <label>Comisiones</label>
                    <input type="number" disabled ng-model="form.obj.comisiones" name="comisiones"/>
                </md-input-container>
            </div>
	  	</div>
	</fieldset>
</div>
<br>
<div layout="row" flex="100" ng-if="form.cargado_cronog && form.cronog.id">
    <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
    <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Registrando pago</span>
    <span flex></span>
    <md-button type="button" ng-disabled="form.guardando" ng-click="form.ir_contrato()" class="md-raised">VER CONTRATO</md-button>
    <md-button type="submit" ng-click="form.registrarpago()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando"> Registrar pago
    </md-button>
</div>
</form>