<form name='myform' autocomplete="off" ng-cloak>
<div layout="row" flex="100">
	<fieldset class="field_set_cont" flex>
        <legend class="size15">Datos del usuario</legend>
		  	<div layout="column" flex class="md-padding">
			    <div layout="row">
			      <img ng-if="!form.obj.person.foto_logo_rec" style="width: 65px; height: 65px; background: #fafafa; border: 1px solid #eee;" ng-src="{{inde.storage+form.obj.persona.foto_logo_rec||''}}" alt=""/>
			      <img ng-if="form.obj.person.foto_logo_rec" style="width: 65px; height: 65px; background: #fafafa; border: 1px solid #eee;" ng-src="{{form.obj.person.foto_logo_rec||''}}" alt=""/>

			      	<div layout="column" flex ng-if="form.obj.persona.id">
			      		<md-progress-circular ng-if="!form.cargado_person" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
			      	    <div class="table-responsive" flex style="margin-right: auto; margin-left: auto;" ng-if="form.cargado_person">
			              	<table align="center" class="basic table-bordered" width="100%">
				                <tr>
				                  <td align="right" width="140" style="background: #fafafa;">
					                  <span ng-if="form.obj.person.tipo_persona.codigo === '01'">NOMBRE:</span>
					                  <span ng-if="form.obj.person.tipo_persona.codigo === '02'">RAZÓN SOCIAL:</span>
					              </td>
				                  <td><b>{{form.obj.person.nombre_completo|uppercase}}</b></td>
				                </tr>
				                <tr ng-repeat="p in form.obj.person.documentos">
				                  <td align="right" style="background: #fafafa;">{{p.tipo_documento.nombre}}:</td>
				                  <td><b>{{p.numero}}</b></td>
				                </tr>
				                <tr ng-repeat="p in form.obj.person.direcciones">
				                  <td align="right" style="background: #fafafa;">{{p.tipo_direccion.nombre|uppercase}}:</td>
				                  <td>{{p.direccion_detalle}}, {{p.ubigeo.nombre}}/{{p.ubigeo.padre.nombre}}</td>
				                </tr>
				                <tr ng-repeat="p in form.obj.person.contactos">
				                  <td align="right" style="background: #fafafa;"><span ng-if="p.tipo_contacto.codigo === 'RSO'">{{p.cuenta_contacto.nombre|uppercase}}:</span><span ng-if="p.tipo_contacto.codigo !== 'RSO'">{{p.tipo_contacto.nombre|uppercase}}:</span></td>
				                  <td>{{p.valor_contacto}}</td>
				                </tr>
				             </table>
			            </div>
			      	</div>
			      	<div layout="column" ng-if="form.obj.persona.id && form.cargado_person">
			      		<md-button class="md-icon-button md-primary" ng-click="form.cancel_persona()" style="margin: -5px -25px -3px 0px;">
		                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
		                    <md-tooltip>Cambiar persona</md-tooltip>
		                </md-button>
		                <md-button class="md-icon-button md-primary" ng-click="form.form_persona($vent,null)" style="margin: -5px -25px -3px 0px;">
		                    <ng-md-icon icon="add" aria-label="Edit"></ng-md-icon>
		                    <md-tooltip md-auto-hide>Añadir persona</md-tooltip>
		                </md-button>
		                <md-button class="md-icon-button md-primary" ng-click="form.form_persona($vent, form.obj.persona)" style="margin: -5px -25px -3px 0px;">
		                    <ng-md-icon icon="edit" aria-label="Edit"></ng-md-icon>
		                    <md-tooltip md-auto-hide>Editar datos</md-tooltip>
		                </md-button>

			      	</div>
			      	<md-autocomplete
				      	style="padding-left: 4px;"
				        flex
				        md-input-name="persona_id"
				        md-no-cache="true"
				        md-selected-item="form.obj.persona"
				        md-selected-item-change="form.change_persona(form.obj.persona.id)"
				        md-search-text="searchTextPE"
				        md-items="item in form.BuscarPersona(searchTextPE)"
				        md-item-text="item.nombre_completo"
				        md-min-length="0"
				        md-require-match
				        md-autoselect="false"
				        md-floating-label="Buscar persona"
				        required
				        md-autofocus
				        md-menu-class="persona_auto_compl"
				        ng-if="!form.obj.persona.id"
			        >
			        <md-item-template>
			          <img class="item-imagen" ng-src="{{inde.storage+item.foto_logo_rec||''}}" alt=""/>
			          <span class="item-title">
			            {{item.nombre_completo}}
			          </span>
			          <span class="item-metadata">
			            <span ng-repeat="p in item.persona_persona_documentos">
			              {{p.tipo_documento.nombre}}: {{p.numero}}
			            </span>
			          </span>
			        </md-item-template>
			        <md-not-found>No encontrado</md-not-found>
			        <span ng-if="form.obj.persona.persona_persona_documentos" class="form_padres_ubigeo">
			          <span ng-repeat="p in form.obj.persona.persona_persona_documentos">
			            {{p.tipo_documento.nombre}}: {{p.numero}}
			          </span>
			        </span>
			        <div ng-messages="myform.obj.persona_id.$error">
			          <div ng-message="md-require-match">No ha seleccionada alguna</div>
			          <div ng-message="required">La persona es requerida</div>
			        </div>
			      </md-autocomplete>
			      <md-menu class="more_options" md-position-mode="target-right target" md-offset="0 44" ng-if="!form.obj.persona.id">
			        <md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
			          <ng-md-icon icon="more_vert" aria-label="a"></ng-md-icon>
			        </md-button>
			        <md-menu-content width="2">
			          <md-menu-item class="min_md_menu_item30">
			            <md-button ng-click="form.form_persona($event,null)">Registrar persona</md-button>
			          </md-menu-item>
			        </md-menu-content>
			      </md-menu>
			    </div>
			</div>
		</fieldset>
   	</div>
   	<br>
   	<div layout="row" flex="100">
		<fieldset class="field_set_cont" flex>
        	<legend class="size15">Datos del predio</legend>
		  	<div layout="column" flex class="md-padding">
		  		<md-progress-circular ng-if="!form.cargado_predios" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
		  		<div layout="row" layout-align="center center" ng-if="form.obj.person.id && form.cargado_predios && !form.obj.predio.id">
			        <div layout="row" layout-wrap
			             flex="100" flex-md="100" flex-sm="100" flex-gt-md="100">
			            <md-list-item layout-align="center center" ng-repeat="p in form.mispredios" 
			                          flex-xs="100" flex-sm="50" flex-md="50" flex="50" flex-lg="50">
			                <md-card flex="100" class="card_hover">
			                    <md-button class="md-grid-item-content md-primary" ng-click="form.sel_predio(p)" style="margin: 0px; text-transform: none; line-height: 16px;" ng-disabled="p.contratos>0">
			                        <div layout="column" layout-align="start center" style="padding-top: 10px;padding-bottom: 10px;">
			                            <span class="md-caption"><b>{{p.predio_direcciones[0]['direccion_detalle']}}</b></span>
			                            <span class="md-caption">{{p.predio_direcciones[0]['ubigeo']['nombre']}} - {{p.predio_direcciones[0]['ubigeo']['padre']['nombre']}}</span>
			                        </div>
			                        <!--<md-icon md-svg-src="recursos/iconos/ic_device_hub_black_24px.svg" style="display:inline-block;"></md-icon>-->
			                    </md-button>
			                </md-card>
			            </md-list-item>
			            <md-list-item layout-align="center center"
			                          flex-xs="100" flex-sm="50" flex-md="50" flex="50" flex-lg="50">
			                <md-card flex="100" class="card_hover">
			                    <md-button class="md-grid-item-content md-primary" ng-click="form.form_predio($event,null)" style="margin: 0px; text-transform: none; line-height: 16px;">
			                        <div layout="column" layout-align="start center" style="padding-top: 10px;padding-bottom: 10px;">
			                            <span class="md-caption"><ng-md-icon icon="add" aria-label="Edit"></ng-md-icon> NUEVO PREDIO</span>
			                        </div>
			                        <!--<md-icon md-svg-src="recursos/iconos/ic_device_hub_black_24px.svg" style="display:inline-block;"></md-icon>-->
			                    </md-button>
			                </md-card>
			            </md-list-item>
			        </div>
			    </div>
			    <div layout="row" flex ng-if="form.obj.predio.id">
				    <div class="table-responsive" flex style="margin-right: auto; margin-left: auto;">
		              	<table align="center" class="basic table-bordered" width="100%">
			                <tr>
			                  <td align="right" width="205" style="background: #fafafa;">DIRECCIÓN:</td>
			                  <td><b>{{form.obj.predio.predio_direcciones[0]['direccion_detalle']}}</b></td>
			                </tr>
			                 <tr>
			                  <td align="right" width="205" style="background: #fafafa;">ZONA:</td>
			                  <td>{{form.obj.predio.zona.nombre}}</td>
			                </tr>
			                <tr>
			                  <td align="right" style="background: #fafafa;">DISTRITO:</td>
			                  <td>{{form.obj.predio.predio_direcciones[0]['ubigeo']['nombre']}} - {{form.obj.predio.predio_direcciones[0]['ubigeo']['padre']['nombre']}}</td>
			                </tr>
			                <tr>
			                  <td align="right" style="background: #fafafa;">REFERENCIA DERECHA:</td>
			                  <td>{{form.obj.predio.predio_direcciones[0]['referencia1']}}</td>
			                </tr>
			                <tr>
			                  <td align="right" style="background: #fafafa;">REFERENCIA IZQUIERDA:</td>
			                  <td>{{form.obj.predio.predio_direcciones[0]['referencia2']}}</td>
			                </tr>
			                <tr>
			                  <td align="right" style="background: #fafafa;">PUNTOS GPS:</td>
			                  <td>[{{form.obj.predio.predio_direcciones[0]['punto_lat']}}, {{form.obj.predio.predio_direcciones[0]['punto_long']}}]</td>
			                </tr>
			                <tr>
			                  <td align="right" style="background: #fafafa;">ESTADO DEL PREDIO:</td>
			                  <td><span ng-if="form.obj.predio.estado_predio.codigo !=='Otros'">{{ form.obj.predio.estado_predio.nombre}}</span>{{ form.obj.predio.estado_descripcion}}</td>
			                </tr>
			             </table>
		            </div>
	            	<div layout="column">
			      		<md-button class="md-icon-button md-primary" ng-click="form.cancel_predio()" style="margin: -5px -25px -3px 0px;">
		                    <ng-md-icon icon="close" aria-label="Close"></ng-md-icon>
		                    <md-tooltip>Cambiar predio</md-tooltip>
		                </md-button>
		                <md-button class="md-icon-button md-primary" ng-click="form.form_predio($vent,null)" style="margin: -5px -25px -3px 0px;">
		                    <ng-md-icon icon="add" aria-label="Edit"></ng-md-icon>
		                    <md-tooltip md-auto-hide>Añadir predio</md-tooltip>
		                </md-button>
		                <md-button class="md-icon-button md-primary" ng-click="form.form_predio($vent, form.obj.predio)" style="margin: -5px -25px -3px 0px;">
		                    <ng-md-icon icon="edit" aria-label="Edit"></ng-md-icon>
		                    <md-tooltip md-auto-hide>Editar predio</md-tooltip>
		                </md-button>

			      	</div>
			    </div>
		  	</div>
		</fieldset>
	</div>
	<br>
	<div layout="row" flex="100">
		<fieldset class="field_set_cont" flex>
        	<legend class="size15">Costo de inscripción y servicios</legend>
		  	<div layout="column" flex class="md-padding" ng-if="form.obj.predio.id">
		  		<div class="table-responsive" flex style="margin-right: auto; margin-left: auto;">
	              	<table align="center" class="basic table-bordered" width="100%">
		                <tr>
		                  <td align="right" width="205" style="background: #fafafa;">COSTO DE INSCRIPCIÓN:</td>
		                  <td><span class="md-subhead">S/. {{form.obj.inscrip.precio}}</span> <span class="md-caption">SOLES</span></td>
		                </tr>
		                 <tr>
		                  <td align="right" style="background: #fafafa;">TIPO DE USO SERVICIO:</td>
		                  <td style="font-size: 16px;">
		                  	<md-input-container class="md-block" flex-xs md-no-float style="padding: 0px; margin: 0;margin-bottom: -4px;">
			                  <md-select name="tipo_uso_servicio_id" ng-model="form.obj.tipo_uso_servicio_id"
			                  	aria-label="s" required style="line-height: 37px; margin-top: -7px;">
			                    <md-option ng-repeat="p in form.tiposusoservicio" ng-value="p.id">{{p.nombre}}</md-option>
			                  </md-select>
			                </md-input-container>
		                  </td>
		                </tr>
		                <tr>
		                  <td align="right" style="background: #fafafa;">CONTROL:</td>
		                  <td style="font-size: 15px;padding-top: 13px; padding-left: 4px;">
		                  	<!-- <md-input-container class="md-block" flex-xs md-no-float style="padding: 0px; margin: 0;margin-bottom: -4px;">
			                  <md-select name="tipo_uso_servicio_id" ng-model="form.obj.tipo_uso_servicio_id"
			                  	aria-label="s" required style="line-height: 37px; margin-top: -7px;">
			                    <md-option ng-repeat="p in form.tiposusoservicio" ng-value="p.id">{{p.nombre}}</md-option>
			                  </md-select>
			                </md-input-container> -->
			                <!-- <div layout-gt-sm="row" style="padding-left: 10px"> -->
			                  <md-radio-group ng-model="form.obj.forma_cobranza" ng-change="form.change_forma_cobranza(form.contrato.forma_cobranza)">
			                    <md-radio-button ng-repeat="p in form.formascobranza" class="md-primary form_radios_tipo_pers" ng-value="p.id" aria-label="s">{{p.nombre|uppercase}}</md-radio-button>
			                  </md-radio-group>
		                  </td>
		                </tr>
		                <tr>
			                 <td align="center" style="background: #fafafa;" colspan="2">COBRANZA MENSUAL / DETALLES Y COSTOS</td>
			            </tr>
			            <tr>
			                 <td align="left" colspan="2">
			                 	<div class="table-responsive" flex style="margin-right: auto; margin-left: auto;">
				                 	<table align="center"  class="basic table-bordered" width="100%">
						                <tr ng-repeat="p in form.servicios">
						                  	<td align="right" width="203" height="40">
							                  	<md-checkbox ng-if="p.readonly"
							                      	ng-checked="true"
							                      	aria-label="a"
							                      	class="md-primary"
							                      	style="padding-top: 3px;margin-bottom: 2px;">
							                      	{{p.nombre}}
		                      					</md-checkbox>
		                      					<md-checkbox ng-if="!p.readonly"
							                      	ng-model="p.select"
							                      	aria-label="a"
							                      	class="md-primary"
							                      	style="padding-top: 3px;margin-bottom: 2px;">
							                      	{{p.nombre}}
		                      					</md-checkbox>
						              		</td>
						                  	<td style="font-size: 16px;">
						                  		<md-input-container flex-gt-xs flex style="padding: 0px; margin: 0;margin-bottom: -4px;" ng-if="p.select && (form.obj.forma_cobranza === 'SME'||p.codigo !== 'ServAguaPo')">
							                        <input type="number" ng-model="p.precio" min="0" required style="margin-bottom: -30px;" max="4000"/>
							                    </md-input-container>
							                    <md-input-container flex-gt-xs flex style="padding: 0px; margin: 0;margin-bottom: -4px;" ng-if="p.codigo === 'ServAguaPo' && form.obj.forma_cobranza === 'CME'">
							                        <input type="number" ng-model="p.precio_m3" min="0" required style="margin-bottom: -30px;" max="4000"/>
							                    </md-input-container>
							                    <span class="md-caption" ng-if="p.codigo === 'ServAguaPo' && form.obj.forma_cobranza === 'CME'"> x <b>M³</b> consumidos</span>
						                  	</td>
						                </tr>
						            </table>
						        </div>
			                 </td>
			            </tr>
			            <tr>
		                  <td align="right" height="25" style="background: #fafafa;">PAGO MENSUAL:</td>
		                  <td style="background: #fafafa;"><span class="md-caption" ng-if="form.obj.forma_cobranza === 'CME'">Se calculará <b>según consumido</b> en M³ <span ng-if="form.servicios[1]['select']">+ {{form.servicios[1]['nombre']}}</span></span>
		                  	<span class="md-subhead" ng-if="form.obj.forma_cobranza === 'SME'">
		                  		<b>{{form.total_mes(form.servicios)|currency:""}}</b> <span class="md-caption">SOLES</span>
		                  	</span>
		                  </td>
		                </tr>
		                <tr>
		                  <td align="right" height="25" style="background: #fafafa;">SUSTENTACIÓN DEL COSTO:</td>
		                  <td style="font-size: 15px;">
		                  	<md-input-container flex="100" style="padding: 0px; margin: 0;margin-bottom: -4px; width: 100%;">
		                        <input type="text" ng-model="form.obj.comentario" style="margin-bottom: -22px;"/>
		                    </md-input-container>
		                  </td>
		              	</tr>
		              	<tr>
		                  <td align="right" height="25" style="background: #fafafa;">FECHA DEL CONTRATO:</td>
		                  <td style="font-size: 15px;">
		                  	<md-input-container style="padding: 0px; margin: 0;margin-bottom: -4px; width: 100%;">
		                        <input type="date" ng-model="form.obj.fecha_contrato_" style="margin-bottom: -22px;" required/>
		                    </md-input-container>
		                  </td>
		              	</tr>
		            </table>
		        </div>
		  	</div>
		</fieldset>
	</div>
	<br>
	<div layout="row" flex="100">
	    <md-progress-circular ng-if="form.guardando" class="md-primary" md-mode="indeterminate"  md-diameter="24px"></md-progress-circular>
	    <span style="padding-left: 6px;" class="md-caption" ng-if="form.guardando">Guardando contrato</span>
	    <span flex></span>
	    <md-button type="button" ng-disabled="form.guardando" ng-click="form.cancel()" class="md-raised">Cancelar</md-button>
	    <md-button type="submit" ng-click="form.save_next()" class="md-raised md-primary" ng-disabled="!myform.$valid||form.guardando||!form.obj.predio.id"> Guardar y continuar
	    </md-button>
	</div>
</form>

<!-- <span>Registro</span>
{{inde.storage}}
{{inde.entidad_id}} -->