<md-dialog aria-label="Form"  md-theme="{{ $parent.dynamicTheme}}"
           id="size_regular2" class="size_regular2_sc">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div style="font-size: 16px;">{{form.obj.tipo}}: <b>{{form.obj.descripcion}}</b></div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="form.close()">
                <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div>
            <div layout="row" layout-align="center end">
                <img ng-src="{{form.obj.imagen}}" style="width: {{form.tamanio}}%; height: {{form.tamanio}}%;"/>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="dialog-actions">
        <!-- <md-slider-container>
          <span>R</span> -->
        <md-slider flex min="33" max="100" ng-model="form.tamanio" aria-label="red" class="md-primary">
        </md-slider>
        <!-- <md-input-container>
          <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
        </md-input-container>
      </md-slider-container> -->

        <span flex></span>
        <md-button type="reset" ng-click="form.close()" class="" style="border: 1px solid rgb(224,224,224);">Cerrar</md-button>
        <md-button target="_blank" ng-href="{{form.obj.imagen}}" download class="md-primary"  style="border: 1px solid rgb(224,224,224);">
            <ng-md-icon icon="open_in_new" aria-label="Close dialog"></ng-md-icon> Abrir nueva ventana
        </md-button>
    </md-dialog-actions>
</md-dialog>
